@use "sass:map";
@import "../../../root/vars";

.n-select {
    background: $color-input;
    border: 1px solid $color-gray-15;
}

.n-select.n-disabled {
    background: $color-input-off;
}

.n-select__clear,
.n-select__angle {
    color: $color-gray-60;
}

.n-select__clear i {
    background: rgba($color-gray-15, 0.6);
}

.n-select__body,
.n-select__empty {
    background: $color-input;
    box-shadow: 0 1px 3px 1px rgba($color-shadow, 0.2);
}

.n-select__empty {
    color: $color-gray-60;
}

@each $color, $values in $colors {

    $-color-base: map.get($values, 'base');
    $-color-light: map.get($values, 'light');
    $-color-dark: map.get($values, 'dark');

     .n-select--#{$color}:not(.n-disabled):hover,
     .n-select--#{$color}:not(.n-disabled).n-focus {
        border-color: $-color-base;
    }

    .n-select--#{$color} .n-select__item {
        color: $color-white;
        background: $-color-base;
    }

}
