@use "@kizmann/nano-ui/src/root/helpers" as *;

.n-cascader-panel {
    overflow: hidden;
    display: inline-flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    border: 1px solid transparent;
    border-radius: size('base-rad');
}

.n-cascader-panel__items {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}