@import "../../../root/vars";

.n-empty-icon--default .n-empty-icon__frame {
    background-image: svg-load('empty-default.svg', fill=$color-white);
}

.n-empty-icon--ufo .n-empty-icon__frame {
    background-image: svg-load('empty-space.svg', fill=$color-white);
}

.n-empty-icon__text {
    color: rgba($color-white, 0.4);
}
