@use "@kizmann/nano-ui/src/root/helpers" as *;

.n-collapse__header-label {
    flex: 1 1 auto;
}

.n-collapse__header-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.n-collapse__header-icon,
.n-collapse__header-angle {
    flex: 0 0 auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: size('base-hgt-inline');
    height: size('base-hgt-inline');
}

.n-collapse__header-angle {
    transition: transform 0.3s;
}

.n-collapse__header.n-active .n-collapse__header-angle {
    transform: rotate(90deg);
}

.n-collapse__header-icon {
    font-size: size('base-fnt-icon');
    margin-right: size('base-pad', 'calc($ * 0.6)');
}

.n-collapse__header-label {
    font-size: 1.05em;
}

.n-collapse__header-angle {
    font-size: size('base-fnt-icon');
    margin-left: size('base-pad', 'calc($ * 0.6)');
}

.n-collapse__header-action {
    flex: 0 0 auto;
    margin: 0 size('base-pad', 'calc($ * 0.6)');
}

.n-collapse__header-action > *:not(:last-child) {
    margin-right: size('base-pad');
}