@use 'sass:map';
@use "../../../root/vars" as *;

.n-collapse__header-icon {
    flex: 0 0 auto;
    color: $color-gray-40;
}

.n-collapse__header-label {
    flex: 1 1 auto;
}

.n-collapse__header-label span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.n-collapse__header-angle {
    flex: 0 0 auto;
    color: $color-gray-40;
    transition: transform 0.3s;
}

.n-collapse__header.n-active .n-collapse__header-angle {
    transform: rotate(90deg);
}

@each $suffix, $values in $form {

    $-collapse-font: map.get($values, 'font');
    $-collapse-size: map.get($values, 'size');
    $-collapse-radius: map.get($values, 'radius');
    $-collapse-ratio: map.get($values, 'ratio');

    .n-collapse--#{$suffix} .n-collapse-item {
        margin-top: $-collapse-size * $-collapse-ratio;
    }

    .n-collapse--#{$suffix} .n-collapse__header-icon {
        font-size: $-collapse-font - 2;
        margin-right: $-collapse-size * $-collapse-ratio * 0.7;
    }

    .n-collapse--#{$suffix} .n-collapse__header-label {
        font-size: $-collapse-font + 1;
    }

    .n-collapse--#{$suffix} .n-collapse__header-angle {
        font-size: $-collapse-font - 2;
        margin-left: $-collapse-size * $-collapse-ratio * 0.7;
    }

}
