@import "src/root/helpers";

.n-notification-frame {
    z-index: 999999999;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.n-notification-frame.n-notification-frame--top-start {
    top: 0;
    left: 0;
}

.n-notification-frame.n-notification-frame--top-center {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.n-notification-frame.n-notification-frame--top-end {
    top: 0;
    right: 0;
}

.n-notification-frame.n-notification-frame--bottom-start {
    bottom: 0;
    left: 0;
}

.n-notification-frame.n-notification-frame--bottom-center {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.n-notification-frame.n-notification-frame--bottom-end {
    bottom: 0;
    right: 0;
}

.n-notification-frame.n-notification-frame--bottom-start,
.n-notification-frame.n-notification-frame--bottom-center,
.n-notification-frame.n-notification-frame--bottom-end {
    flex-direction: column-reverse;
}

.n-notification {
    cursor: default;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 280px;
    margin: size('base-pad');
    padding: size('base-pad-vertical', 'calc($ * 1.6)') size('base-pad', 'calc($ * 1.6)');
    font-size: size('base-fnt');
    border-radius: size('base-rad');
    transition: transform 0.15s;
}

.n-notification:not(:first-child) {
    margin-bottom: 0;
}


.n-notification-frame.n-notification-frame--top-start .n-notification:not(.n-active),
.n-notification-frame.n-notification-frame--bottom-start .n-notification:not(.n-active) {
    transform: translateX(-150%);
}

.n-notification-frame.n-notification-frame--top-end .n-notification:not(.n-active),
.n-notification-frame.n-notification-frame--bottom-end .n-notification:not(.n-active) {
    transform: translateX(150%);
}

.n-notification__icon {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: size('base-pad');
    font-size: 1.15em;
}

.n-notification__text {
    overflow: hidden;
    flex: 1 1 auto;
    line-height: 1.2;
    overflow-wrap: break-word;
}