@use "../../../root/helpers" as *;

.n-chart-bar {
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    height: 200px;
}

.n-chart-bar__header {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: size('base-fnt');
    margin-bottom: size('base-pad-vertical', 'calc($ * 2)');
}

.n-chart-bar__body {
    flex: 1 1 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
}

.n-chart-bar__total {
    flex: 1 1 auto;
}

.n-chart-bar__total span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.n-chart-bar__tag {
    padding: size('base-pad-vertical', 'calc($ * 0.4)') size('base-pad');
    background: color('gray-50', 0.2);
    color: color('text', 0.6);
    border-radius: size('base-rad-inline');
}

.n-chart-bar__frame {
    flex: 1 1 auto;
    position: relative;
    height: 100%;
}

.n-chart-bar__legend {
    flex: 0 0 auto;
    height: 100%;
    width: 230px;
    margin-left: size('base-pad', 'calc($ * 2)');
    background: color('gray-50', 0.2);
    border-radius: size('base-rad-inline');
}

.n-chart-bar__legend .n-scrollbar__wrap {
    padding: size('base-pad', 'calc($ * 1.3)') size('base-pad', 'calc($ * 1.5)');
}

.n-chart-bar__avg {
    pointer-events: none;
    position: absolute;
    left: 0;
    bottom: var(--n-chart-avg);
    display: flex;
    align-items: center;
    width: 100%;
}

.n-chart-bar__avg:after {
    content: '\00a0';
    flex: 1 1 auto;
    display: block;
    height: 0;
    border-bottom: 2px dotted color('gray-50', 0.2);
}

.n-chart-bar__bars {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    height: 100%;
}

.n-chart-bar .n-chart-item {
    position: relative;
    flex: 1 1 auto;
    min-height: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.n-chart-bar .n-chart-item:not(:first-child) {
    margin-left: size('base-pad');
}

.n-chart-bar .n-chart-item:not(:last-child) {
    margin-right: size('base-pad');
}

.n-chart-bar .n-chart-item .n-chart-bar__bar {
    flex: 1 1 auto;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    min-height: 0;
    background: color('gray-50', 0.15);
    border-radius: size('base-rad-inline');
}

.n-chart-bar .n-chart-item .n-chart-bar__bar:before {
    content: '\00a0';
    min-width: size('base-hgt', 'calc($ * 1.2)');
    height: 100%;
    max-height: var(--n-chart-height);
    border-radius: size('base-rad-inline');
}

.n-chart-bar .n-chart-item .n-chart-bar__bar:before {
    background: linear-gradient(0deg, color('base-color') 20%, color('base-color', 0.6) 100%);
    transition: opacity 0.2s, max-height 0.4s;
}

.n-chart-bar .n-chart-item:hover .n-chart-bar__bar:before {
    opacity: 0.6;
    //max-height: 500px;
}

.n-chart-bar .n-chart-item .n-chart-bar__dot {
    height: size('base-hgt-inline');
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.n-chart-bar .n-chart-item .n-chart-bar__dot:before {
    content: '\00a0';
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 500px;
    background: color('text', 0.3);
}

.n-chart-bar .n-chart-item .n-chart-bar__value {
    pointer-events: none;
    z-index: 200;
    position: absolute;
    left: 50%;
    bottom: 0;
    padding: size('base-pad-vertical') size('base-pad');
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    background: color('popover');
    transform: translate(-50%, 30%) scale(0.7);
    border-radius: size('base-rad');
    transition: opacity 0.2s, transform 0.2s;
    box-shadow: 0 0 15px color('shadow', 0.1);
}

.n-chart-bar .n-chart-item:hover .n-chart-bar__value {
    opacity: 1;
    transform: translate(-50%, 30%) scale(1);
}

.n-chart-bar .n-chart-item .n-chart-bar__value span:first-child {
    font-size: 0.90em;
    color: color('text', 0.6);
}

.n-chart-bar .n-chart-item .n-chart-bar__value span:last-child {
    font-size: 1em;
    font-weight: bold;
    color: color('text');
}






.n-chart-axis {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 40px;
}

.n-chart-axis span {
    color: color('text', 0.6);
    font-size: size('base-fnt-label');
    line-height: size('base-hgt-inline');
}

.n-chart-axis span:first-child {
    color: color('base-color');
    font-weight: bold;
}