
@mixin css-colors($colors, $prefix: '') {
    @each $name, $color in $colors {
        --n-color#{$prefix}-#{$name}: #{red($color)}, #{green($color)}, #{blue($color)};
    }
}

@mixin css-remaps($colors, $prefix: '-default') {
    @each $name, $color in $colors {
        --n-color-base-#{$name}: var(--n-color#{$prefix}-#{$name});
    }
}

@mixin css-sizes($sizes) {
    @each $name, $value in $sizes {
        --n-size-#{$name}: #{$value};
    }
}

@function color($color, $opacity: 1) {
    @return unquote("rgba(var(--n-color-#{$color}), #{$opacity})")
};

@function size($size) {
    @return unquote("var(--n-size-#{$size})")
};