@use "src/root/helpers" as *;

@use "src/root/vars/sizes" as theme-size;
@use "src/root/vars/colors-light" as theme-light;
@use "src/root/vars/colors-dark" as theme-dark;

body[class*="n-theme--"] {
    color: color('text');
}

:root {
    @include css-sizes(theme-size.$size-md);
}

[class*="n-theme--"] {

    @each $name, $sizes in theme-size.$size-list {
        @include css-sizes($sizes, '-#{$name}');
    }

    @each $name, $sizes in theme-size.$size-list {
        [class*="--#{$name}"] {
            @include css-remaps($sizes, '-#{$name}', '-size');
        }
    }

}

.n-theme--light {

    @include css-colors(theme-light.$colors);
    @include css-colors(theme-light.$color-tags, '-tags');

    @each $name, $colors in theme-light.$color-list {
        @include css-colors($colors, '-#{$name}');
    }

    @each $name, $colors in theme-light.$color-list {
        [class*="--#{$name}"] {
            @include css-remaps($colors, '-#{$name}', '-color');
        }
    }

}

.n-theme--dark {

    @include css-colors(theme-dark.$colors);
    @include css-colors(theme-dark.$color-tags, '-tags');

    @each $name, $colors in theme-dark.$color-list {
        @include css-colors($colors, '-#{$name}');
    }

    @each $name, $colors in theme-dark.$color-list {
        [class*="--#{$name}"] {
            @include css-remaps($colors, '-#{$name}', '-color');
        }
    }

}

