
/**
 * Fade
 */

.n-fade-enter-active, .n-fade-leave-active {
    transition: opacity 400ms ease;
}

.n-fade-enter, .n-fade-leave-to {
    opacity: 0;
}

/**
 * Fade fast
 */

.n-fade-fast-enter-active, .n-fade-fast-leave-active {
    transition: opacity 150ms ease;
}

.n-fade-fast-enter, .n-fade-fast-leave-to {
    opacity: 0;
}

/**
 * Fade fast
 */

.n-fade-slow-enter-active, .n-fade-slow-leave-active {
    transition: opacity 600ms ease;
}

.n-fade-slow-enter, .n-fade-slow-leave-to {
    opacity: 0;
}

/**
 * Fade up
 */

.n-fade-up-enter-active, .n-fade-up-leave-active {
    transition: transform 600ms ease, opacity 600ms ease;
}

.n-fade-up-enter, .n-fade-up-leave-to {
    opacity: 0;
    transform: translateY(30px);
}