
$size-xs: (
        'hgt': 26px,
        'hgt-inline': 15px,
        'pad': 6px,
        'pad-vertical': 4px,
        'fnt': 0.900em,
        'fnt-icon': 0.850em,
        'fnt-inline': 0.700em,
        'rad': 5px,
        'rad-inline': 3px,
        'rad-window': 8px,
        'rad-circle': 500px,
) !default;

$size-sm: (
        'hgt': 30px,
        'hgt-inline': 16px,
        'pad': 8px,
        'pad-vertical': 6px,
        'fnt': 0.950em,
        'fnt-icon': 0.8250em,
        'fnt-inline': 0.760em,
        'rad': 6px,
        'rad-inline': 4px,
        'rad-window': 10px,
        'rad-circle': 500px,
) !default;

$size-md: (
        'hgt': 32px,
        'hgt-inline': 17px,
        'pad': 10px,
        'pad-vertical': 8px,
        'fnt': 1.000em,
        'fnt-icon': 0.800em,
        'fnt-inline': 0.730em,
        'rad': 6px,
        'rad-inline': 4px,
        'rad-window': 12px,
        'rad-circle': 500px,
) !default;

$size-lg: (
        'hgt': 34px,
        'hgt-inline': 30px,
        'pad': 11px,
        'pad-vertical': 9px,
        'fnt': 1.100em,
        'fnt-icon': 0.800em,
        'fnt-inline': 0.760em,
        'rad': 7px,
        'rad-inline': 5px,
        'rad-window': 16px,
        'rad-circle': 500px,
) !default;

$size-xl: (
        'hgt': 36px,
        'hgt-inline': 30px,
        'pad': 12px,
        'pad-vertical': 10px,
        'fnt': 1.200em,
        'fnt-icon': 0.800em,
        'fnt-inline': 0.760em,
        'rad': 7px,
        'rad-inline': 5px,
        'rad-window': 20px,
        'rad-circle': 500px,
) !default;