$color-white:           #ffffff !default;
$color-black:           #1b2229 !default;

$color-light:           #F4F6FA !default;
$color-dark:            #2F3236 !default;

$color-gray-05:         mix($color-black, $color-white, 0.05 * 100%) !default;
$color-gray-10:         mix($color-black, $color-white, 0.10 * 100%) !default;
$color-gray-15:         mix($color-black, $color-white, 0.15 * 100%) !default;
$color-gray-20:         mix($color-black, $color-white, 0.20 * 100%) !default;
$color-gray-25:         mix($color-black, $color-white, 0.25 * 100%) !default;
$color-gray-30:         mix($color-black, $color-white, 0.30 * 100%) !default;
$color-gray-35:         mix($color-black, $color-white, 0.35 * 100%) !default;
$color-gray-40:         mix($color-black, $color-white, 0.40 * 100%) !default;
$color-gray-45:         mix($color-black, $color-white, 0.45 * 100%) !default;
$color-gray-50:         mix($color-black, $color-white, 0.50 * 100%) !default;
$color-gray-55:         mix($color-black, $color-white, 0.55 * 100%) !default;
$color-gray-60:         mix($color-black, $color-white, 0.60 * 100%) !default;
$color-gray-65:         mix($color-black, $color-white, 0.65 * 100%) !default;
$color-gray-70:         mix($color-black, $color-white, 0.70 * 100%) !default;
$color-gray-75:         mix($color-black, $color-white, 0.75 * 100%) !default;
$color-gray-80:         mix($color-black, $color-white, 0.80 * 100%) !default;
$color-gray-85:         mix($color-black, $color-white, 0.85 * 100%) !default;
$color-gray-90:         mix($color-black, $color-white, 0.90 * 100%) !default;
$color-gray-95:         mix($color-black, $color-white, 0.95 * 100%) !default;

$color-primary:         #2877FA !default;
$color-secondary:       #2877FA !default;

$color-success:         #3ed786 !default;
$color-warning:         #ffac2f !default;
$color-danger:          #fd2f51 !default;
$color-info:            #37C4EF !default;

$color-background:      #F0F3F7 !default;

$color-white-light:         lighten($color-white, 5%) !default;
$color-white-lighter:       lighten($color-white, 10%) !default;

$color-white-dark:          darken($color-white, 5%) !default;
$color-white-darker:        darken($color-white, 10%) !default;

$color-black-light:         lighten($color-black, 5%) !default;
$color-black-lighter:       lighten($color-black, 10%) !default;

$color-black-dark:          darken($color-black, 5%) !default;
$color-black-darker:        darken($color-black, 10%) !default;

$color-primary-light:       lighten($color-primary, 5%) !default;
$color-primary-lighter:     lighten($color-primary, 10%) !default;

$color-primary-dark:        darken($color-primary, 5%) !default;
$color-primary-darker:      darken($color-primary, 10%) !default;

$color-secondary-light:     lighten($color-secondary, 5%) !default;
$color-secondary-lighter:   lighten($color-secondary, 10%) !default;

$color-secondary-dark:      darken($color-secondary, 5%) !default;
$color-secondary-darker:    darken($color-secondary, 10%) !default;

$color-success-light:       lighten($color-success, 5%) !default;
$color-success-lighter:     lighten($color-success, 10%) !default;

$color-success-dark:        darken($color-success, 5%) !default;
$color-success-darker:      darken($color-success, 10%) !default;

$color-warning-light:       lighten($color-warning, 5%) !default;
$color-warning-lighter:     lighten($color-warning, 10%) !default;

$color-warning-dark:        darken($color-warning, 5%) !default;
$color-warning-darker:      darken($color-warning, 10%) !default;

$color-danger-light:        lighten($color-danger, 5%) !default;
$color-danger-lighter:      lighten($color-danger, 10%) !default;

$color-danger-dark:         darken($color-danger, 5%) !default;
$color-danger-darker:       darken($color-danger, 10%) !default;

$color-info-light:          lighten($color-info, 5%) !default;
$color-info-lighter:        lighten($color-info, 10%) !default;

$color-info-dark:           darken($color-info, 5%) !default;
$color-info-darker:         darken($color-info, 10%) !default;

$color-background-light:    lighten($color-background, 2.5%) !default;
$color-background-lighter:  lighten($color-background, 5%) !default;

$color-background-dark:     darken($color-background, 5%) !default;
$color-background-darker:   darken($color-background, 10%) !default;

$transition-short: 0.12s !default;
$transition-medium: 0.24s !default;
$transition-long: 0.48s !default;
$transition-extended: 0.96s !default;

$radius-small: 1px !default;
$radius-medium: 2px !default;
$radius-large: 4px !default;
$radius-extended: 8px !default;

$--color-black:                 $color-black !default;
$--color-white:                 $color-white !default;

$--color-gray-05:               $color-gray-05 !default;
$--color-gray-10:               $color-gray-10 !default;
$--color-gray-15:               $color-gray-15 !default;
$--color-gray-20:               $color-gray-20 !default;
$--color-gray-25:               $color-gray-25 !default;
$--color-gray-30:               $color-gray-30 !default;
$--color-gray-35:               $color-gray-35 !default;
$--color-gray-40:               $color-gray-40 !default;
$--color-gray-45:               $color-gray-45 !default;
$--color-gray-50:               $color-gray-50 !default;
$--color-gray-55:               $color-gray-55 !default;
$--color-gray-60:               $color-gray-60 !default;
$--color-gray-65:               $color-gray-65 !default;
$--color-gray-70:               $color-gray-70 !default;
$--color-gray-75:               $color-gray-75 !default;
$--color-gray-80:               $color-gray-80 !default;
$--color-gray-85:               $color-gray-85 !default;
$--color-gray-90:               $color-gray-90 !default;
$--color-gray-95:               $color-gray-95 !default;

$--color-primary:               $color-primary !default;
$--color-secondary:             $color-secondary !default;

$--color-success:               $color-success !default;
$--color-warning:               $color-warning !default;
$--color-danger:                $color-danger !default;
$--color-info:                  $color-info !default;

$--color-background:            $color-background !default;

$--color-black-light:           $color-black-light !default;
$--color-black-lighter:         $color-black-lighter !default;

$--color-black-dark:            $color-black-dark !default;
$--color-black-darker:          $color-black-darker !default;

$--color-white-light:           $color-white-light !default;
$--color-white-lighter:         $color-white-lighter !default;

$--color-white-dark:            $color-white-dark !default;
$--color-white-darker:          $color-white-darker !default;

$--color-primary-light:         $color-primary-light !default;
$--color-primary-lighter:       $color-primary-lighter !default;

$--color-primary-dark:          $color-primary-dark !default;
$--color-primary-darker:        $color-primary-darker !default;

$--color-secondary-light:       $color-secondary-light !default;
$--color-secondary-lighter:     $color-secondary-lighter !default;

$--color-secondary-dark:        $color-secondary-dark !default;
$--color-secondary-darker:      $color-secondary-darker !default;

$--color-success-light:         $color-success-light !default;
$--color-success-lighter:       $color-success-lighter !default;

$--color-success-dark:          $color-success-dark !default;
$--color-success-darker:        $color-success-darker !default;

$--color-warning-light:         $color-warning-light !default;
$--color-warning-lighter:       $color-warning-lighter !default;

$--color-warning-dark:          $color-warning-dark !default;
$--color-warning-darker:        $color-warning-darker !default;

$--color-danger-light:          $color-danger-light !default;
$--color-danger-lighter:        $color-danger-lighter !default;

$--color-danger-dark:           $color-danger-dark !default;
$--color-danger-darker:         $color-danger-darker !default;

$--color-info-light:            $color-info-light !default;
$--color-info-lighter:          $color-info-lighter !default;

$--color-info-dark:             $color-info-dark !default;
$--color-info-darker:           $color-info-darker !default;

$--color-background-light:      $color-background-light !default;
$--color-background-lighter:    $color-background-lighter !default;

$--color-background-dark:       $color-background-dark !default;
$--color-background-darker:     $color-background-darker !default;
