@use 'sass:color';

$dark-color-white:           #ffffff !default;
$dark-color-black:           #1F1F1F !default;

$dark-color-text:            #E3E3E3 !default;
$dark-color-shadow:          #000000 !default;
$dark-color-tooltip:         #161616 !default;

$dark-color-foreground:      $dark-color-white !default;
$dark-color-background:      $dark-color-black !default;

$dark-color-neutral:         #8A8A8A !default;
$dark-color-primary:         #2F89FE !default;
$dark-color-secondary:       #d31f9d !default;
$dark-color-success:         #06C493 !default;
$dark-color-warning:         #FFBF3F !default;
$dark-color-danger:          #F9536E !default;
$dark-color-info:            #4BD6F9 !default;

$dark-color-gray-05:               color.mix($dark-color-foreground, $dark-color-background, 0.05 * 100%) !default;
$dark-color-gray-10:               color.mix($dark-color-foreground, $dark-color-background, 0.10 * 100%) !default;
$dark-color-gray-15:               color.mix($dark-color-foreground, $dark-color-background, 0.15 * 100%) !default;
$dark-color-gray-20:               color.mix($dark-color-foreground, $dark-color-background, 0.20 * 100%) !default;
$dark-color-gray-25:               color.mix($dark-color-foreground, $dark-color-background, 0.25 * 100%) !default;
$dark-color-gray-30:               color.mix($dark-color-foreground, $dark-color-background, 0.30 * 100%) !default;
$dark-color-gray-35:               color.mix($dark-color-foreground, $dark-color-background, 0.35 * 100%) !default;
$dark-color-gray-40:               color.mix($dark-color-foreground, $dark-color-background, 0.40 * 100%) !default;
$dark-color-gray-45:               color.mix($dark-color-foreground, $dark-color-background, 0.45 * 100%) !default;
$dark-color-gray-50:               color.mix($dark-color-foreground, $dark-color-background, 0.50 * 100%) !default;
$dark-color-gray-55:               color.mix($dark-color-foreground, $dark-color-background, 0.55 * 100%) !default;
$dark-color-gray-60:               color.mix($dark-color-foreground, $dark-color-background, 0.60 * 100%) !default;
$dark-color-gray-65:               color.mix($dark-color-foreground, $dark-color-background, 0.65 * 100%) !default;
$dark-color-gray-70:               color.mix($dark-color-foreground, $dark-color-background, 0.70 * 100%) !default;
$dark-color-gray-75:               color.mix($dark-color-foreground, $dark-color-background, 0.75 * 100%) !default;
$dark-color-gray-80:               color.mix($dark-color-foreground, $dark-color-background, 0.80 * 100%) !default;
$dark-color-gray-85:               color.mix($dark-color-foreground, $dark-color-background, 0.85 * 100%) !default;
$dark-color-gray-90:               color.mix($dark-color-foreground, $dark-color-background, 0.90 * 100%) !default;
$dark-color-gray-95:               color.mix($dark-color-foreground, $dark-color-background, 0.95 * 100%) !default;

$dark-color-form:                  $dark-color-gray-05 !default;
$dark-color-form-input:            $dark-color-gray-05 !default;
$dark-color-form-disabled:         $dark-color-background !default;


$dark-color-neutral-fg-10:         color.mix($dark-color-foreground, $dark-color-neutral, 10%) !default;
$dark-color-neutral-fg-20:         color.mix($dark-color-foreground, $dark-color-neutral, 20%) !default;
$dark-color-neutral-fg-30:         color.mix($dark-color-foreground, $dark-color-neutral, 30%) !default;
$dark-color-neutral-fg-40:         color.mix($dark-color-foreground, $dark-color-neutral, 40%) !default;
$dark-color-neutral-fg-50:         color.mix($dark-color-foreground, $dark-color-neutral, 50%) !default;
$dark-color-neutral-fg-60:         color.mix($dark-color-foreground, $dark-color-neutral, 60%) !default;
$dark-color-neutral-fg-70:         color.mix($dark-color-foreground, $dark-color-neutral, 70%) !default;
$dark-color-neutral-fg-80:         color.mix($dark-color-foreground, $dark-color-neutral, 80%) !default;
$dark-color-neutral-fg-90:         color.mix($dark-color-foreground, $dark-color-neutral, 90%) !default;

$dark-color-neutral-bg-10:         color.mix($dark-color-background, $dark-color-neutral, 10%) !default;
$dark-color-neutral-bg-20:         color.mix($dark-color-background, $dark-color-neutral, 20%) !default;
$dark-color-neutral-bg-30:         color.mix($dark-color-background, $dark-color-neutral, 30%) !default;
$dark-color-neutral-bg-40:         color.mix($dark-color-background, $dark-color-neutral, 40%) !default;
$dark-color-neutral-bg-50:         color.mix($dark-color-background, $dark-color-neutral, 50%) !default;
$dark-color-neutral-bg-60:         color.mix($dark-color-background, $dark-color-neutral, 60%) !default;
$dark-color-neutral-bg-70:         color.mix($dark-color-background, $dark-color-neutral, 70%) !default;
$dark-color-neutral-bg-80:         color.mix($dark-color-background, $dark-color-neutral, 80%) !default;
$dark-color-neutral-bg-90:         color.mix($dark-color-background, $dark-color-neutral, 90%) !default;

$dark-color-primary-fg-10:         color.mix($dark-color-foreground, $dark-color-primary, 10%) !default;
$dark-color-primary-fg-20:         color.mix($dark-color-foreground, $dark-color-primary, 20%) !default;
$dark-color-primary-fg-30:         color.mix($dark-color-foreground, $dark-color-primary, 30%) !default;
$dark-color-primary-fg-40:         color.mix($dark-color-foreground, $dark-color-primary, 40%) !default;
$dark-color-primary-fg-50:         color.mix($dark-color-foreground, $dark-color-primary, 50%) !default;
$dark-color-primary-fg-60:         color.mix($dark-color-foreground, $dark-color-primary, 60%) !default;
$dark-color-primary-fg-70:         color.mix($dark-color-foreground, $dark-color-primary, 70%) !default;
$dark-color-primary-fg-80:         color.mix($dark-color-foreground, $dark-color-primary, 80%) !default;
$dark-color-primary-fg-90:         color.mix($dark-color-foreground, $dark-color-primary, 90%) !default;

$dark-color-primary-bg-10:         color.mix($dark-color-background, $dark-color-primary, 10%) !default;
$dark-color-primary-bg-20:         color.mix($dark-color-background, $dark-color-primary, 20%) !default;
$dark-color-primary-bg-30:         color.mix($dark-color-background, $dark-color-primary, 30%) !default;
$dark-color-primary-bg-40:         color.mix($dark-color-background, $dark-color-primary, 40%) !default;
$dark-color-primary-bg-50:         color.mix($dark-color-background, $dark-color-primary, 50%) !default;
$dark-color-primary-bg-60:         color.mix($dark-color-background, $dark-color-primary, 60%) !default;
$dark-color-primary-bg-70:         color.mix($dark-color-background, $dark-color-primary, 70%) !default;
$dark-color-primary-bg-80:         color.mix($dark-color-background, $dark-color-primary, 80%) !default;
$dark-color-primary-bg-90:         color.mix($dark-color-background, $dark-color-primary, 90%) !default;

$dark-color-secondary-fg-10:       color.mix($dark-color-foreground, $dark-color-secondary, 10%) !default;
$dark-color-secondary-fg-20:       color.mix($dark-color-foreground, $dark-color-secondary, 20%) !default;
$dark-color-secondary-fg-30:       color.mix($dark-color-foreground, $dark-color-secondary, 30%) !default;
$dark-color-secondary-fg-40:       color.mix($dark-color-foreground, $dark-color-secondary, 40%) !default;
$dark-color-secondary-fg-50:       color.mix($dark-color-foreground, $dark-color-secondary, 50%) !default;
$dark-color-secondary-fg-60:       color.mix($dark-color-foreground, $dark-color-secondary, 60%) !default;
$dark-color-secondary-fg-70:       color.mix($dark-color-foreground, $dark-color-secondary, 70%) !default;
$dark-color-secondary-fg-80:       color.mix($dark-color-foreground, $dark-color-secondary, 80%) !default;
$dark-color-secondary-fg-90:       color.mix($dark-color-foreground, $dark-color-secondary, 90%) !default;

$dark-color-secondary-bg-10:       color.mix($dark-color-background, $dark-color-secondary, 10%) !default;
$dark-color-secondary-bg-20:       color.mix($dark-color-background, $dark-color-secondary, 20%) !default;
$dark-color-secondary-bg-30:       color.mix($dark-color-background, $dark-color-secondary, 30%) !default;
$dark-color-secondary-bg-40:       color.mix($dark-color-background, $dark-color-secondary, 40%) !default;
$dark-color-secondary-bg-50:       color.mix($dark-color-background, $dark-color-secondary, 50%) !default;
$dark-color-secondary-bg-60:       color.mix($dark-color-background, $dark-color-secondary, 60%) !default;
$dark-color-secondary-bg-70:       color.mix($dark-color-background, $dark-color-secondary, 70%) !default;
$dark-color-secondary-bg-80:       color.mix($dark-color-background, $dark-color-secondary, 80%) !default;
$dark-color-secondary-bg-90:       color.mix($dark-color-background, $dark-color-secondary, 90%) !default;

$dark-color-success-fg-10:         color.mix($dark-color-foreground, $dark-color-success, 10%) !default;
$dark-color-success-fg-20:         color.mix($dark-color-foreground, $dark-color-success, 20%) !default;
$dark-color-success-fg-30:         color.mix($dark-color-foreground, $dark-color-success, 30%) !default;
$dark-color-success-fg-40:         color.mix($dark-color-foreground, $dark-color-success, 40%) !default;
$dark-color-success-fg-50:         color.mix($dark-color-foreground, $dark-color-success, 50%) !default;
$dark-color-success-fg-60:         color.mix($dark-color-foreground, $dark-color-success, 60%) !default;
$dark-color-success-fg-70:         color.mix($dark-color-foreground, $dark-color-success, 70%) !default;
$dark-color-success-fg-80:         color.mix($dark-color-foreground, $dark-color-success, 80%) !default;
$dark-color-success-fg-90:         color.mix($dark-color-foreground, $dark-color-success, 90%) !default;

$dark-color-success-bg-10:         color.mix($dark-color-background, $dark-color-success, 10%) !default;
$dark-color-success-bg-20:         color.mix($dark-color-background, $dark-color-success, 20%) !default;
$dark-color-success-bg-30:         color.mix($dark-color-background, $dark-color-success, 30%) !default;
$dark-color-success-bg-40:         color.mix($dark-color-background, $dark-color-success, 40%) !default;
$dark-color-success-bg-50:         color.mix($dark-color-background, $dark-color-success, 50%) !default;
$dark-color-success-bg-60:         color.mix($dark-color-background, $dark-color-success, 60%) !default;
$dark-color-success-bg-70:         color.mix($dark-color-background, $dark-color-success, 70%) !default;
$dark-color-success-bg-80:         color.mix($dark-color-background, $dark-color-success, 80%) !default;
$dark-color-success-bg-90:         color.mix($dark-color-background, $dark-color-success, 90%) !default;

$dark-color-warning-fg-10:         color.mix($dark-color-foreground, $dark-color-warning, 10%) !default;
$dark-color-warning-fg-20:         color.mix($dark-color-foreground, $dark-color-warning, 20%) !default;
$dark-color-warning-fg-30:         color.mix($dark-color-foreground, $dark-color-warning, 30%) !default;
$dark-color-warning-fg-40:         color.mix($dark-color-foreground, $dark-color-warning, 40%) !default;
$dark-color-warning-fg-50:         color.mix($dark-color-foreground, $dark-color-warning, 50%) !default;
$dark-color-warning-fg-60:         color.mix($dark-color-foreground, $dark-color-warning, 60%) !default;
$dark-color-warning-fg-70:         color.mix($dark-color-foreground, $dark-color-warning, 70%) !default;
$dark-color-warning-fg-80:         color.mix($dark-color-foreground, $dark-color-warning, 80%) !default;
$dark-color-warning-fg-90:         color.mix($dark-color-foreground, $dark-color-warning, 90%) !default;

$dark-color-warning-bg-10:         color.mix($dark-color-background, $dark-color-warning, 10%) !default;
$dark-color-warning-bg-20:         color.mix($dark-color-background, $dark-color-warning, 20%) !default;
$dark-color-warning-bg-30:         color.mix($dark-color-background, $dark-color-warning, 30%) !default;
$dark-color-warning-bg-40:         color.mix($dark-color-background, $dark-color-warning, 40%) !default;
$dark-color-warning-bg-50:         color.mix($dark-color-background, $dark-color-warning, 50%) !default;
$dark-color-warning-bg-60:         color.mix($dark-color-background, $dark-color-warning, 60%) !default;
$dark-color-warning-bg-70:         color.mix($dark-color-background, $dark-color-warning, 70%) !default;
$dark-color-warning-bg-80:         color.mix($dark-color-background, $dark-color-warning, 80%) !default;
$dark-color-warning-bg-90:         color.mix($dark-color-background, $dark-color-warning, 90%) !default;

$dark-color-danger-fg-10:          color.mix($dark-color-foreground, $dark-color-danger, 10%) !default;
$dark-color-danger-fg-20:          color.mix($dark-color-foreground, $dark-color-danger, 20%) !default;
$dark-color-danger-fg-30:          color.mix($dark-color-foreground, $dark-color-danger, 30%) !default;
$dark-color-danger-fg-40:          color.mix($dark-color-foreground, $dark-color-danger, 40%) !default;
$dark-color-danger-fg-50:          color.mix($dark-color-foreground, $dark-color-danger, 50%) !default;
$dark-color-danger-fg-60:          color.mix($dark-color-foreground, $dark-color-danger, 60%) !default;
$dark-color-danger-fg-70:          color.mix($dark-color-foreground, $dark-color-danger, 70%) !default;
$dark-color-danger-fg-80:          color.mix($dark-color-foreground, $dark-color-danger, 80%) !default;
$dark-color-danger-fg-90:          color.mix($dark-color-foreground, $dark-color-danger, 90%) !default;

$dark-color-danger-bg-10:          color.mix($dark-color-background, $dark-color-danger, 10%) !default;
$dark-color-danger-bg-20:          color.mix($dark-color-background, $dark-color-danger, 20%) !default;
$dark-color-danger-bg-30:          color.mix($dark-color-background, $dark-color-danger, 30%) !default;
$dark-color-danger-bg-40:          color.mix($dark-color-background, $dark-color-danger, 40%) !default;
$dark-color-danger-bg-50:          color.mix($dark-color-background, $dark-color-danger, 50%) !default;
$dark-color-danger-bg-60:          color.mix($dark-color-background, $dark-color-danger, 60%) !default;
$dark-color-danger-bg-70:          color.mix($dark-color-background, $dark-color-danger, 70%) !default;
$dark-color-danger-bg-80:          color.mix($dark-color-background, $dark-color-danger, 80%) !default;
$dark-color-danger-bg-90:          color.mix($dark-color-background, $dark-color-danger, 90%) !default;

$dark-color-info-fg-10:            color.mix($dark-color-foreground, $dark-color-info, 10%) !default;
$dark-color-info-fg-20:            color.mix($dark-color-foreground, $dark-color-info, 20%) !default;
$dark-color-info-fg-30:            color.mix($dark-color-foreground, $dark-color-info, 30%) !default;
$dark-color-info-fg-40:            color.mix($dark-color-foreground, $dark-color-info, 40%) !default;
$dark-color-info-fg-50:            color.mix($dark-color-foreground, $dark-color-info, 50%) !default;
$dark-color-info-fg-60:            color.mix($dark-color-foreground, $dark-color-info, 60%) !default;
$dark-color-info-fg-70:            color.mix($dark-color-foreground, $dark-color-info, 70%) !default;
$dark-color-info-fg-80:            color.mix($dark-color-foreground, $dark-color-info, 80%) !default;
$dark-color-info-fg-90:            color.mix($dark-color-foreground, $dark-color-info, 90%) !default;

$dark-color-info-bg-10:            color.mix($dark-color-background, $dark-color-info, 10%) !default;
$dark-color-info-bg-20:            color.mix($dark-color-background, $dark-color-info, 20%) !default;
$dark-color-info-bg-30:            color.mix($dark-color-background, $dark-color-info, 30%) !default;
$dark-color-info-bg-40:            color.mix($dark-color-background, $dark-color-info, 40%) !default;
$dark-color-info-bg-50:            color.mix($dark-color-background, $dark-color-info, 50%) !default;
$dark-color-info-bg-60:            color.mix($dark-color-background, $dark-color-info, 60%) !default;
$dark-color-info-bg-70:            color.mix($dark-color-background, $dark-color-info, 70%) !default;
$dark-color-info-bg-80:            color.mix($dark-color-background, $dark-color-info, 80%) !default;
$dark-color-info-bg-90:            color.mix($dark-color-background, $dark-color-info, 90%) !default;

$color-dark: (
        'white': $dark-color-white,
        'black': $dark-color-black,
        'text': $dark-color-text,
        'shadow': $dark-color-shadow,
        'tooltip': $dark-color-tooltip,
        'foreground': $dark-color-foreground,
        'background': $dark-color-background,
        'form': $dark-color-form,
        'form-input': $dark-color-form-input,
        'form-disabled': $dark-color-form-disabled,
        'gray-05': $dark-color-gray-05,
        'gray-10': $dark-color-gray-10,
        'gray-15': $dark-color-gray-15,
        'gray-20': $dark-color-gray-20,
        'gray-25': $dark-color-gray-25,
        'gray-30': $dark-color-gray-30,
        'gray-35': $dark-color-gray-35,
        'gray-40': $dark-color-gray-40,
        'gray-45': $dark-color-gray-45,
        'gray-50': $dark-color-gray-50,
        'gray-55': $dark-color-gray-55,
        'gray-60': $dark-color-gray-60,
        'gray-65': $dark-color-gray-65,
        'gray-70': $dark-color-gray-70,
        'gray-75': $dark-color-gray-75,
        'gray-80': $dark-color-gray-80,
        'gray-85': $dark-color-gray-85,
        'gray-90': $dark-color-gray-90,
        'gray-95': $dark-color-gray-95,
) !default;


$color-dark-base-neutral: (
        'text': $dark-color-white,
        'color': $dark-color-neutral,
        'color-fg-10': $dark-color-neutral-fg-10,
        'color-fg-20': $dark-color-neutral-fg-20,
        'color-fg-30': $dark-color-neutral-fg-30,
        'color-fg-40': $dark-color-neutral-fg-40,
        'color-fg-50': $dark-color-neutral-fg-50,
        'color-fg-60': $dark-color-neutral-fg-60,
        'color-fg-70': $dark-color-neutral-fg-70,
        'color-fg-80': $dark-color-neutral-fg-80,
        'color-fg-90': $dark-color-neutral-fg-90,
        'color-bg-10': $dark-color-neutral-bg-10,
        'color-bg-20': $dark-color-neutral-bg-20,
        'color-bg-30': $dark-color-neutral-bg-30,
        'color-bg-40': $dark-color-neutral-bg-40,
        'color-bg-50': $dark-color-neutral-bg-50,
        'color-bg-60': $dark-color-neutral-bg-60,
        'color-bg-70': $dark-color-neutral-bg-70,
        'color-bg-80': $dark-color-neutral-bg-80,
        'color-bg-90': $dark-color-neutral-bg-90,
) !default;

$color-dark-base-primary: (
        'text': $dark-color-white,
        'color': $dark-color-primary,
        'color-fg-10': $dark-color-primary-fg-10,
        'color-fg-20': $dark-color-primary-fg-20,
        'color-fg-30': $dark-color-primary-fg-30,
        'color-fg-40': $dark-color-primary-fg-40,
        'color-fg-50': $dark-color-primary-fg-50,
        'color-fg-60': $dark-color-primary-fg-60,
        'color-fg-70': $dark-color-primary-fg-70,
        'color-fg-80': $dark-color-primary-fg-80,
        'color-fg-90': $dark-color-primary-fg-90,
        'color-bg-10': $dark-color-primary-bg-10,
        'color-bg-20': $dark-color-primary-bg-20,
        'color-bg-30': $dark-color-primary-bg-30,
        'color-bg-40': $dark-color-primary-bg-40,
        'color-bg-50': $dark-color-primary-bg-50,
        'color-bg-60': $dark-color-primary-bg-60,
        'color-bg-70': $dark-color-primary-bg-70,
        'color-bg-80': $dark-color-primary-bg-80,
        'color-bg-90': $dark-color-primary-bg-90,
) !default;

$color-dark-base-secondary: (
        'text': $dark-color-white,
        'color': $dark-color-secondary,
        'color-fg-10': $dark-color-secondary-fg-10,
        'color-fg-20': $dark-color-secondary-fg-20,
        'color-fg-30': $dark-color-secondary-fg-30,
        'color-fg-40': $dark-color-secondary-fg-40,
        'color-fg-50': $dark-color-secondary-fg-50,
        'color-fg-60': $dark-color-secondary-fg-60,
        'color-fg-70': $dark-color-secondary-fg-70,
        'color-fg-80': $dark-color-secondary-fg-80,
        'color-fg-90': $dark-color-secondary-fg-90,
        'color-bg-10': $dark-color-secondary-bg-10,
        'color-bg-20': $dark-color-secondary-bg-20,
        'color-bg-30': $dark-color-secondary-bg-30,
        'color-bg-40': $dark-color-secondary-bg-40,
        'color-bg-50': $dark-color-secondary-bg-50,
        'color-bg-60': $dark-color-secondary-bg-60,
        'color-bg-70': $dark-color-secondary-bg-70,
        'color-bg-80': $dark-color-secondary-bg-80,
        'color-bg-90': $dark-color-secondary-bg-90,
) !default;

$color-dark-base-success: (
        'text': $dark-color-white,
        'color': $dark-color-success,
        'color-fg-10': $dark-color-success-fg-10,
        'color-fg-20': $dark-color-success-fg-20,
        'color-fg-30': $dark-color-success-fg-30,
        'color-fg-40': $dark-color-success-fg-40,
        'color-fg-50': $dark-color-success-fg-50,
        'color-fg-60': $dark-color-success-fg-60,
        'color-fg-70': $dark-color-success-fg-70,
        'color-fg-80': $dark-color-success-fg-80,
        'color-fg-90': $dark-color-success-fg-90,
        'color-bg-10': $dark-color-success-bg-10,
        'color-bg-20': $dark-color-success-bg-20,
        'color-bg-30': $dark-color-success-bg-30,
        'color-bg-40': $dark-color-success-bg-40,
        'color-bg-50': $dark-color-success-bg-50,
        'color-bg-60': $dark-color-success-bg-60,
        'color-bg-70': $dark-color-success-bg-70,
        'color-bg-80': $dark-color-success-bg-80,
        'color-bg-90': $dark-color-success-bg-90,
) !default;

$color-dark-base-warning: (
        'text': $dark-color-white,
        'color': $dark-color-warning,
        'color-fg-10': $dark-color-warning-fg-10,
        'color-fg-20': $dark-color-warning-fg-20,
        'color-fg-30': $dark-color-warning-fg-30,
        'color-fg-40': $dark-color-warning-fg-40,
        'color-fg-50': $dark-color-warning-fg-50,
        'color-fg-60': $dark-color-warning-fg-60,
        'color-fg-70': $dark-color-warning-fg-70,
        'color-fg-80': $dark-color-warning-fg-80,
        'color-fg-90': $dark-color-warning-fg-90,
        'color-bg-10': $dark-color-warning-bg-10,
        'color-bg-20': $dark-color-warning-bg-20,
        'color-bg-30': $dark-color-warning-bg-30,
        'color-bg-40': $dark-color-warning-bg-40,
        'color-bg-50': $dark-color-warning-bg-50,
        'color-bg-60': $dark-color-warning-bg-60,
        'color-bg-70': $dark-color-warning-bg-70,
        'color-bg-80': $dark-color-warning-bg-80,
        'color-bg-90': $dark-color-warning-bg-90,
) !default;

$color-dark-base-danger: (
        'text': $dark-color-white,
        'color': $dark-color-danger,
        'color-fg-10': $dark-color-danger-fg-10,
        'color-fg-20': $dark-color-danger-fg-20,
        'color-fg-30': $dark-color-danger-fg-30,
        'color-fg-40': $dark-color-danger-fg-40,
        'color-fg-50': $dark-color-danger-fg-50,
        'color-fg-60': $dark-color-danger-fg-60,
        'color-fg-70': $dark-color-danger-fg-70,
        'color-fg-80': $dark-color-danger-fg-80,
        'color-fg-90': $dark-color-danger-fg-90,
        'color-bg-10': $dark-color-danger-bg-10,
        'color-bg-20': $dark-color-danger-bg-20,
        'color-bg-30': $dark-color-danger-bg-30,
        'color-bg-40': $dark-color-danger-bg-40,
        'color-bg-50': $dark-color-danger-bg-50,
        'color-bg-60': $dark-color-danger-bg-60,
        'color-bg-70': $dark-color-danger-bg-70,
        'color-bg-80': $dark-color-danger-bg-80,
        'color-bg-90': $dark-color-danger-bg-90,
) !default;

$color-dark-base-info: (
        'text': $dark-color-white,
        'color': $dark-color-info,
        'color-fg-10': $dark-color-info-fg-10,
        'color-fg-20': $dark-color-info-fg-20,
        'color-fg-30': $dark-color-info-fg-30,
        'color-fg-40': $dark-color-info-fg-40,
        'color-fg-50': $dark-color-info-fg-50,
        'color-fg-60': $dark-color-info-fg-60,
        'color-fg-70': $dark-color-info-fg-70,
        'color-fg-80': $dark-color-info-fg-80,
        'color-fg-90': $dark-color-info-fg-90,
        'color-bg-10': $dark-color-info-bg-10,
        'color-bg-20': $dark-color-info-bg-20,
        'color-bg-30': $dark-color-info-bg-30,
        'color-bg-40': $dark-color-info-bg-40,
        'color-bg-50': $dark-color-info-bg-50,
        'color-bg-60': $dark-color-info-bg-60,
        'color-bg-70': $dark-color-info-bg-70,
        'color-bg-80': $dark-color-info-bg-80,
        'color-bg-90': $dark-color-info-bg-90,
) !default;

$color-dark-tags: (
        0:  #D74242,  // red
        1:  #D76342,  // red-orange
        2:  #D78442,  // orange
        3:  #D7A142,  // orange-yellow
        4:  #C2A732,  // yellow
        5:  #A2B02E,  // yellow-green
        6:  #8BB531,  // green
        7:  #5EBF36,  // green-cyan
        8:  #3AC778,  // teal
        9:  #39C498,  // cyan
        10: #37BFBF,  // cyan-blue
        11: #42B0D7,  // light blue
        12: #428BD7,  // blue
        13: #434AE5,  // blue-indigo
        14: #5C42D7,  // blue-indigo
        15: #7842D7,  // indigo
        16: #9542D7,  // purple
        17: #D742CD,  // magenta
        18: #D74285,  // pink-purple
        19: #D74260   // reddish-pin
) !default;