$color-white:           #ffffff !default;
$color-black:           #1b2229 !default;

$color-gray-05:         mix($color-black, $color-white, 0.05 * 100%) !default;
$color-gray-10:         mix($color-black, $color-white, 0.10 * 100%) !default;
$color-gray-15:         mix($color-black, $color-white, 0.15 * 100%) !default;
$color-gray-20:         mix($color-black, $color-white, 0.20 * 100%) !default;
$color-gray-25:         mix($color-black, $color-white, 0.25 * 100%) !default;
$color-gray-30:         mix($color-black, $color-white, 0.30 * 100%) !default;
$color-gray-35:         mix($color-black, $color-white, 0.35 * 100%) !default;
$color-gray-40:         mix($color-black, $color-white, 0.40 * 100%) !default;
$color-gray-45:         mix($color-black, $color-white, 0.45 * 100%) !default;
$color-gray-50:         mix($color-black, $color-white, 0.50 * 100%) !default;
$color-gray-55:         mix($color-black, $color-white, 0.55 * 100%) !default;
$color-gray-60:         mix($color-black, $color-white, 0.60 * 100%) !default;
$color-gray-65:         mix($color-black, $color-white, 0.65 * 100%) !default;
$color-gray-70:         mix($color-black, $color-white, 0.70 * 100%) !default;
$color-gray-75:         mix($color-black, $color-white, 0.75 * 100%) !default;
$color-gray-80:         mix($color-black, $color-white, 0.80 * 100%) !default;
$color-gray-85:         mix($color-black, $color-white, 0.85 * 100%) !default;
$color-gray-90:         mix($color-black, $color-white, 0.90 * 100%) !default;
$color-gray-95:         mix($color-black, $color-white, 0.95 * 100%) !default;

$color-primary:         #2877FA !default;
$color-secondary:       #2877FA !default;

$color-success:         #3ed786 !default;
$color-warning:         #ffac2f !default;
$color-danger:          #fd2f51 !default;
$color-info:            #6c8297 !default;

$color-background:      #F0F3F7 !default;

$color-white-light:         lighten($color-white, 5%) !default;
$color-white-lighter:       lighten($color-white, 10%) !default;

$color-white-dark:          darken($color-white, 5%) !default;
$color-white-darker:        darken($color-white, 10%) !default;

$color-black-light:         lighten($color-black, 5%) !default;
$color-black-lighter:       lighten($color-black, 10%) !default;

$color-black-dark:          darken($color-black, 5%) !default;
$color-black-darker:        darken($color-black, 10%) !default;

$color-primary-light:       lighten($color-primary, 5%) !default;
$color-primary-lighter:     lighten($color-primary, 10%) !default;

$color-primary-dark:        darken($color-primary, 5%) !default;
$color-primary-darker:      darken($color-primary, 10%) !default;

$color-secondary-light:     lighten($color-secondary, 5%) !default;
$color-secondary-lighter:   lighten($color-secondary, 10%) !default;

$color-secondary-dark:      darken($color-secondary, 5%) !default;
$color-secondary-darker:    darken($color-secondary, 10%) !default;

$color-success-light:       lighten($color-success, 5%) !default;
$color-success-lighter:     lighten($color-success, 10%) !default;

$color-success-dark:        darken($color-success, 5%) !default;
$color-success-darker:      darken($color-success, 10%) !default;

$color-warning-light:       lighten($color-warning, 5%) !default;
$color-warning-lighter:     lighten($color-warning, 10%) !default;

$color-warning-dark:        darken($color-warning, 5%) !default;
$color-warning-darker:      darken($color-warning, 10%) !default;

$color-danger-light:        lighten($color-danger, 5%) !default;
$color-danger-lighter:      lighten($color-danger, 10%) !default;

$color-danger-dark:         darken($color-danger, 5%) !default;
$color-danger-darker:       darken($color-danger, 10%) !default;

$color-info-light:          lighten($color-info, 5%) !default;
$color-info-lighter:        lighten($color-info, 10%) !default;

$color-info-dark:           darken($color-info, 5%) !default;
$color-info-darker:         darken($color-info, 10%) !default;

$color-background-light:    lighten($color-background, 2.5%) !default;
$color-background-lighter:  lighten($color-background, 5%) !default;

$color-background-dark:     darken($color-background, 5%) !default;
$color-background-darker:   darken($color-background, 10%) !default;

$transition-short: 0.12s !default;
$transition-medium: 0.24s !default;
$transition-long: 0.48s !default;
$transition-extended: 0.96s !default;

$radius-small: 1px !default;
$radius-medium: 2px !default;
$radius-large: 4px !default;
$radius-extended: 8px !default;

:root {
    --color-black:              #{$color-black};
    --color-white:              #{$color-white};

    --color-gray-05:            #{$color-gray-05};
    --color-gray-10:            #{$color-gray-10};
    --color-gray-15:            #{$color-gray-15};
    --color-gray-20:            #{$color-gray-20};
    --color-gray-25:            #{$color-gray-25};
    --color-gray-30:            #{$color-gray-30};
    --color-gray-35:            #{$color-gray-35};
    --color-gray-40:            #{$color-gray-40};
    --color-gray-45:            #{$color-gray-45};
    --color-gray-50:            #{$color-gray-50};
    --color-gray-55:            #{$color-gray-55};
    --color-gray-60:            #{$color-gray-60};
    --color-gray-65:            #{$color-gray-65};
    --color-gray-70:            #{$color-gray-70};
    --color-gray-75:            #{$color-gray-75};
    --color-gray-80:            #{$color-gray-80};
    --color-gray-85:            #{$color-gray-85};
    --color-gray-90:            #{$color-gray-90};
    --color-gray-95:            #{$color-gray-95};

    --color-primary:            #{$color-primary};
    --color-secondary:          #{$color-secondary};

    --color-success:            #{$color-success};
    --color-warning:            #{$color-warning};
    --color-danger:             #{$color-danger};
    --color-info:               #{$color-info};

    --color-background:         #{$color-background};

    --color-black-light:        #{$color-black-light};
    --color-black-lighter:      #{$color-black-lighter};

    --color-black-dark:         #{$color-black-dark};
    --color-black-darker:       #{$color-black-darker};

    --color-white-light:        #{$color-white-light};
    --color-white-lighter:      #{$color-white-lighter};

    --color-white-dark:         #{$color-white-dark};
    --color-white-darker:       #{$color-white-darker};

    --color-primary-light:      #{$color-primary-light};
    --color-primary-lighter:    #{$color-primary-lighter};

    --color-primary-dark:       #{$color-primary-dark};
    --color-primary-darker:     #{$color-primary-darker};

    --color-secondary-light:    #{$color-secondary-light};
    --color-secondary-lighter:  #{$color-secondary-lighter};

    --color-secondary-dark:     #{$color-secondary-dark};
    --color-secondary-darker:   #{$color-secondary-darker};

    --color-success-light:      #{$color-success-light};
    --color-success-lighter:    #{$color-success-lighter};

    --color-success-dark:       #{$color-success-dark};
    --color-success-darker:     #{$color-success-darker};

    --color-warning-light:      #{$color-warning-light};
    --color-warning-lighter:    #{$color-warning-lighter};

    --color-warning-dark:       #{$color-warning-dark};
    --color-warning-darker:     #{$color-warning-darker};

    --color-danger-light:       #{$color-danger-light};
    --color-danger-lighter:     #{$color-danger-lighter};

    --color-danger-dark:        #{$color-danger-dark};
    --color-danger-darker:      #{$color-danger-darker};

    --color-info-light:         #{$color-info-light};
    --color-info-lighter:       #{$color-info-lighter};

    --color-info-dark:          #{$color-info-dark};
    --color-info-darker:        #{$color-info-darker};

    --color-background-light:   #{$color-background-light};
    --color-background-lighter: #{$color-background-lighter};

    --color-background-dark:    #{$color-background-dark};
    --color-background-darker:  #{$color-background-darker};
}

$--color-black:                 var(--color-black) !default;
$--color-white:                 var(--color-white) !default;

$--color-gray-05:               var(--color-gray-05) !default;
$--color-gray-10:               var(--color-gray-10) !default;
$--color-gray-15:               var(--color-gray-15) !default;
$--color-gray-20:               var(--color-gray-20) !default;
$--color-gray-25:               var(--color-gray-25) !default;
$--color-gray-30:               var(--color-gray-30) !default;
$--color-gray-35:               var(--color-gray-35) !default;
$--color-gray-40:               var(--color-gray-40) !default;
$--color-gray-45:               var(--color-gray-45) !default;
$--color-gray-50:               var(--color-gray-50) !default;
$--color-gray-55:               var(--color-gray-55) !default;
$--color-gray-60:               var(--color-gray-60) !default;
$--color-gray-65:               var(--color-gray-65) !default;
$--color-gray-70:               var(--color-gray-70) !default;
$--color-gray-75:               var(--color-gray-75) !default;
$--color-gray-80:               var(--color-gray-80) !default;
$--color-gray-85:               var(--color-gray-85) !default;
$--color-gray-90:               var(--color-gray-90) !default;
$--color-gray-95:               var(--color-gray-95) !default;

$--color-primary:               var(--color-primary) !default;
$--color-secondary:             var(--color-secondary) !default;

$--color-success:               var(--color-success) !default;
$--color-warning:               var(--color-warning) !default;
$--color-danger:                var(--color-danger) !default;
$--color-info:                  var(--color-info) !default;

$--color-background:            var(--color-background) !default;

$--color-black-light:           var(--color-black-light) !default;
$--color-black-lighter:         var(--color-black-lighter) !default;

$--color-black-dark:            var(--color-black-dark) !default;
$--color-black-darker:          var(--color-black-darker) !default;

$--color-white-light:           var(--color-white-light) !default;
$--color-white-lighter:         var(--color-white-lighter) !default;

$--color-white-dark:            var(--color-white-dark) !default;
$--color-white-darker:          var(--color-white-darker) !default;

$--color-primary-light:         var(--color-primary-light) !default;
$--color-primary-lighter:       var(--color-primary-lighter) !default;

$--color-primary-dark:          var(--color-primary-dark) !default;
$--color-primary-darker:        var(--color-primary-darker) !default;

$--color-secondary-light:       var(--color-secondary-light) !default;
$--color-secondary-lighter:     var(--color-secondary-lighter) !default;

$--color-secondary-dark:        var(--color-secondary-dark) !default;
$--color-secondary-darker:      var(--color-secondary-darker) !default;

$--color-success-light:         var(--color-success-light) !default;
$--color-success-lighter:       var(--color-success-lighter) !default;

$--color-success-dark:          var(--color-success-dark) !default;
$--color-success-darker:        var(--color-success-darker) !default;

$--color-warning-light:         var(--color-warning-light) !default;
$--color-warning-lighter:       var(--color-warning-lighter) !default;

$--color-warning-dark:          var(--color-warning-dark) !default;
$--color-warning-darker:        var(--color-warning-darker) !default;

$--color-danger-light:          var(--color-danger-light) !default;
$--color-danger-lighter:        var(--color-danger-lighter) !default;

$--color-danger-dark:           var(--color-danger-dark) !default;
$--color-danger-darker:         var(--color-danger-darker) !default;

$--color-info-light:            var(--color-info-light) !default;
$--color-info-lighter:          var(--color-info-lighter) !default;

$--color-info-dark:             var(--color-info-dark) !default;
$--color-info-darker:           var(--color-info-darker) !default;

$--color-background-light:      var(--color-background-light) !default;
$--color-background-lighter:    var(--color-background-lighter) !default;

$--color-background-dark:       var(--color-background-dark) !default;
$--color-background-darker:     var(--color-background-darker) !default;
