@use "sass:color";

$color-white:           #ffffff;
$color-black:           #111111;

$color-foreground-abs:       #000000;
$color-background-abs:       #ffffff;

$color-foreground:      $color-black;
$color-background:      $color-white;

$color-form:            color.mix($color-black, $color-white, 5%);
$color-input:           $color-white;

@import "./vars";