@use "sass:map";
@use "sass:color";
@import "../../../root/vars";

.n-datetimepicker {
    background: $color-input;
    border: 1px solid $color-gray-10;
}

.n-datetimepicker.n-disabled {
    background: $color-input-off;
}

.n-datetimepicker__seperator {
    color: $color-gray-60;
}

.n-datetimepicker__clear,
.n-datetimepicker__angle {
    color: $color-gray-60;
}

.n-datetimepicker__clear i {
    background: rgba($color-gray-15, 0.6);
}

.n-datetimepicker__placeholder {
    color: rgba($color-black, 0.5);
}

.n-datetimepicker-panel {
     background: $color-background;
     box-shadow: 0 1px 3px 1px rgba($color-shadow, 0.15);
}

.n-datetimepicker-panel .n-timepicker-panel {
    border-left: 1px solid $color-gray-10;
}

.n-datetimepicker__time-panel.n-timepicker-panel {
    background: color.mix($color-form, $color-background, 50%);
}

//.n-datetimepicker__time-panel.n-timepicker-panel .n-timepicker-panel__header {
//    border-bottom: 1px solid $color-gray-15;
//}

.n-datetimepicker-panel .n-datetimepicker__date-panel {
    border-right: 1px solid $color-gray-10;
}


@each $color, $values in $colors {

    $-color-base: map.get($values, 'base');
    $-color-light: map.get($values, 'light');
    $-color-dark: map.get($values, 'dark');

     .n-datetimepicker--#{$color}:not(.n-disabled):hover,
     .n-datetimepicker--#{$color}:not(.n-disabled).n-focus {
        border-color: $-color-base;
    }

}