@use "../../../root/helpers" as *;

.n-input {
    color: color('foreground');
    background: color('form-input');
    border: 1px solid color('gray-15');
}

.n-input.n-disabled  {
    background: color('form-disabled');
}

.n-input .n-button {
    color: color('gray-60');
}

.n-input:not(.n-disabled) .n-button:not(.n-disabled):hover {
    color: color('base-color');
}

.n-input:not(.n-disabled):hover {
    border-color: color('base-color-bg-30');
}

.n-input:not(.n-disabled).n-focus {
    border-color: color('base-color');
}
