@use "../../../root/helpers" as *;

.n-input {
    color: color('foreground');
    background: color('form-input');
    border: 1px solid color('gray-15');
}

.n-input.n-disabled  {
    background: color('form-disabled');
}

.n-input .n-input__button {
    color: color('gray-60');
    transition: color 0.2s;
}

.n-input__button.n-has-event:hover {
    color: color('base-color');
}

.n-input:not(.n-disabled):hover {
    border-color: color('base-color-bg-30');
}

.n-input:not(.n-disabled).n-focus {
    border-color: color('base-color');
}

.n-input__label {
    color: color('text', 0.6);
    background: color('gray-10', 0.5);
    border-right: 1px solid color('gray-10');
}
