@import "src/root/helpers";

.n-tags-item {
    color: color('base-color');
    background: color('base-color', 0.25);
}

.n-tags-item i {
    opacity: 0.8;
}

@for $i from 0 through 20 {
    .n-tags-item--color-#{$i} {
        color: color('tags-#{$i}');
        background: color('tags-#{$i}', 0.25);
    }
}
