@use "src/root/helpers" as *;

.n-table-filter__footer {
    position: relative;
    display: flex;
    flex-direction: row;
}

.n-table-filter__footer > button {
    flex: 0 0 auto;
}

.n-table-filter__footer > button:first-child {
    margin-right: auto;
}

.n-table-filter__footer > button:last-child {
    margin-left: auto;
}

.n-table-filter__popover {
    width: 240px;
}

.n-table-filter__popover .n-form-item {
    margin-bottom: size('base-pad-vertical');
}

.n-table-filter__popover .n-form-item:last-child {
    margin-bottom: 0;
}