@import "../../../root/vars";

$matrix-row-height: 40px !default;

.n-matrix {
    position: relative;
    user-select: none;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    border-radius: $radius-medium;
    border-left: 1px solid $color-gray-10;
    border-right: 1px solid $color-gray-10;
}

.n-matrix-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    overflow: hidden;
    border-top: 1px solid $color-gray-10;
    border-bottom: 1px solid $color-gray-10;
}

.n-matrix__resizer span {
    display: block;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-right-color: $color-gray-10;
    border-bottom-color: $color-gray-10;
}

.n-matrix__head {
    z-index: 200;
    position: relative;
    flex: 0 0 auto;
    min-width: 100%;
    box-shadow: 0 0 3px rgba($color-black, 0.05);
}

.n-matrix__head .n-matrix__row {
    height: $matrix-row-height * 1.2;
    border-bottom: 1px solid $color-gray-10;
}

.n-matrix__head .n-matrix__row > .n-matrix__column {
    padding: 0 $matrix-row-height * 0.25;
    color: $color-gray-60;
    border-right: 1px solid $color-gray-10;
}

.n-matrix__head .n-matrix__row > .n-matrix__column:last-child {
    border-right: none;
}

.n-matrix__body {
    z-index: 100;
    position: relative;
    flex: 1 1 auto;
    min-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: -1px;
}

.n-matrix__body .n-matrix__row {
    position: relative;
    height: $matrix-row-height;
}

.n-matrix__body .n-matrix__row:before {
    content: '\00a0';
    position: absolute;
    z-index: -10;
    bottom: 0;
    left: -50%;
    display: block;
    width: 200%;
    border-bottom: 1px solid $color-gray-10;
}

.n-matrix__body .n-matrix__row:hover:after {
    content: '\00a0';
    z-index: -20;
    position: absolute;
    top: 0;
    left: -50%;
    display: block;
    width: 200%;
    height: 100%;
    background: $--color-background-light;
}

.n-matrix__body .n-matrix__row > .n-matrix__column {
    padding: 0 $matrix-row-height * 0.25;
    border-right: 1px solid $color-gray-10;
}

.n-matrix__body .n-matrix__row > .n-matrix__column:last-child {
    border-right: none;
}

.n-matrix__row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-width: 100%;
}

.n-matrix__group .n-matrix__group {
    padding-left: 30px;
}

.n-matrix__row > .n-matrix__column {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}

.n-matrix__row > .n-matrix__column.n-matrix__column--item {
    flex: 1 1 auto;
    justify-content: flex-start;
    min-width: 0;
}

.n-matrix__row > .n-matrix__column:not(.n-matrix__column--item) {
    width: 100px;
    justify-content: center;
}

.n-matrix__row > .n-matrix__column > .n-matrix__column--item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.n-matrix__row .n-matrix__column--item > .n-matrix__expand {
    cursor: pointer;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin-right: 4px;
    color: $color-gray-40;
    transition: transform 0.15s;
}

.n-matrix__row.n-matrix__row--expanded .n-matrix__column--item > .n-matrix__expand {
    transform: rotate(90deg);
}

.n-matrix__row.n-matrix__row--empty .n-matrix__column--item > .n-matrix__expand {
    visibility: hidden;
}

.n-matrix__row .n-matrix__column--item > .n-matrix__title {
    flex: 1 1 auto;
    overflow: hidden;
}
