@import "src/root/helpers";

.n-tags-item {
    overflow: hidden;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    max-width: 160px;
}

.n-tags-item i {
    flex: 0 0 auto;
    text-align: center;
}

.n-tags-item span {
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1 1 auto;
}

.n-tags-item {
    font-size: size('base-fnt');
    border-radius: size('base-rad');
    padding: 0 size('base-pad');
    height: size('base-hgt', 'calc($ * 0.9)');
}

.n-tags-item i {
    margin-right: size('base-pad', 'calc($ * 0.6)');
    font-size: size('base-fnt-icon');
}