@import "../../../root/vars";

.n-checkbox__checkbox {
    color: $color-foreground;
    background: $color-input;
    border: 1px solid $color-gray-15;
}

.n-checkbox.n-disabled .n-checkbox__checkbox  {
    background: rgba($color-gray-15, 0.3);
}

@each $color, $values in $colors {

    $-color-base: map_get($values, 'base');
    $-color-light: map_get($values, 'light');
    $-color-dark: map_get($values, 'dark');

    /**
     * Button primary
     */

    .n-checkbox--#{$color}:not(.n-disabled):hover .n-checkbox__checkbox {
        border-color: $-color-base;
    }

    .n-checkbox--#{$color}.n-checked:not(.n-disabled) .n-checkbox__checkbox,
    .n-checkbox--#{$color}.n-intermediate:not(.n-disabled) .n-checkbox__checkbox {
        color: $color-white;
        background: $-color-base;
        border-color: $-color-base;
    }

    .n-checkbox--#{$color}.n-checked:not(.n-disabled) .n-checkbox__checkbox:not(.n-disabled):hover,
    .n-checkbox--#{$color}.n-intermediate:not(.n-disabled) .n-checkbox__checkbox:not(.n-disabled):hover {
        background: $-color-light;
        border-color: $-color-light;
    }

    .n-checkbox--#{$color}.n-checked:not(.n-disabled) .n-checkbox__label {
        color: $-color-base;
    }

}
