@use "../../../root/helpers" as *;

@for $i from 0 through 20 {
    .n-chart-item--color-#{$i} {
        --n-color-tag-active: var(--n-color-tag-#{$i});
    }
}

.n-chart-donut circle.n-chart-item {
    stroke: color('base-color');
    transition: opacity 0.2s;
}

.n-chart-donut circle.n-chart-item--other {
    stroke: color('foreground', 0.2);
}

.n-chart-donut circle.n-chart-item[class*="n-chart-item--color-"] {
    stroke: color('tag-active');
}

.n-chart-donut circle.n-chart-item:hover {
    opacity: 0.5;
}