@import "../../../root/vars";

.n-radio__radio {
    color: $color-white;
    background: rgba($color-gray-70, 0.5);
    //border: 1px solid $color-gray-15;
}

.n-radio.n-disabled .n-radio__radio  {
    background: rgba($color-gray-60, 0.3);
}

.n-radio__radio span {
    background: $color-white;
}

@each $color, $values in $colors {

    $-color-base: map_get($values, 'base');
    $-color-light: map_get($values, 'light');
    $-color-dark: map_get($values, 'dark');

    .n-radio--#{$color}:not(.n-disabled):hover .n-radio__radio {
        //border-color: $-color-base;
    }

    .n-radio--#{$color}.n-checked:not(.n-disabled) .n-radio__radio {
        background: $-color-base;
        border-color: $-color-base;
    }

    .n-radio--#{$color}.n-checked:not(.n-disabled) .n-radio__radio span {
        background: $color-white;
    }

    .n-radio--#{$color}.n-checked:not(.n-disabled) .n-radio__radio:not(.n-disabled):hover {
        background: $-color-light;
        border-color: $-color-light;
    }

    .n-radio--#{$color}.n-checked:not(.n-disabled) .n-radio__label {
        color: $-color-base;
    }

}