@import "../../../root/vars";

$draggable-tree-item-height: 34px !default;
$draggable-tree-item-expand-size: 12px !default;

.n-draggable-tree-item {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.n-draggable-tree-item > .n-draggable-tree-item__expand {
    cursor: pointer;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $draggable-tree-item-height;
    min-height: $draggable-tree-item-height;
}

.n-draggable-tree-item.n-draggable-tree-item--empty > .n-draggable-tree-item__expand {
    visibility: hidden
}

.n-draggable-tree-item > .n-draggable-tree-item__expand span {
    display: inline-block;
    font-size: $draggable-tree-item-expand-size;
    color: $--color-gray-40;
}

.n-draggable-tree-item.n-draggable-tree-item--expanded > .n-draggable-tree-item__expand span {
    transform: rotate(90deg);
}

.n-draggable-tree-item > .n-draggable-tree-item__body {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    min-height: $draggable-tree-item-height;
}
