@use "../../../root/helpers" as *;

.n-transfer__panel {
    background: color('background', 0.35);
    border: 1px solid color('gray-50', 0.15);
}

.n-transfer__header {
    border-bottom: 1px solid color('gray-50', 0.15);
    //background: color('form', 0.7);
}

.n-transfer__body {
    //background: color('background', 0.7);
}

.n-transfer__search .n-input {
    border-color: transparent;
    background: color('background', 0.7);
}

.n-transfer__item-count {
    color: color('gray-60');
}
