@import "../../../root/vars";

$textarea-size: 13px !default;
$textarea-height: 32px !default;


.n-textarea {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
}

.n-textarea.n-disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.n-textarea textarea {
    appearance: none;
    display: block;
    width: 100%;
    text-decoration: none;
    line-height: 1.2;
    border: none;
    background: transparent;
    box-shadow: none;
    border: 1px solid $color-gray-15;
}

.n-textarea.n-disabled textarea  {
    background: rgba($color-gray-15, 0.3);
}

@each $suffix, $values in $form {

    $-textarea-font: map-get($values, 'font');
    $-textarea-size: map-get($values, 'size');
    $-textarea-radius: map-get($values, 'radius');
    $-textarea-ratio: map-get($values, 'ratio');

    .n-textarea--#{$suffix} {
        font-size: $-textarea-font;
    }

    $-textarea-line: $-textarea-size - 2 - ($-textarea-font * 1.2);

    .n-textarea--#{$suffix} textarea {
        min-height: $-textarea-size;
        padding: $-textarea-line * 0.5 $-textarea-size * $-textarea-ratio;
        border-radius: $-textarea-radius;
    }

}

@each $color, $values in $colors {

    $-color-base: map_get($values, 'base');
    $-color-light: map_get($values, 'light');
    $-color-dark: map_get($values, 'dark');

    /**
     * Button primary
     */

    .n-textarea--#{$color}:not(.n-disabled):hover textarea {
        border-color: $-color-base;
    }

    .n-textarea--#{$color}:not(.n-disabled) textarea:focus{
        border-color: $-color-light;
    }

}


.sn-textarea__wrapper {
    position: relative;
    display: inline-flex;
    width: 100%;
}

.sn-textarea {
    flex: 1 1 auto;
    min-width: 0;
    padding: $textarea-height * 0.2 $textarea-height * 0.3;
    min-height: $textarea-height;
    background: $--color-white;
    font-size: $textarea-size;
    border: 1px solid $--color-gray-15;
    border-radius: $radius-medium;
    transition: 0.15s border;
}

.sn-textarea:hover,
.sn-textarea:focus {
    border: 1px solid $--color-primary;
}

.sn-disabled .sn-textarea {
    cursor: not-allowed;
    background: $--color-gray-05;
}

.sn-disabled .sn-textarea:hover,
.sn-disabled .sn-textarea:focus {
    border: 1px solid $--color-gray-15;
}

.sn-textarea.sn-textarea--small {
    font-size: $textarea-size * 0.875;
    padding: $textarea-height * 0.2 * 0.875 $textarea-height * 0.3 * 0.875;
    min-height: $textarea-height * 0.875;
}

.sn-textarea.sn-textarea--large {
    font-size: $textarea-size * 1.125;
    padding: $textarea-height * 0.2 * 1.125 $textarea-height * 0.3 * 1.125;
    min-height: $textarea-height * 1.125;
}
