@import "../../../root/vars";

.n-file-list-item {
    flex: 1 1 auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.n-file-list-item__remove {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    color: $color-gray-35;
    background: rgba($color-white, 0.5);
}

.n-file-list-item__preview {
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    font-size: 5vw;
    background: $--color-background;
    color: rgba($color-primary, 0.5);
    border-radius: $radius-medium;
}

.n-file-list-item.n-file-list-item--exceed .n-file-list-item__preview {
    background: rgba($color-danger, 0.1);
    color: rgba($color-danger, 0.5);
}

.n-file-list-item__preview:before {
    content: '\00a0';
    display: block;
    height: 0;
    padding-bottom: 100%;
}

.n-file-list-item__preview-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    //width: 100%;
    //height: 100%;
}

.n-file-list-item__preview-inner img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.n-file-list-item__progress {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 4px;
    background: $--color-background-dark;
}


.n-file-list-item.n-file-list-item--exceed .n-file-list-item__progress {
    background: rgba($color-danger, 0.15);
}

.n-file-list-item__progress > span {
    height: 4px;
    background: $--color-primary;
}

.n-file-list-item.n-file-list-item--done .n-file-list-item__progress > span {
    background: $--color-success;
}

.n-file-list-item.n-file-list-item--error .n-file-list-item__progress > span {
    background: $--color-danger;
}

.n-file-list-item__name {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.n-file-list-item__name-inner {
    flex: 0 1 auto;
    overflow: hidden;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 15px 5px 0;
    color: $--color-black;
}

.n-file-list-item.n-file-list-item--exceed .n-file-list-item__name-inner {
    color: $--color-danger;
}

.n-file-list-item__meta {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.n-file-list-item.n-file-list-item--exceed .n-file-list-item__meta-inner {
    color: rgba($color-danger, 0.5);
}

.n-file-list-item__meta-inner {
    flex: 0 1 auto;
    overflow: hidden;
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 5px 15px;
    color: $--color-gray-50;
}
