@use "../../../root/helpers" as *;

.n-durationpicker {
    background: color('form-input', 0.7);
}

.n-durationpicker:not(.n-disabled):hover,
.n-durationpicker:not(.n-disabled).n-focus {
    background: color('form-input', 0.8);
}

.n-durationpicker.n-disabled {
    background: color('form-disabled', 0.7);
}

.n-durationpicker__seperator {
    color: color('gray-60');
}

.n-durationpicker__clear,
.n-durationpicker__angle {
    color: color('gray-60');
}

.n-durationpicker__clear i {
    background: color('gray-50', 0.2);
}

.n-durationpicker__placeholder {
    color: color('gray-15', 0.5);
}

.n-durationpicker-panel {
     background: color('popover');
}