@use "../../../root/helpers" as *;

.n-textarea {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    font-size: size('base-fnt');
}

.n-textarea.n-disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.n-textarea textarea {
    appearance: none;
    display: block;
    width: 100%;
    min-height: size('base-hgt');
    text-decoration: none;
    font-size: 1em;
    line-height: 1.2;
    background: transparent;
    box-shadow: none;
    border-radius: size('base-rad');
    border: 1px solid transparent;
    padding: size('base-hgt', 'calc($ * 0.2)') size('base-pad');
}

.n-textarea.n-disabled textarea {
    cursor: not-allowed;
}
