@use "sass:map";
@import "../../../root/vars";

.n-durationpicker {
    background: $color-input;
    border: 1px solid $color-gray-15;
}

.n-durationpicker.n-disabled {
    background: $color-input-off;
}

.n-durationpicker__seperator {
    color: $color-gray-60;
}

.n-durationpicker__clear,
.n-durationpicker__angle {
    color: $color-gray-60;
}

.n-durationpicker__clear i {
    background: rgba($color-gray-15, 0.6);
}

.n-durationpicker__placeholder {
    color: rgba($color-black, 0.5);
}

.n-durationpicker-panel {
     background: $color-input;
}

@each $color, $values in $colors {

    $-color-base: map.get($values, 'base');
    $-color-light: map.get($values, 'light');
    $-color-dark: map.get($values, 'dark');

     .n-durationpicker--#{$color}:not(.n-disabled):hover,
     .n-durationpicker--#{$color}:not(.n-disabled).n-focus {
        border-color: $-color-base;
    }

}