@use "sass:map";
@import "src/root/helpers";

.n-durationpicker {
    background: color('form-input');
    border: 1px solid color('gray-15');
}

.n-durationpicker:not(.n-disabled):hover {
    border-color: color('base-color-bg-30');
}

.n-durationpicker:not(.n-disabled).n-focus {
    border-color: color('base-color');
}

.n-durationpicker.n-disabled {
    background: color('form-disabled');
}

.n-durationpicker__seperator {
    color: color('gray-60');
}

.n-durationpicker__clear,
.n-durationpicker__angle {
    color: color('gray-60');
}

.n-durationpicker__clear i {
    background: color('gray-15', 0.6);
}

.n-durationpicker__placeholder {
    color: color('gray-15', 0.5);
}

.n-durationpicker-panel {
     background: color('form-input');
}