@import "../../../root/vars";

.n-durationpicker {
    background: $color-input;
    border: 1px solid $color-gray-15;
}

.n-durationpicker.n-disabled {
    background: $color-input-off;
}

.n-durationpicker__seperator {
    color: $color-gray-60;
}

.n-durationpicker__clear,
.n-durationpicker__angle {
    color: $color-gray-60;
}

.n-durationpicker__clear i {
    background: rgba($color-gray-15, 0.6);
}

.n-durationpicker__placeholder {
    color: rgba($color-black, 0.5);
}

.n-durationpicker__body,
.n-durationpicker__empty {
     background: $color-input;
     border: 1px solid $color-gray-15;
     box-shadow: 0 1px 3px 1px rgba($color-shadow, 0.15);
}

.n-durationpicker__empty {
     color: $color-gray-60;
}


@each $color, $values in $colors {

    $-color-base: map_get($values, 'base');
    $-color-light: map_get($values, 'light');
    $-color-dark: map_get($values, 'dark');

     .n-durationpicker--#{$color}:not(.n-disabled):hover,
     .n-durationpicker--#{$color}:not(.n-disabled).n-focus {
        border-color: $-color-base;
    }

}