@use 'sass:map';
@use "../../../root/vars" as *;

.n-checkbox-group {
    display: flex;
}

.n-checkbox-group > .n-checkbox {
    flex: 0 1 auto;
}

.n-checkbox-group.n-checkbox-group--horizontal {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.n-checkbox-group.n-checkbox-group--vertical {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.n-checkbox-group.n-checkbox-group--vertical .n-checkbox {
    width: 100%;
}

@each $suffix, $values in $form {

    $-checkbox-group-font: map.get($values, 'font');
    $-checkbox-group-size: map.get($values, 'size');
    $-checkbox-group-radius: map.get($values, 'radius');
    $-checkbox-group-ratio: map.get($values, 'ratio');

    .n-checkbox-group--#{$suffix}.n-checkbox-group--horizontal .n-checkbox {
        min-height: 0;
    }

    .n-checkbox-group--#{$suffix}.n-checkbox-group--horizontal .n-checkbox:not(:first-child) {
        margin-left: $-checkbox-group-size * $-checkbox-group-ratio;
    }

    .n-checkbox-group--#{$suffix}.n-checkbox-group--horizontal .n-checkbox:last-child {
        padding-right: 0;
    }

    .n-checkbox-group--#{$suffix}.n-checkbox-group--vertical .n-checkbox {
        min-height: 0;
    }

    .n-checkbox-group--#{$suffix}.n-checkbox-group--vertical .n-checkbox:not(:first-child) {
        margin-top: $-checkbox-group-size * $-checkbox-group-ratio * 0.5;
    }

    .n-checkbox-group--#{$suffix}.n-checkbox-group--vertical .n-checkbox:last-child {
        padding-bottom: 0;
    }

}