@import "src/root/helpers";

.n-checkbox-group {
    display: flex;
}

.n-checkbox-group > .n-checkbox {
    flex: 0 1 auto;
}

.n-checkbox-group.n-checkbox-group--horizontal {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.n-checkbox-group.n-checkbox-group--vertical {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.n-checkbox-group.n-checkbox-group--horizontal .n-checkbox {
    min-height: 0;
}

.n-checkbox-group.n-checkbox-group--vertical .n-checkbox {
    width: 100%;
}

.n-checkbox-group.n-checkbox-group--horizontal .n-checkbox:not(:first-child) {
    margin-left: size('base-pad', 'calc($ * 1.2)');
}

.n-checkbox-group.n-checkbox-group--horizontal .n-checkbox:last-child {
    padding-right: 0;
}

.n-checkbox-group.n-checkbox-group--vertical .n-checkbox {
    min-height: 0;
}

.n-checkbox-group.n-checkbox-group--vertical .n-checkbox:not(:first-child) {
    margin-top: 3px;
}

.n-checkbox-group.n-checkbox-group--vertical .n-checkbox:last-child {
    padding-bottom: 0;
}