@use "src/root/helpers" as *;

input, textarea {
    outline: none !important;
}

[class*="n-"] input,
[class*="n-"] textarea {
    outline: none;
    color: color('foreground');
}

[class*="n-"] input::placeholder,
[class*="n-"] textarea::placeholder {
    color: color('foreground');
    opacity: 0.3;
}

:root {
    --grid-gap-h: 0;
    --grid-gap-v: 0;
}

.n-demo.n-theme--dark #app {
    background: #181818;
}

.n-demo.n-theme--light #app {
    background: #eeeeee;
}

.n-demo #app .app-container {
    background: color('background');
}

.grid {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    padding: calc(var(--grid-gap-v) * 0.5) 0;
    margin: calc(var(--grid-gap-v) * -1) calc(var(--grid-gap-h) * -0.5);
    width: calc(100% + var(--grid-gap-h));
}

.grid--10-10 {
    --grid-gap-h: 10px;
    --grid-gap-v: 10px;
}

.grid--30-30 {
    --grid-gap-h: 30px;
    --grid-gap-v: 20px;
}

.grid--wrap {
    flex-wrap: wrap;
}

.grid [class*="col--"] {
    margin: calc(var(--grid-gap-v) * 0.5) calc(var(--grid-gap-h) * 0.5);
}

.col--auto {
    flex: 0 1 auto;
}

.col--1-1 {
    flex: 0 0 auto;
    width: calc(100% - var(--grid-gap-h));
}

.col--1-3 {
    flex: 0 0 auto;
    width: calc(33.332% - var(--grid-gap-h));
}