@use "../../../root/helpers" as *;

.n-input-number {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    font-size: size('base-fnt');
    border-radius: size('base-rad');
    border: 1px solid transparent;
}

.n-input-number.n-disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.n-input-number input {
    appearance: none;
    display: block;
    width: 100%;
    height: size('base-hgt', 'calc($ - 2px)');
    white-space: nowrap;
    text-decoration: none;
    font-size: 1em;
    line-height: 1.2;
    padding: 0 size('base-pad', 'calc($ * 0.5)');
    border: none;
    background: transparent;
    box-shadow: none;
}

.n-input-number.n-disabled input {
    cursor: not-allowed;
}

.n-input-number .n-button {
    flex: 0 0 auto;
    border-radius: 0;
}

.n-input-number .n-button.n-button--reset {
    width: size('base-hgt', 'calc($ - 2px)');
    height: size('base-hgt', 'calc($ - 2px)');
}

.n-input-number .n-button:not(.n-disabled) {
    cursor: default;
}

.n-input-number .n-input-number__clear {
    display: none;
    width: size('base-hgt', 'calc($ - 2px)');
}

.n-input-number.n-clearable:not(.n-empty):hover .n-input-number__clear {
    display: flex;
}
