@use 'sass:map';
@import "../../../root/vars";

.n-input-number {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    border: 1px solid transparent;
}

.n-input-number.n-disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.n-input-number input {
    appearance: none;
    display: block;
    width: 100%;
    white-space: nowrap;
    text-decoration: none;
    line-height: 1.2;
    border: none;
    background: transparent;
    box-shadow: none;
}

.n-input-number.n-disabled input {
    cursor: not-allowed;
}

.n-input-number .n-button {
    flex: 0 0 auto;
    border-radius: 0;
}

.n-input-number .n-button:not(.n-disabled) {
    cursor: default;
}

.n-input-number__clear {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.n-input-number__clear {
    display: none;
}

.n-input-number__clear i {
    display: inline-block;
    text-align: center;
    border-radius: 500px;
}

.n-input-number:hover.n-clearable:not(.n-empty) .n-input-number__clear {
    display: flex;
}



@each $suffix, $values in $form {

    $-input-number-font: map.get($values, 'font');
    $-input-number-size: map.get($values, 'size');
    $-input-number-radius: map.get($values, 'radius');
    $-input-number-ratio: map.get($values, 'ratio');

    .n-input-number--#{$suffix} {
        font-size: $-input-number-font;
        border-radius: $-input-number-radius;
    }

    .n-input-number--#{$suffix} input {
        height: $-input-number-size - 2;
        padding: 0 $-input-number-size * $-input-number-ratio;
    }

    .n-input-number--#{$suffix} .n-button {
        font-size: $-input-number-font - 4;
    }

    .n-input-number--#{$suffix} .n-button.n-button--square:not(.n-button--link) {
        width: $-input-number-size - 2;
        height: $-input-number-size - 2;
    }

    .n-input-number--#{$suffix} .n-input-number__clear {
        margin-right: $-input-number-size * $-input-number-ratio * 0.5;
    }

    .n-input-number--#{$suffix} .n-input-number__clear i {
        font-size: $-input-number-font - 4;
        width: $-input-number-size - 14;
        height: $-input-number-size - 14;
        line-height: $-input-number-size - 14;
    }

}
