@import "../../../root/vars";

$notification-size: 14px !default;
$notification-icon-size: 16px !default;

.n-notification-frame {
    position: fixed;
    display: flex;
    flex-direction: column;
}

.n-notification-frame.n-top-start {
    top: 0;
    left: 0;
}

.n-notification-frame.n-top-center {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.n-notification-frame.n-top-end {
    top: 0;
    right: 0;
}

.n-notification-frame.n-bottom-start {
    bottom: 0;
    left: 0;
}

.n-notification-frame.n-bottom-center {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.n-notification-frame.n-bottom-end {
    bottom: 0;
    right: 0;
}

.n-notification-frame.n-bottom-start,
.n-notification-frame.n-bottom-center,
.n-notification-frame.n-bottom-end {
    flex-direction: column-reverse;
}

.n-notification {
    cursor: default;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 280px;
    padding: 10px;
    margin: 5px;
    background: $color-white;
    border-radius: $md-radius;
    border: 1px solid $color-gray-15;
    box-shadow: 0 1px 3px 1px rgba($color-black, 0.05);
    transition: transform 0.15s;
}

.n-notification-frame.n-top-start .n-notification:not(.n-active),
.n-notification-frame.n-bottom-start .n-notification:not(.n-active) {
    transform: translateX(-150%);
}
.n-notification-frame.n-top-end .n-notification:not(.n-active),
.n-notification-frame.n-bottom-end .n-notification:not(.n-active) {
    transform: translateX(150%);
}

.n-notification__icon {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: $notification-icon-size;
    color: $color-gray-60;
}

.n-notification__text {
    overflow: hidden;
    flex: 1 1 auto;
    font-size: $notification-size;
    line-height: 1.2;
    overflow-wrap: break-word;
}

@each $color, $values in $colors {

    $-color-base: map_get($values, 'base');
    $-color-light: map_get($values, 'light');
    $-color-dark: map_get($values, 'dark');

    .n-notification--#{$color} {
        background: $-color-base;
        border-color: $-color-dark;
    }

    .n-notification--#{$color} .n-notification__icon,
    .n-notification--#{$color} .n-notification__text {
        color: $color-white;
    }

}