@use "../../../root/helpers" as *;

.n-datepicker {
    background: color('form-input', 0.7);
}

.n-datepicker:not(.n-disabled):hover,
.n-datepicker:not(.n-disabled).n-focus {
    background: color('form-input', 0.8);
}

.n-datepicker.n-disabled {
    background: color('form-disabled', 0.7);
}

.n-datepicker__seperator {
    color: color('gray-60');
}

.n-datepicker__clear,
.n-datepicker__angle {
    color: color('gray-60');
}

.n-datepicker__clear i {
    background: color('gray-50', 0.2);
}

.n-datepicker__placeholder {
    color: color('foreground', 0.5);
}

.n-datepicker__body,
.n-datepicker__empty {
     background: color('popover');
}

.n-datepicker__empty {
     color: color('gray-60');
}