@import "../../../root/vars";

.n-draglist__empty {
    margin: auto;
}

.n-draglist-item {
    cursor: default;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
}

.n-draglist-item.n-nodrop {
    background: rgba($color-danger, 0.075);
}

.n-draglist-item__spacer {
    flex: 0 0 auto;
}

.n-draglist-item__element {
    flex: 1 1 auto;
}

.n-draglist-item__handle,
.n-draglist-item__expand,
.n-draglist-item__select {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 28px;
}

.n-draglist-item__ellipsis,
.n-draglist-item__angle,
.n-draglist-item__checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.n-draglist-item .n-draglist-item__ellipsis {
    color: $color-gray-25;
}

.n-draglist-item .n-draglist-item__expand {
    color: $color-gray-60;
}

.n-draglist-item.n-expanded .n-draglist-item__angle {
    transform: rotate(90deg);
}

.n-draglist-item:not(.n-children) .n-draglist-item__angle i {
    display: none;
}

.n-draglist-item__checkbox {
    background: $color-white;
    border: 1px solid $color-gray-15;
}

.n-draglist-item.n-disabled .n-draglist-item__checkbox {
    cursor: not-allowed;
    opacity: 0.7;
    background:rgba($color-gray-15, 0.3);
}

.n-draglist-item:not(.n-selected) .n-draglist-item__checkbox i {
    display: none;
}

@each $suffix, $values in $form {

    $-draglist-font: map-get($values, 'font');
    $-draglist-size: map-get($values, 'size');
    $-draglist-radius: map-get($values, 'radius');
    $-draglist-ratio: map-get($values, 'ratio');

    .n-draglist--#{$suffix} {
        font-size: $-draglist-font;
    }

    .n-draglist--#{$suffix} .n-draglist__empty {
        padding: $-draglist-size $-draglist-size * 0.5;
    }

    .n-draglist--#{$suffix} .n-draglist-item__ellipsis,
    .n-draglist--#{$suffix} .n-draglist-item__angle,
    .n-draglist--#{$suffix} .n-draglist-item__checkbox {
        width: $-draglist-size - 16;
        height: $-draglist-size - 16;
        border-radius: $-draglist-radius - 1;
    }

    .n-draglist--#{$suffix} .n-draglist-item__ellipsis,
    .n-draglist--#{$suffix} .n-draglist-item__angle {
        font-size: $-draglist-font - 2;
    }

    .n-draglist--#{$suffix} .n-draglist-item__checkbox {
        font-size: $-draglist-font - 4;
    }

}

@each $color, $values in $colors {

    $-color-base: map_get($values, 'base');
    $-color-light: map_get($values, 'light');
    $-color-dark: map_get($values, 'dark');

    .n-draglist--#{$color}.n-empty.n-dragover {
        background: rgba($-color-base, 0.075);
    }

    .n-draglist--#{$color} .n-draglist-item.n-dragover {
        background: rgba($-color-base, 0.075);
    }

    .n-draglist--#{$color} .n-draglist-item.n-selected .n-draglist-item__checkbox {
        color: $color-white;
        background: $-color-base;
        border-color: $-color-base;
    }

    .n-draglist--#{$color} .n-draglist-item.n-selected .n-draglist-item__checkbox:hover {
        background: $-color-light;
        border-color: $-color-light;
    }

}




// /**
//  * Fix flickering by set transition delay
//  */

// .n-draglist-item {
//     display: flex;
//     flex-direction: row;
//     align-items: stretch;
//     justify-content: stretch;
//     box-sizing: border-box;
//     transition: background 0ms 100ms;
// }

// .n-draglist-item.n-highlight {
//     background: rgba($color-warning, 0.1);
//     transition: background 0ms;
// }

// .n-draglist-item.n-current {
//     background: rgba($color-primary, 0.1);
// }

// .n-draglist-item.n-ghost:after {
//     position: relative;
// }

// .n-dragged .n-draglist-item.n-selected {
//     opacity: 0.5;
// }

// .n-draglist-item.n-dragover {
//     background: rgba($color-primary, 0.1);
//     transition: background 0ms;
// }

// .n-draglist-item.n-nodrop {
//     background: rgba($color-danger, 0.1);
//     transition: background 0ms;
// }

// .n-draglist-item__spacer {
//     flex: 0 0 auto;
// }

// .n-draglist-item__expand,
// .n-draglist-item__select {
//     flex: 0 0 auto;
//     width: 30px;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
// }

// .n-draglist-item.n-ghost .n-draglist-item__select {
//     display: none !important;
// }

// .n-draglist-item__expand > div,
// .n-draglist-item__select > div {
//     cursor: pointer;
//     width: 20px;
//     height: 20px;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
// }

// .n-draglist-item__expand > div {
//     color: $--color-gray-65;
// }

// .n-inverse .n-draglist-item__expand > div {
//     color: $--color-gray-35;
// }

// .n-draglist-item:not(.n-expanded) .n-draglist-item__expand > div {
//     transform: rotate(90deg);
// }