@use "sass:map";
@use "../../../root/vars" as *;

.n-tabs__tab-icon {
    color: $color-gray-40;
}

@each $color, $values in $colors {

    $-color-base: map.get($values, 'base');
    $-color-light: map.get($values, 'light');
    $-color-dark: map.get($values, 'dark');

    .n-tabs--#{$color} .n-tabs__tab.n-active .n-tabs__tab-icon,
    .n-tabs--#{$color} .n-tabs__tab.n-active .n-tabs__tab-label {
        color: $-color-base;
    }

}