@use "src/root/helpers" as *;

.n-radio {
    cursor: default;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: stretch;
    min-height: size('base-hgt');
    font-size: size('base-fnt');
}

.n-radio.n-disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.n-radio__radio {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 500px;
    border: 1px solid transparent;
    transition: border 0.15s, background 0.15s;
}

.n-radio__radio span {
    opacity: 0;
    border-radius: 500px;
}

.n-radio.n-checked .n-radio__radio span {
    opacity: 1;
}

.n-radio .n-radio__radio {
    width: size('base-hgt-inline');
    height: size('base-hgt-inline');
}

.n-radio .n-radio__radio span {
    width: size('base-hgt-inline', 'calc($ - 10px)');
    height: size('base-hgt-inline', 'calc($ - 10px)');
}

.n-radio .n-radio__label {
    padding-left: size('base-pad', 'calc($ * 0.8)');
}
