@use "../../../root/helpers" as *;

.n-chart-donut .n-chart-donut__chart:before {
    pointer-events: none;
    content: '\00a0';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 500px;
    background: radial-gradient(color('background', 0.5) 50%, color('background', 0) 70%);
}

.n-chart-donut circle.n-chart-item {
    stroke: color('base-color');
    transition: opacity 0.2s;
}

.n-chart-donut circle.n-chart-item:hover {
    opacity: 0.6;
}

.n-chart-donut__text span:first-child {
    color: color('text');
}

.n-chart-donut__text span:last-child {
    color: color('text', 0.5);
}
