@import "src/root/helpers";

.n-timepicker-panel {
    cursor: default;
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    max-height: 270px;
    font-size: size('base-fnt');
    border-radius: size('base-rad');
}

.n-timepicker-panel__header {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.n-timepicker-panel__body {
    flex: 1 1 auto;
    min-height: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
}

.n-timepicker-panel__panel {
    flex: 1 0 auto;
    min-height: 0;
}

.n-timepicker-panel__display,
.n-timepicker-panel__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.n-timepicker-panel__panel {
    width: size('base-hgt', 'calc($ * 2)');
    min-height: size('base-hgt', 'calc($ * 5)');
}

.n-timepicker-panel__display {
    height: size('base-hgt', 'calc($ - 4px)');
}

.n-timepicker-panel__header {
    height: size('base-hgt', 'calc($ * 1.5)');
    padding: 0 size('base-pad');
}

.n-timepicker-panel__footer {
    padding: size('base-pad-vertical') size('base-pad');
}

.n-timepicker-panel__wrap {
    padding: size('base-pad-vertical') size('base-pad', 'calc($ * 0.8)');
}

.n-timepicker-panel__item {
    height: size('base-hgt', 'calc($ - 4px)');
    padding: 0 size('base-pad', 'calc($ * 0.8)');
    border-radius: size('base-rad');
}