@use "../../root/css/helpers" as *;

.n-resizer {
    position: relative;
    transform: translateZ(0);
}

.n-resizer__handle {
    z-index: 200;
    cursor: col-resize;
    user-select: none;
    position: absolute;
    top: 6px;
    bottom: 6px;
    width: 6px;
}

.n-resizer.n-move > .n-resizer__handle {
    z-index: 99999;
}

.n-resizer--right > .n-resizer__handle {
    left: 0;
    margin-left: -3px;
}

.n-resizer--right > .n-resizer__handle:not([style]) {
    left: 100%;
}

.n-resizer--left > .n-resizer__handle {
    right: 0;
    margin-right: -3px;
}

.n-resizer--left > .n-resizer__handle:not([style]) {
    right: 100%;
}

.n-resizer__handle:before {
    content: '\00a0';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 500px;
}

//.n-resizer--left .n-resizer__handle:before {
//    left: 0;
//    right: 0;
//}
//
//.n-resizer--right .n-resizer__handle:before {
//    left: 0;
//    right: 0;
//}
