@use "../../../root/helpers" as *;

.n-alert {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.n-alert__frame {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
}

.n-alert__frame:not(.n-active) .n-alert {
    opacity: 0;
    transform: translateY(40%);
}

.n-alert__body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.n-alert__icon {
    z-index: 0;
    position: relative;
    text-align: center;
}

.n-alert__icon i {
    z-index: 10;
    position: relative;
    font-size: 2em;
}

.n-alert__text {
    z-index: 10;
    position: relative;
    text-align: center;
}

.n-alert__text p {
    font-size: 1em;
}

.n-alert__action {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.n-alert {
    font-size: size('base-fnt');
    padding: size('base-pad', 'calc($ * 3)');
}

.n-alert__frame {
    width: size('base-hgt', 'calc($ * 12)');
    padding: size('base-pad-vertical', 'calc($ * 3)') size('base-pad', 'calc($ * 3)');
    border-radius: size('base-rad-window');
}

.n-alert__body:not(:empty) {
    margin-bottom: size('base-pad-vertical', 'calc($ * 2)');
}

.n-alert__icon {
    margin-bottom: size('base-pad-vertical', 'calc($ * 2)');
}