@import "../../../root/vars";

.n-select {
    background: $color-gray-90;
}

.n-select.n-disabled {
    background: rgba($color-gray-75, 0.3);
}

.n-select__clear,
.n-select__angle {
    color: $color-gray-60;
}

.n-select__clear i {
    background: rgba($color-gray-75, 0.6);
}

.n-select__body,
.n-select__empty {
     background: $color-gray-95;
     box-shadow: 0 1px 3px 1px rgba($color-shadow, 0.15);
}

 .n-select__empty {
     color: $color-gray-60;
}

@each $color, $values in $colors {

    $-color-base: map_get($values, 'base');
    $-color-light: map_get($values, 'light');
    $-color-dark: map_get($values, 'dark');

     //.n-select--#{$color}:not(.n-disabled):hover,
     .n-select--#{$color}:not(.n-disabled).n-focus {
        border-color: $-color-base;
    }

    .n-select--#{$color} .n-select__item {
        color: $color-white;
        background: $-color-base;
    }

}
