@use "../../../root/helpers" as *;

.n-form-frame__menu:hover {
    background: color('foreground', 0.075);
}

.n-form-frame__menu.is-star {
    background: color('base-color', 0.15);
}

.n-form-frame__menu.on-search:before {
    background: color('base-color');
}

.n-form-frame__menu i {
    color: color('base-color');
}

.n-form-frame__menu span {
    color: color('gray-80');
}

.n-form-frame__menu.is-star span {
    color:color('base-color');
}
