
.markdown-section pre {
    border-radius: $lg-radius;
    background-color: $color-gray-85;
    font-family: 'Roboto Mono', Monaco, courier, monospace;
    overflow: auto;
    padding: 0;
    position: relative;
    word-wrap: normal;
    margin-bottom: 30px;
}

.markdown-section pre > code {
    padding: 25px 30px !important;
}

.markdown-section pre,
.markdown-section pre code {
    font-size: 14px;
    line-height: 1.6rem;
}

/* code highlight */
.token.comment, .token.prolog, .token.doctype, .token.cdata {
    color: $color-gray-55;
}

.token.namespace {
    opacity: 0.7;
}

.token.boolean, .token.number {
    color: #c76b29;
}

.token.punctuation {
    color: $color-gray-40;
}

.token.property {
    color: mix($color-gray-25, $color-warning, 15%);
}

.token.tag {
    color: mix($color-gray-25, $color-primary, 15%);
}

.token.string {
    color: mix($color-gray-25, $color-info, 15%);
}

.token.selector {
    color: #6679cc;
}

.token.attr-name {
    color: mix($color-gray-25, $color-success, 15%);
}

.token.entity, .token.url, .language-css .token.string, .style .token.string {
    color: #22a2c9;
}

.token.attr-value, .token.control, .token.directive, .token.unit {
    color: mix($color-gray-25, $color-danger, 15%);
}

.token.keyword, .token.function {
    color: mix($color-gray-25, $color-warning, 15%);
}

.token.statement, .token.regex, .token.atrule {
    color: #22a2c9;
}

.token.placeholder, .token.variable {
    color: #3d8fd1;
}

.token.deleted {
    text-decoration: line-through;
}

.token.inserted {
    border-bottom: 1px dotted #202746;
    text-decoration: none;
}

.token.italic {
    font-style: italic;
}

.token.important, .token.bold {
    font-weight: bold;
}

.token.important {
    color: #c94922;
}

.token.entity {
    cursor: help;
}

.markdown-section pre > code {
    background-color: transparent;
    color: $color-gray-10;
    display: block;
    line-height: inherit;
    margin: 0 2px;
    max-width: inherit;
    overflow: inherit;
    padding: 2.2em 5px;
    white-space: inherit;
}

.markdown-section code::after, .markdown-section code::before {
    letter-spacing: 0.05rem;
}

code .token {
    min-height: 1.5rem;
    position: relative;
    left: auto;
}

pre::after {
    color: $color-gray-50;
    content: attr(data-lang);
    font-size: 12px;
    font-weight: 600;
    height: 15px;
    line-height: 15px;
    padding: 5px 10px 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
