@use "../../../root/helpers" as *;

.n-info-cell {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    font-size: size('base-fnt');
}