@import "../../../root/vars";


.n-form-group__legend {
    cursor: default;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    width: 100%;
}

.n-form-group__collapse {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: $color-gray-40;
    transition: transform 0.15s;
}

.n-form-group:not(.n-action) .n-form-group__collapse {
    order: 900;
}

.n-form-group.n-hidden .n-form-group__collapse {
    transform: rotate(-90deg);
}

.n-form-group__label {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.n-form-group__icon {
    flex: 0 1 auto;
}

.n-form-group__text {
    flex: 1 1 auto;
    font-weight: bold;
}

.n-form-group.n-hidden .n-form-group__body {
    display: none;
}

@each $suffix, $values in $form {

    $-form-group-font: map-get($values, 'font');
    $-form-group-size: map-get($values, 'size');
    $-form-group-radius: map-get($values, 'radius');
    $-form-group-ratio: map-get($values, 'ratio');

    .n-form-group--#{$suffix} .n-form-group__legend {
        font-size: $-form-group-font;
        min-height: $-form-group-size * 1.2;
    }

    .n-form-group--#{$suffix} .n-form-group__label span {
        font-size: $-form-group-font + 1;
    }

    .n-form-group--#{$suffix} .n-form-group__collapse {
        width: $-form-group-size;
        height: $-form-group-size;
    }

    .n-form-group--#{$suffix} .n-form-group__icon {
        margin-right: $-form-group-size * $-form-group-ratio * 0.7;
    }

    .n-form-group--#{$suffix} .n-form-group__body {
        padding-top: $-form-group-size * $-form-group-ratio;
    }

}

@each $color, $values in $colors {

    $-color-base: map_get($values, 'base');
    $-color-light: map_get($values, 'light');
    $-color-dark: map_get($values, 'dark');

    .n-form-group--#{$color} .n-form-group__label i {
        color: $-color-base;
    }

}