@import "../../../root/vars";


.n-form-group__legend {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
}

.n-form-group.n-hidden .n-form-group__body {
    display: none;
}