@use "../../../root/helpers" as *;

.n-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3%;
}

.n-modal.n-hidden {
    display: none;
}

.n-modal__backdrop {
    z-index: 10;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 0.3s;
}

.n-modal:not(.n-ready,.n-loop) .n-modal__backdrop {
    opacity: 0;
}

.n-modal__frame {
    z-index: 20;
    overflow: hidden;
    position: relative;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 100%;
    min-height: 0;
    max-height: 100%;
    margin: auto;
    transform: translateY(0);
    transition: opacity 0.2s 0.1s ease-out, transform 0.2s 0.1s ease-out;
}

.n-modal:not(.n-ready,.n-loop) .n-modal__frame {
    opacity: 0;
    transform: translateY(20px);
}

.n-modal--center-center > .n-modal__frame {
    margin: auto;
}

.n-modal--top-start > .n-modal__frame {
    margin: 0 auto auto 0;
}

.n-modal--top-center > .n-modal__frame {
    margin: 0 auto auto auto;
}

.n-modal--top-end > .n-modal__frame {
    margin: 0 0 auto auto;
}

.n-modal--bottom-start > .n-modal__frame {
    margin: auto auto 0 0;
}

.n-modal--bottom-center > .n-modal__frame {
    margin: auto auto 0 auto;
}

.n-modal--bottom-end > .n-modal__frame {
    margin: auto 0 0 auto;
}

.n-modal--left-start > .n-modal__frame {
    margin: 0 auto auto 0;
}

.n-modal--left-center > .n-modal__frame {
    margin: auto auto auto 0;
}

.n-modal--left-end > .n-modal__frame {
    margin: auto auto 0 0;
}

.n-modal--right-start > .n-modal__frame {
    margin: 0 0 auto auto;
}

.n-modal--right-center > .n-modal__frame {
    margin: auto 0 auto auto;
}

.n-modal--right-end > .n-modal__frame {
    margin: auto 0 0 auto;
}

.n-modal__header {
    position: relative;
    flex: 0 0 auto;
}

.n-modal__body {
    overflow: hidden;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.n-modal .n-modal__wrap {
    flex: 1 1 auto;
}

.n-modal__footer {
    flex: 0 0 auto;
}

.n-modal__close {
    cursor: default;
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    opacity: 0.3;
    transition: opacity 0.15s;
}

.n-modal__close:hover {
    opacity: 0.6;
}

.n-modal {
    font-size: size('base-fnt');
}

.n-modal__frame {
    border-radius: size('base-rad-window');
}

.n-modal__header {
    padding: size('base-pad-vertical', 'calc($ * 2)') size('base-pad', 'calc($ * 2)');
}

.n-modal.n-closable .n-modal__header {
    padding-right: calc(#{"(#{size('base-pad')} * 2) + #{size('base-hgt')}"});
}

.n-modal:not(.n-raw) .n-modal__wrap {
    padding: size('base-pad-vertical', 'calc($ * 2)') size('base-pad', 'calc($ * 2)');
}

.n-modal__footer {
    padding: size('base-pad-vertical', 'calc($ * 2)') size('base-pad', 'calc($ * 2)');
}

.n-modal__close {
    width: size('base-hgt');
    height: size('base-hgt');
    right: size('base-pad');
}