@import "src/root/helpers";

.n-notification {
    background: color('base-color');
    box-shadow: 0 1px 6px color('shadow', 0.2), 0 0 2px color('shadow', 0.15);
}

.n-notification__icon,
.n-notification__text {
    color: color('base-text');
}