@use "sass:map";
@import "../../../root/vars";
@import "../../../root/mixins";

.n-notification {
    @include NanoBoxshadowSm;
    background: $color-white;
}


@each $color, $values in $colors {

    $-color-base: map.get($values, 'base');
    $-color-light: map.get($values, 'light');
    $-color-dark: map.get($values, 'dark');

    .n-notification--#{$color} {
        background: $-color-base;
    }

    .n-notification--#{$color} .n-notification__icon,
    .n-notification--#{$color} .n-notification__text {
        color: $color-white;
    }

}