@use "src/root/helpers" as *;

.n-draggable__indicator {
    pointer-events: none;
    z-index: 99999;
    position: absolute;
    top: -9999px;
    left: 0;
    display: block;
    width: 100%;
    height: 0;
    margin-top: -1px;
    border-bottom: 1px solid transparent;
}

.n-draggable__counter {
    pointer-events: none;
    z-index: 99999;
    position: absolute;
    top: -9999px;
    left: -9999px;
    display: inline-block;
    margin: 2px 10px;
    padding: 4px 12px;
    border-radius: 500px;
}