@use "../../../root/helpers" as *;

.n-input-number {
    background: color('form-input', 0.7);
}

.n-input-number.n-disabled  {
    background: color('form-disabled', 0.7);
}

.n-input-number .n-button {
    color: color('gray-60');
}

.n-input-number:not(.n-disabled) .n-button {
    background: transparent;
}

.n-input-number:not(.n-disabled) .n-button:not(.n-disabled):hover {
    color: color('base-color');
}

.n-input-number:not(.n-disabled):hover,
.n-input-number:not(.n-disabled).n-focus {
    background: color('form-input', 0.8);
}

