@use "sass:map";
@import "../../../root/vars";

.n-collapse__header-icon {
    color: $color-gray-40;
}

@each $color, $values in $colors {

    $-color-base: map.get($values, 'base');
    $-color-light: map.get($values, 'light');
    $-color-dark: map.get($values, 'dark');

    .n-collapse--#{$color} .n-collapse__header .n-collapse__header-icon {
        color: $-color-base;
    }

    .n-collapse--#{$color} .n-collapse__header.n-active .n-collapse__header-angle {
        color: $-color-base;
    }

}