@use 'sass:map';
@import "../../../root/vars";

.n-timepicker {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    border: 1px solid transparent;
}

.n-timepicker.n-disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.n-timepicker__display {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
}

.n-timepicker__seperator {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.n-timepicker__input {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    width: 50%;
}

.n-timepicker__input input {
    cursor: default;
    appearance: none;
    display: block;
    width: 100%;
    white-space: nowrap;
    text-decoration: none;
    line-height: 1.2;
    border: none;
    background: transparent;
    box-shadow: none;
}

.n-disabled .n-timepicker__input input {
    cursor: not-allowed;
}

.n-timepicker__clear,
.n-timepicker__angle {
    order: 100;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.n-timepicker__clear {
    display: none;
}

.n-timepicker:hover.n-clearable:not(.n-empty) .n-timepicker__clear,
.n-timepicker.n-focus.n-clearable:not(.n-empty) .n-timepicker__clear {
    display: flex;
}

.n-timepicker:hover.n-clearable:not(.n-empty) .n-timepicker__angle,
.n-timepicker.n-focus.n-clearable:not(.n-empty) .n-timepicker__angle {
    display: none;
}

.n-timepicker__angle {
    transition: transform 0.25s;
}

.n-timepicker.n-focus .n-timepicker__angle {
    transform: scaleY(-1);
}

.n-timepicker__clear i,
.n-timepicker__angle i {
    text-align: center;
}

.n-timepicker__clear i {
    border-radius: 500px;
}

.n-timepicker__placeholder {
    flex: 1 1 auto;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.n-timepicker__body,
.n-timepicker__empty {
     overflow: hidden;
     border: 0;
}

.n-timepicker__empty {
     text-align: center;
}

@each $suffix, $values in $form {

    $-timepicker-font: map.get($values, 'font');
    $-timepicker-size: map.get($values, 'size');
    $-timepicker-radius: map.get($values, 'radius');
    $-timepicker-ratio: map.get($values, 'ratio');

    .n-timepicker--#{$suffix} {
        min-height: $-timepicker-size;
        font-size: $-timepicker-font;
        border-radius: $-timepicker-radius;
    }

    $-timepicker-padding: $-timepicker-size * $-timepicker-ratio * 0.5;

    .n-timepicker--#{$suffix} .n-timepicker__display,
    .n-timepicker--#{$suffix} .n-timepicker__seperator,
    .n-timepicker--#{$suffix} .n-timepicker__input input {
        padding: 0 $-timepicker-padding;
    }

    .n-timepicker--#{$suffix} .n-timepicker__clear,
    .n-timepicker--#{$suffix} .n-timepicker__angle {
        width: $-timepicker-size;
        margin: 0 -#{$-timepicker-padding} 0 -#{$-timepicker-padding};
    }
    .n-timepicker--#{$suffix} .n-timepicker__clear i,
    .n-timepicker--#{$suffix} .n-timepicker__angle i {
        width: $-timepicker-size - 14;
        height: $-timepicker-size - 14;
        line-height: $-timepicker-size - 14;
    }

    .n-timepicker--#{$suffix} .n-timepicker__angle i {
        font-size: $-timepicker-font - 2;
    }

    .n-timepicker--#{$suffix} .n-timepicker__clear i {
        font-size: $-timepicker-font - 4;
    }

    .n-popover--#{$suffix} .n-timepicker__body,
    .n-popover--#{$suffix} .n-timepicker__empty {
        border-radius: $-timepicker-radius;
    }

    .n-popover--#{$suffix} .n-timepicker__empty {
        padding: $-timepicker-padding;
    }

}
