@use "sass:map";
@import "../../../root/vars";
@import "../../../root/mixins";

.n-confirm {
    @include NanoBackdropFocus;
    transition: opacity 0.3s;
}

.n-confirm:not(.n-ready) {
    opacity: 0;
}

.n-confirm-frame {
    @include NanoBoxshadowLg;
    border-radius: $lg-radius;
    background: $color-background;
    transition: transform 0.3s;
}

.n-confirm:not(.n-ready) .n-confirm-frame {
    transform: translateY(50px) scale(0.6);
}

.n-confirm__text {
    color: $color-foreground;
}


.n-confirm .n-button--cancel {
    color: rgba($color-foreground, 0.6);
    background: rgba($color-gray-50, 0.2);
}

.n-confirm .n-button--confirm {
    color: $color-white;
}


@each $color, $values in $colors {

    $-color-base: map.get($values, 'base');
    $-color-light: map.get($values, 'light');
    $-color-dark: map.get($values, 'dark');

    .n-confirm--#{$color} .n-confirm__icon i {
        color: $-color-base;
    }

    .n-confirm--#{$color} .n-button--confirm {
        background: $-color-base;
    }

}
