@import "src/root/helpers";

.n-alert {
    z-index: 999999998;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.n-alert-frame {
    z-index: 100;
    cursor: default;
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 340px;
    transition: transform 0.3s, opacity 0.15s;
}

.n-alert-frame:not(.n-active) .n-alert {
    opacity: 0;
    transform: translateY(40%);
}

.n-alert__body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.n-alert__icon {
    z-index: 0;
    position: relative;
    text-align: center;
}

.n-alert__icon i {
    z-index: 10;
    position: relative;
    font-size: 2em;
}

.n-alert__text {
    z-index: 10;
    position: relative;
    text-align: center;
}

.n-alert__text p {
    font-size: 1em;
}

.n-alert {
    font-size: size('base-fnt');
    padding: calc(#{"#{size('base-pad')} * 3"});
}

.n-alert-frame {
    width: calc(#{"#{size('base-hgt')} * 12"});
    padding: calc(#{"#{size('base-pad-vertical')} * 3"}) calc(#{"#{size('base-pad')} * 3"});
    border-radius: size('base-rad-window');
}

.n-alert__icon {
    margin-bottom: calc(#{"#{size('base-pad-vertical')} * 2"});
}