@use "@kizmann/nano-ui/src/root/helpers" as *;

.n-datepicker {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    border: 1px solid transparent;
}

.n-datepicker.n-disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.n-datepicker__display {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    width: calc(100% + 2px);
    margin: -1px;
    border: 1px solid transparent;
}

.n-datepicker__seperator {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.n-datepicker__input {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    width: 50%;
}

.n-datepicker__input input {
    cursor: default;
    appearance: none;
    display: block;
    width: 100%;
    white-space: nowrap;
    text-decoration: none;
    line-height: 1.2;
    border: none;
    background: transparent;
    box-shadow: none;
}

.n-disabled .n-datepicker__input input {
    cursor: not-allowed;
}

.n-datepicker__clear,
.n-datepicker__angle {
    order: 100;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.n-datepicker__clear {
    display: none;
}

.n-datepicker:hover.n-clearable:not(.n-empty) .n-datepicker__clear,
.n-datepicker.n-focus.n-clearable:not(.n-empty) .n-datepicker__clear {
    display: flex;
}

.n-datepicker:hover.n-clearable:not(.n-empty) .n-datepicker__angle,
.n-datepicker.n-focus.n-clearable:not(.n-empty) .n-datepicker__angle {
    display: none;
}

.n-datepicker__angle {
    transition: transform 0.25s;
}

.n-datepicker.n-focus .n-datepicker__angle {
    transform: scaleY(-1);
}

.n-datepicker__clear i,
.n-datepicker__angle i {
    text-align: center;
}

.n-datepicker__clear i {
    border-radius: 500px;
}

.n-datepicker__placeholder {
    flex: 1 1 auto;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.n-datepicker__body,
.n-datepicker__empty {
     overflow: hidden;
     border: 0;
}

.n-datepicker__empty {
     text-align: center;
}

.n-datepicker {
    height: size('base-hgt');
    font-size: size('base-fnt');
    border-radius: size('base-rad');
}

//.n-datepicker__seperator,
.n-datepicker__input input {
    padding: 0 size('base-pad');
}

.n-datepicker__clear,
.n-datepicker__angle {
    width: size('base-hgt');
}

.n-datepicker__body {
    border-radius: size('base-rad');
}

