@use "../helpers" as *;

$size-xs: (
        'hgt': 22px,
        'hgt-inline': 14px,
        'hgt-loader': 18px,
        'pad': 6px,
        'pad-vertical': 4px,
        'fnt': 0.900rem,
        'fnt-icon': 0.850em,
        'fnt-label': 0.900em,
        'fnt-inline': 0.700em,
        'rad': 5px,
        'rad-inline': 3px,
        'rad-window': 8px,
        'rad-circle': 500px,
) !default;

$size-sm: (
        'hgt': 26px,
        'hgt-inline': 16px,
        'hgt-loader': 28px,
        'pad': 8px,
        'pad-vertical': 6px,
        'fnt': 0.950rem,
        'fnt-icon': 0.8250em,
        'fnt-label': 0.900em,
        'fnt-inline': 0.760em,
        'rad': 6px,
        'rad-inline': 4px,
        'rad-window': 10px,
        'rad-circle': 500px,
) !default;

$size-md: (
        'hgt': 32px,
        'hgt-inline': 18px,
        'hgt-loader': 36px,
        'pad': 10px,
        'pad-vertical': 8px,
        'fnt': 1.000rem,
        'fnt-icon': 0.800em,
        'fnt-label': 0.900em,
        'fnt-inline': 0.730em,
        'rad': 6px,
        'rad-inline': 4px,
        'rad-window': 12px,
        'rad-circle': 500px,
) !default;

$size-lg: (
        'hgt': 34px,
        'hgt-inline': 20px,
        'hgt-loader': 46px,
        'pad': 11px,
        'pad-vertical': 9px,
        'fnt': 1.100rem,
        'fnt-icon': 0.800em,
        'fnt-label': 0.900em,
        'fnt-inline': 0.760em,
        'rad': 7px,
        'rad-inline': 5px,
        'rad-window': 16px,
        'rad-circle': 500px,
) !default;

$size-xl: (
        'hgt': 36px,
        'hgt-inline': 22px,
        'hgt-loader': 60px,
        'pad': 12px,
        'pad-vertical': 10px,
        'fnt': 1.200rem,
        'fnt-icon': 0.800em,
        'fnt-label': 0.900em,
        'fnt-inline': 0.760em,
        'rad': 7px,
        'rad-inline': 5px,
        'rad-window': 20px,
        'rad-circle': 500px,
) !default;

$size-list: (
        'xs': $size-xs,
        'sm': $size-sm,
        'md': $size-md,
        'lg': $size-lg,
        'xl': $size-xl,
) !default;

:root {
    @each $name, $values in $size-list {
        @include css-sizes($values, '-default-#{$name}');
    }
}

@each $name, $values in $size-list {
    [class*="--#{$name}"] {
        @include css-remaps($values, '-size-default-#{$name}', '-size-base');
    }
}
