@import "src/root/helpers";

.n-select {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    min-height: size('base-hgt');
    font-size: size('base-fnt');
    border-radius: size('base-rad');
    border: 1px solid transparent;
}

.n-select.n-disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.n-select__display {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    width: calc(100% + 2px);
    margin: -1px;
    border: 1px solid transparent;
}

.n-select__clear,
.n-select__angle {
    order: 100;
    display: flex;
}

.n-select__clear {
    display: none;
}

.n-select:hover.n-clearable:not(.n-empty) .n-select__clear,
.n-select.n-focus.n-clearable:not(.n-empty) .n-select__clear {
    display: flex;
}

.n-select:hover.n-clearable:not(.n-empty) .n-select__angle,
.n-select.n-focus.n-clearable:not(.n-empty) .n-select__angle {
    display: none;
}

.n-select__angle {
    transition: transform 0.25s;
}

.n-select.n-focus .n-select__angle {
    transform: scaleY(-1);
}

.n-select__input {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    width: 30px;
}

.n-select__input input {
    cursor: default;
    appearance: none;
    display: block;
    width: 100%;
    white-space: nowrap;
    text-decoration: none;
    font-size: 1em;
    line-height: 1.2;
    border: none;
    background: transparent;
    box-shadow: none;
}

.n-disabled .n-select__input input {
    cursor: not-allowed;
}

.n-select__items {
    flex: 1 1 auto;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.n-select__item {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.n-select__item i {
    opacity: 0.7;
}

.n-select__body,
.n-select__empty {
    overflow: hidden;
    max-height: 210px;
    border-radius: size('base-rad');
}

.n-select__empty {
    text-align: center;
    padding: size('base-pad-vertical') size('base-pad');
}

.n-popover--select > .n-scrollbar {
    width: 100%;
}

.n-select__display.n-multiple .n-select__input input {
    min-height: size('base-hgt', 'calc($ - 6px)');
}

.n-select__clear,
.n-select__angle {
    width: size('base-hgt');
}

.n-select__input input {
    padding: 0 size('base-pad');
}

.n-select__items {
    padding: 2px 0;
    margin-left: size('base-pad', 'calc($ * -0.25)');
}

.n-select__item {
    margin: 2px -2px 2px 7px;
    height: size('base-hgt', 'calc($ - 10px)');
    padding: 0 size('base-pad', 'calc($ * 0.8)');
    border-radius: size('base-rad', 'calc($ - 2px)');
}

.n-select__item span {
    font-size: size('base-fnt-icon');
}

.n-select__item i {
    font-size: size('base-fnt-icon');
}

.n-select__item > *:not(:last-child) {
    margin-right: size('base-pad', 'calc($ * 0.5)');
}
