@import "../../../root/vars";

.n-select {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    border: 1px solid transparent;
}

.n-select.n-disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.n-select__display {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
}

.n-select__clear,
.n-select__angle {
    order: 100;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.n-select__clear {
    display: none;
}

.n-select:hover.n-clearable:not(.n-empty) .n-select__clear,
.n-select.n-focus.n-clearable:not(.n-empty) .n-select__clear {
    display: flex;
}

.n-select:hover.n-clearable:not(.n-empty) .n-select__angle,
.n-select.n-focus.n-clearable:not(.n-empty) .n-select__angle {
    display: none;
}

.n-select__angle {
    transition: transform 0.25s;
}

.n-select.n-focus .n-select__angle {
    transform: scaleY(-1);
}

.n-select__clear i,
.n-select__angle i {
    text-align: center;
}

.n-select__clear i {
    border-radius: 500px;
}

.n-select__input {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    width: 30px;
}

.n-select__input input {
    cursor: default;
    appearance: none;
    display: block;
    width: 100%;
    white-space: nowrap;
    text-decoration: none;
    line-height: 1.2;
    border: none;
    background: transparent;
    box-shadow: none;
}

.n-disabled .n-select__input input {
    cursor: not-allowed;
}

.n-select__items {
    flex: 1 1 auto;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.n-select__item {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.n-select__item i { 
    opacity: 0.7;
}

.n-select__body,
.n-select__empty {
     overflow: hidden;
     margin: 1px 0;
     max-height: 210px;
}

.n-select__body.n-virtual {
    min-height: 210px;
}

 .n-select__empty {
     text-align: center;
}

.n-popover--select.n-virtual {
    overflow: hidden;
}

@each $suffix, $values in $form {

    $-select-font: map-get($values, 'font');
    $-select-size: map-get($values, 'size');
    $-select-radius: map-get($values, 'radius');
    $-select-ratio: map-get($values, 'ratio');

    .n-select--#{$suffix} {
        min-height: $-select-size;
        font-size: $-select-font;
        border-radius: $-select-radius;
    }

    .n-select--#{$suffix} .n-select__display.n-multiple .n-select__input input {
        min-height: $-select-size - 6;
    }

    $-select-padding: $-select-size * $-select-ratio * 0.5;

    .n-select--#{$suffix} .n-select__display {
        padding: 0 $-select-padding;
    }

    .n-select--#{$suffix} .n-select__clear,
    .n-select--#{$suffix} .n-select__angle {
        width: $-select-size;
        margin: 0 -#{$-select-padding} 0 -#{$-select-padding};
    }

    .n-select--#{$suffix} .n-select__clear i,
    .n-select--#{$suffix} .n-select__angle i {
        width: $-select-size - 14;
        height: $-select-size - 14;
        line-height: $-select-size - 14;
    }

    .n-select--#{$suffix} .n-select__angle i {
        font-size: $-select-font - 2;
    }

    .n-select--#{$suffix} .n-select__clear i {
        font-size: $-select-font - 4;
    }

    .n-select--#{$suffix} .n-select__input input {
        padding: 0 $-select-padding;
    }

    .n-select--#{$suffix} .n-select__items {
        padding: 2px 0;
        margin-left: -#{$-select-padding * 0.25};
    }

    .n-select--#{$suffix} .n-select__item {
        height: $-select-size - 10;
        margin: 2px 0 2px $-select-padding * 0.5;
        padding: 0 $-select-padding * 0.5;
        border-radius: $-select-radius - 1;
    }

    .n-select--#{$suffix} .n-select__item span {
        font-size: $-select-font - 3;
        padding: 0 $-select-padding * 0.5;
    }

    .n-select--#{$suffix} .n-select__item i {
        font-size: $-select-font - 5;
        padding: 0 $-select-padding * 0.5;
    }

    .n-popover--#{$suffix} .n-select__body,
    .n-popover--#{$suffix} .n-select__empty {
        border-radius: $-select-radius;
    }

    .n-popover--#{$suffix} .n-select__empty {
        padding: $-select-padding * 2 $-select-padding;
    }

}
