@import "../../../root/vars";

$table-row-height: 40px !default;

.n-table {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: $radius-medium;
    border: 1px solid $--color-gray-10;
}

.n-inverse .n-table {
    border-color: $--color-gray-90;
}

.n-table .n-virtualscroller {
    width: auto;
}

.n-table .n-table__wrap {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    margin-right: -1px;
    margin-bottom: -1px;
}

.n-table .n-table__inner {
    overflow: hidden;
    min-width: 0;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.n-table .n-table__head {
    position: relative;
    flex: 0 0 auto;
    min-width: 0;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    border-bottom: 1px solid $--color-gray-10;
    box-shadow: 0 0 3px rgba($color-black, 0.1);
}


.n-inverse .n-table .n-table__head {
    border-bottom-color: $--color-gray-90;
}

.n-table .n-table__body {
    min-width: 0;
    flex: 1 0 auto;
}

.n-table .n-table__body .n-scrollbar-v {
    right: 1px;
}

.n-table .n-table__body.n-empty {
    flex: 1 1 auto;
}

.n-table .n-table__body .n-draggable-item,
.n-table .n-table__body .n-virtualscroller__item {
    border-bottom: 1px solid $--color-gray-10;
}

.n-inverse .n-table .n-table__body .n-draggable-item {
    border-bottom-color: $--color-gray-90;
}

.n-table .n-draggable-item__select {
    width: 35px;
}


//.n-table__head .n-table__row {
//    height: $table-row-height * 1.2;
//    border-bottom: 1px solid $--color-gray-10;
//}
//
//.n-table.n-table--scroll.n-table--visible .n-table__head .n-table__row {
//    padding-right: 15px;
//}
//
//.n-table__head .n-table__row > .n-table__column {
//    padding: 0 $table-row-height * 0.25;
//    color: $--color-gray-60;
//    border-right: 1px solid $--color-gray-10;
//}
//
//.n-table__head .n-table__row > .n-table__column:last-child {
//    border-right: none;
//}
//
//.n-table.n-table--scroll.n-table--visible .n-table__head .n-table__column:last-child {
//    border-right: 1px solid $--color-gray-10;
//}
//
//.n-table__body {
//    z-index: 100;
//    position: relative;
//    flex: 1 1 auto;
//    display: flex;
//    flex-direction: column;
//    min-width: 100%;
//    margin-bottom: -1px;
//    min-height: 0;
//}
//
//.n-table__body > .n-draggable {
//    flex: 1 1 auto;
//    min-height: 0;
//    display: flex;
//    flex-direction: column;
//}
//
//.n-table__body > .n-draggable > div {
//    flex: 1 1 auto;
//    min-height: 0;
//}
//
//.n-table__body .n-table__row {
//    padding: $table-row-height * 0.15 0;
//    border-bottom: 1px solid $--color-gray-10;
//}
//
//.n-table__body .n-table__row.n-table__row--current {
//    background: $--color-background-light;
//}
//
//.n-table__body .n-table__row > .n-table__column {
//    padding: 0 $table-row-height * 0.25;
//}
//
//.n-table__row {
//    display: flex;
//    flex-direction: row;
//    align-items: stretch;
//    min-width: 100%;
//}
//
//.n-table__row > .n-table__column {
//    position: relative;
//    flex: 0 0 auto;
//    display: flex;
//    align-items: center;
//}
//
//.n-table__row > .n-table__row:before {
//    content: '\00a0';
//    position: absolute;
//    top: 0;
//    right: -1px;
//    display: block;
//    width: 1px;
//    height: 100%;
//    background: $--color-gray-10;
//}
//
//.n-table__row > .n-table__column.n-table__column--auto {
//    flex: 1 1 auto;
//}
//
//.n-table__row > .n-table__column.n-table__column--fixed {
//    flex: 0 0 auto;
//}
//
//.n-table__row > .n-table__column.n-table__column--left {
//    justify-content: flex-start;
//    text-align: left;
//}
//
//.n-table__row > .n-table__column.n-table__column--center {
//    justify-content: center;
//    text-align: center;
//}
//
//.n-table__row > .n-table__column.n-table__column--right {
//    justify-content: flex-end;
//    text-align: right;
//}
//
//.n-table__footer {
//    flex: 0 0 auto;
//    min-width: 100%;
//}
