@use "@kizmann/nano-ui/src/root/helpers" as *;

.n-table {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: size('base-rad');
}

.n-table:before {
    z-index: 500;
    content: '\00a0';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    background: transparent;
    pointer-events: none;
    border: 1px solid transparent;
    border-radius: size('base-rad');
}

.n-table > .n-scrollbar {
    flex: 1 1 auto;
}

.n-table .n-table__wrap {
    min-width: 100%;
    min-height: 0;
    max-height: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    overflow: hidden;
}

.n-table > .n-scrollbar.n-windows > .n-scrollbar-content {
    right: 0 !important;
}

.n-table > .n-scrollbar.n-windows > .n-scrollbar-content .n-scrollbar > .n-scrollbar-content {
    bottom: 0 !important;
}

.n-table .n-table__inner {
    position: relative;
}

.n-table .n-draglist-item {
    border-bottom: 1px solid transparent;
}

.n-table .n-draglist-item__handle,
.n-table .n-draglist-item__select,
.n-table .n-draglist-item__expand {
    width: 32px;
}

.n-table__checkbox .n-checkbox__label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.n-table__body {
    overflow: hidden;
    flex: 1 1 auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.n-table__body .n-scrollbar {
    flex: 1 1 auto;
    max-height: 100%;
}

.n-table__body .n-scrollbar .n-scrollbar-spacer {
    width: auto !important;
}

.n-table__body .n-scrollbar__wrap {
    padding-bottom: 0 !important;
}

.n-table .n-draglist-item__element {
    display: flex;
    flex-direction: row;
}

.n-table .n-table__header {
    position: relative;
    flex: 0 0 auto;
    height: size('base-hgt', 'calc($ + 10px)');
    display: inline-flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    border-bottom: 1px solid transparent;
}