@import "src/root/helpers";

.n-confirm {
    z-index: 90000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.n-confirm-frame {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
}

.n-confirm__body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.n-confirm__icon {
    z-index: 0;
    position: relative;
    text-align: center;
}

.n-confirm__icon i {
    z-index: 10;
    position: relative;
    font-size: 2em;
}

.n-confirm__text {
    z-index: 10;
    position: relative;
    text-align: center;
}

.n-confirm__text p {
    font-size: 1em;
}

.n-confirm__action {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.n-confirm {
    font-size: size('base-fnt');
    padding: calc(#{"#{size('base-pad')} * 3"});
}

.n-confirm-frame {
    width: calc(#{"#{size('base-hgt')} * 12"});
    padding: calc(#{"#{size('base-pad-vertical')} * 3"}) calc(#{"#{size('base-pad')} * 3"});
    border-radius: size('base-rad-window');
}

.n-confirm.n-reverse .n-confirm__action {
    flex-direction: row-reverse;
}

.n-confirm__body:not(:empty) {
    margin-bottom: calc(#{"#{size('base-pad-vertical')} * 2"});
}

.n-confirm__icon {
    margin-bottom: calc(#{"#{size('base-pad-vertical')} * 1.5"});
}

.n-confirm__action > *:not(:last-child) {
    margin-right: calc(#{"#{size('base-pad')} * 1.5"});
}
