@use 'sass:map';
@import "../../../root/vars";

.n-confirm {
    z-index: 90000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.n-confirm-frame {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.n-confirm__body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.n-confirm__icon {
    z-index: 0;
    position: relative;
    text-align: center;
}

.n-confirm__icon i {
    z-index: 10;
    position: relative;
    font-size: 2em;
}

.n-confirm__text {
    z-index: 10;
    position: relative;
    text-align: center;
}

.n-confirm__text p {
    font-size: 1em;
}

.n-confirm__action {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.n-confirm.n-reverse .n-confirm__action {
    flex-direction: row-reverse;
}



@each $suffix, $values in $form {

    $-confirm-font: map.get($values, 'font');
    $-confirm-size: map.get($values, 'size');
    $-confirm-radius: map.get($values, 'radius');
    $-confirm-ratio: map.get($values, 'ratio');

    .n-confirm--#{$suffix} {
        font-size: $-confirm-font;
        padding: $-confirm-size * 1.4;
    }

    .n-confirm--#{$suffix} .n-confirm-frame {
        width: $-confirm-size * 12;
        padding: $-confirm-size * 0.6 $-confirm-size * 1.4;
    }

    .n-confirm--#{$suffix} .n-confirm__body:not(:empty) {
        margin-bottom: $-confirm-size * 0.8;
    }

    .n-confirm--#{$suffix} .n-confirm__icon {
        margin-bottom: $-confirm-size * 0.4;
    }

    .n-confirm--#{$suffix} .n-confirm__action > *:not(:last-child) {
        margin-right: $-confirm-size * 0.6;
    }

}
