@use "sass:map";
@import "../../../root/vars";

@each $color, $values in $colors {

    $-color-base: map.get($values, 'base');
    $-color-light: map.get($values, 'light');
    $-color-dark: map.get($values, 'dark');

    .n-draggrid--#{$color}.n-empty.n-dragover {
        background: rgba($-color-base, 0.075);
    }

}