@import "../../../root/vars";

.n-input-number {
    background: $color-input;
    border: 1px solid $color-gray-15;
}

.n-input-number.n-disabled input  {
    background: rgba($color-gray-15, 0.3);
}

.n-input-number .n-button {
    color: $color-gray-60;
    background: rgba($color-gray-15, 0.5);
}

.n-input-number__clear {
    color: $color-gray-60;
}

.n-input-number__clear i {
    background: rgba($color-gray-15, 0.6);
}

@each $color, $values in $colors {

    $-color-base: map_get($values, 'base');
    $-color-light: map_get($values, 'light');
    $-color-dark: map_get($values, 'dark');

    /**
     * Button primary
     */

    .n-input-number--#{$color}:not(.n-disabled):hover {
        border-color: $-color-base;
    }

    .n-input-number--#{$color}:not(.n-disabled).n-focus {
        border-color: $-color-light;
    }

    .n-input-number--#{$color}:not(.n-disabled) .n-button:hover {
        color: $-color-base;
    }

}
