@import "../../../root/vars";

.n-paginator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    color: $color-gray-60;
}

.n-paginator__spacer {
    flex: 1 1 auto;
}

.n-paginator__limit {
    flex: 0 0 auto;
}

.n-paginator__count {
    flex: 0 0 auto;
}

.n-paginator__sync {
    flex: 0 0 auto;
}

.n-paginator__goto {
    flex: 0 0 auto;
}

.n-paginator__pages {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@each $suffix, $values in $form {

    $-paginator-font: map-get($values, 'font');
    $-paginator-size: map-get($values, 'size');
    $-paginator-radius: map-get($values, 'radius');
    $-paginator-ratio: map-get($values, 'ratio');

    .n-paginator--#{$suffix} .n-paginator__count {
        font-size: $-paginator-font;
    }

    .n-paginator--#{$suffix} > div {
        padding: 0 $-paginator-size * $-paginator-ratio * 0.5;
    }
    
    .n-paginator--#{$suffix} > div:first-child {
        padding-left: 0;
    }
    
    .n-paginator--#{$suffix} > div:last-child {
        padding-right: 0;
    }

    .n-paginator--#{$suffix} .n-paginator__limit .n-select {
        width: $-paginator-size * 4.2;
    }

    .n-paginator--#{$suffix} .n-paginator__goto .n-select {
        width: $-paginator-size * 3.2;
    }

    .n-paginator--#{$suffix} .n-paginator__pages > button {
        margin: 0 $-paginator-size * $-paginator-ratio * 0.2;
    }
    
    .n-paginator--#{$suffix} .n-paginator__pages > button:first-child {
        margin-left: 0;
    }
    
    .n-paginator--#{$suffix} .n-paginator__pages > button:last-child {
        margin-right: 0;
    }

}