@use "sass:color";
@import "../root/vars";

::selection {
    background: rgba($color-secondary, 0.15);
}

* {
    outline: none !important;
}

div {
    box-sizing: border-box;
}

html, body {
    font-family: 'Inter', sans-serif;
    color: $color-foreground;
    font-size: 15px;
    font-variant-numeric: normal;
    font-feature-settings: normal;
}

body {
    background: color.mix($color-background-abs, $color-form, 50%);
}

body.ready header {
    opacity: 1;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 26px;
}

p {
    font-size: 16px;
    line-height: 1.7em;
}

code {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-white;
}

h1 a, h2 a, h3 a {
    transition: color 0.2s;
}

h1 a, h1 a:active, h1 a:visited,
h2 a, h2 a:active, h2 a:visited {
    color: $color-gray-90;
}

h1 a:hover, h2 a:hover {
    color: $color-foreground;
}

h1 a, h2 a, h3 a {
    display: inline-flex;
    align-items: center;
}

h1 a:hover:after,
h2 a:hover:after,
h3 a:hover:after {
    content: '\f0c1';
    margin-left: 15px;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: rgba($color-foreground, 0.4);
}

h1 a:after {
    font-size: 16px;
}

h2 a:after {
    font-size: 14px;
}

h3 a:after {
    font-size: 12px;
}

p {
    color: $color-foreground;
}

hr {
    border-bottom: 1px solid rgba($color-gray-50, 0.2);
    margin: 60px 0;
}

code {
    font-family: "JetBrains Mono", monospace;
    color: color.mix($color-foreground, $color-secondary, 40%);
    background: rgba($color-secondary, 0.2);
}

a, a:active, a:visited {
    color: color.mix($color-foreground, $color-secondary, 40%);
    text-decoration: none;
}

a:hover {
    color: color.mix($color-foreground, $color-secondary, 60%);
}

.hidden {
    display: none;
}