@use "../../../../src/root/helpers" as *;

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6,
.markdown-section p {
    margin-bottom: 34px;
}

.markdown-section code {
    border-radius: size('default-md-rad');
    margin: 0 2px;
    padding: 2px 5px;
    white-space: pre-wrap;
}

.markdown-section table code[data-type] {
    color: color('gray-70');
}

.markdown-section .markdown-table {
    margin-bottom: 30px;
}

.demo-wrapper {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    border-radius: size('default-lg-rad');
    background: color('form-input');
    box-shadow: 0 1px 24px color('shadow', 0.1);
}

.loader-display {
    overflow: hidden;
    border: 1px solid color('gray-10');
    border-radius: size('default-lg-rad');
    padding: 20px;
    background: color('background');
}

.loader-display p:last-child {
    margin-bottom: 0 !important;
}

.scrollbar-display {
    overflow: hidden;
    border: 1px solid color('gray-10');
    border-radius: size('default-lg-rad');
    background: color('background');
}

.scrollbar-display .n-scrollbar__wrap > div {
    padding: 20px;
}

.resizer-display {
    overflow: hidden;
    border: 1px solid color('gray-10');
    border-radius: size('default-lg-rad');
    background: color('background');
}

.resizer-display > div {
    padding: 20px;
}

.resizer-display--left > div:last-child {
    background: color('form');
    border-left: 4px solid color('gray-10');
}

.resizer-display--right > div:first-child {
    background: color('form');
    border-right: 4px solid color('gray-10');
}

.markdown-section .demo-options {
    position: relative;
    padding: 30px 40px 34px;
    border-bottom: 1px solid color('gray-10');
}

.markdown-section .demo-options .n-form-item {
    margin-bottom: 4px;
}

.markdown-section .demo-options .n-select {
    //width: 220px;
}

.markdown-section .demo-display {
    padding: 40px;
}

.markdown-section .demo-display h3 {
    position: relative;
    font-size: 12px;
    padding: 10px 14px;
    color: color('gray-50');
    margin-bottom: 0;
    text-transform: uppercase;
    border-radius: size('default-md-rad');
    background: color('gray-50', 0.1);
}

.markdown-section .demo-display h3:last-child {
    margin-bottom: -5px;
}

.markdown-section .demo-display h3:not(:last-child) {
    border-radius: size('default-md-rad') size('default-md-rad') 0 0;
}

.markdown-section .demo-display h4 {
    position: relative;
    padding: 10px 14px;
    font-size: 13px;
    color: color('secondary');
    background: color('secondary', 0.1);
    border-radius: size('default-md-rad');
    margin-bottom: 0;
}

.markdown-section .demo-display h4:last-child {
    margin-bottom: -5px;
}

.markdown-section .demo-display h3 + h4 {
    border-radius: 0 0 size('default-md-rad') size('default-md-rad');
}

.markdown-section .demo-display > .grid:not(:last-child) {
    margin-bottom: 20px;
}