@use "sass:color";
@import "../root/vars";

.sidebar-nav {
    order: 300;
}

.sidebar-nav p {
    padding: 4px 6px;
    font-size: 11px;
    font-weight: 600;
    color: $color-gray-30;
    text-transform: uppercase;
}

.sidebar-nav ul ul {
    padding: 4px 0;
}

.sidebar-nav > ul > li:not(:last-child) {
    margin-bottom: 15px;
}

.sidebar-nav a {
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    transition: color 0.2s, background 0.2s;
}

.sidebar-nav a,
.sidebar-nav a:active,
.sidebar-nav a:visited {
    font-size: 15px;
    color: $color-gray-80;
    padding: 4px 8px;
    border-radius: $md-radius;
}

.sidebar-nav ul ul ul > li > a:before {
    content: '-';
    color: $color-gray-20;
    margin-right: 8px;
}

.sidebar-nav a:hover {
    color: $color-gray-75;
}

.sidebar-nav li.active > a,
.sidebar-nav li.active > a:active,
.sidebar-nav li.active > a:visited {
    color: color.mix($color-foreground, $color-secondary, 30%) !important;
}

.sidebar-nav > ul > li > ul > li.active > a,
.sidebar-nav > ul > li > ul > li.active > a:active,
.sidebar-nav > ul > li > ul > li.active > a:visited,
.sidebar-nav li > a:has(+ .app-sub-sidebar),
.sidebar-nav li > a:active:has(+ .app-sub-sidebar),
.sidebar-nav li > a:visited:has(+ .app-sub-sidebar) {
    color: color.mix($color-foreground, $color-secondary, 30%);
    background: rgba($color-secondary, 0.1);
}

.app-sub-sidebar {
    display: none;
}

.app-sub-sidebar li a,
.app-sub-sidebar li a:active,
.app-sub-sidebar li a:visited {
    padding: 0 8px;
    font-size: 14px;
    color: $color-gray-50;
}

body.sticky-sub-nav .app-sub-sidebar {
    position: fixed;
    overflow-y: auto;
    top: 30px;
    display: block;
    max-height: calc(100vh - 60px);
    padding: 20px;
    border-radius: $lg-radius;
    background: $color-input;
    box-shadow: 0 1px 24px rgba($color-shadow, 0.1);
}

body.sticky-sub-nav .app-sub-sidebar li > a,
body.sticky-sub-nav .app-sub-sidebar li > a:active,
body.sticky-sub-nav .app-sub-sidebar li > a:visited {
    font-size: 15px;
}