@import "../../../root/vars";

.n-table {
    box-shadow: inset 0 0 1px 1px $color-gray-15;
}

.n-table .n-draglist-item {
    border-bottom: 1px solid $color-gray-10;
}

.n-table .n-table__header {
    background: $color-form;
    border: 1px solid $color-gray-15;
    box-shadow: 0 0 3px rgba($color-shadow, 0.10);
}