@import "../../../root/vars";

.n-file {
    position: relative;
    display: inline-flex;
    width: 100%;
}

.n-file__wrapper > .n-input {
    flex: 1 1 auto;
}

.n-file__wrapper > .n-button {
    flex: 0 0 auto;
    margin-left: 5px;
}

.n-file__input {
    display: none;
}
