@import "src/root/helpers";

.n-file {
    position: relative;
    display: inline-flex;
    width: 100%;
}

.n-file > .n-input {
    flex: 1 1 auto;
}

.n-file .n-input input {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.n-file > .n-button {
    flex: 0 0 auto;
    margin-left: size('base-pad');
}

.n-file .n-file__input {
    display: none;
}
