@use "../../../root/helpers" as *;

.n-transfer__panel {
    background: color('background');
    border: 1px solid color('gray-15');
}

.n-transfer__header {
    border-bottom: 1px solid color('gray-15');
    background: color('form');
}

.n-transfer__search .n-input {
    border-color: transparent;
    background: color('background');
    box-shadow: 0 0 1px 1px color('shadow', 0.075);
}

.n-transfer__item-count {
    color: color('gray-60');
}
