@import "../../../root/vars";

.n-button {
    appearance: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    text-decoration: none;
    line-height: 1.2;
    background: transparent;
    box-shadow: none;
    border: 1px solid transparent;
    transition: border 0.10s, background 0.10s;
}

.n-button.n-disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

@each $suffix, $values in $form {

    $-button-font: map-get($values, 'font');
    $-button-size: map-get($values, 'size');
    $-button-radius: map-get($values, 'radius');
    $-button-ratio: map-get($values, 'ratio');

    .n-button--#{$suffix} {
        font-size: $-button-font;
    }

    .n-button--#{$suffix}:not(.n-button--link) {
        height: $-button-size;
        border-radius: $-button-radius;
    }

    .n-button--#{$suffix}.n-button--square:not(.n-button--link) {
        width: $-button-size;
    }

    .n-button--#{$suffix}:not(.n-button--link):not(.n-button--square) {
        padding: 0 $-button-size * $-button-ratio;
    }

    .n-button--#{$suffix} .n-icon.n-icon--before:not(:last-child) {
        margin-right: $-button-font * $-button-ratio;
    }

    .n-button--#{$suffix} .n-icon.n-icon--after:not(:first-child) {
        margin-left: $-button-font * $-button-ratio;
    }

}

@each $color, $values in $colors {

    $-color-base: map_get($values, 'base');
    $-color-light: map_get($values, 'light');
    $-color-dark: map_get($values, 'dark');

    /**
     * Button primary
     */

    .n-button--#{$color}:not(.n-button--link) {
        color: $--color-white;
        background: $-color-base;
        border-color: $-color-base;
    }

    .n-button--#{$color}:not(.n-button--link):hover {
        background: $-color-light;
        border-color: $-color-light;
    }

    .n-button--#{$color}:not(.n-button--link):focus {
        background: $-color-dark;
        border-color: $-color-dark;
    }

    .n-button--#{$color}:not(.n-button--link).n-disabled {
        background: $-color-base;
        border-color: $-color-base;
    }

    .n-button--#{$color}.n-button--link {
        color: $-color-base;
    }

    .n-button--#{$color}.n-button--link:hover {
        color: $-color-light;
    }

    .n-button--#{$color}.n-button--link:focus {
        color: $-color-dark;
    }

    .n-button--#{$color}.n-button--link.n-disabled {
        color: $-color-base;
    }

}
