@import "../../../root/vars";

@each $color, $values in $colors {

    $-color-base: map_get($values, 'base');
    $-color-light: map_get($values, 'light');
    $-color-dark: map_get($values, 'dark');

    .n-draglist--#{$color}.n-empty.n-dragover {
        background: rgba($-color-base, 0.075);
    }

}