<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nano UI Popover</title>

    <link rel="stylesheet" href="https://unpkg.com/backpack.css@2.0.0/lib/backpack.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="../../dist/nano-ui.css">
    <link rel="stylesheet" href="../style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
    <script src="https://vankizmann.github.io/nano-js/dist/nano-js.js"></script>
    <script src="../../dist/nano-ui.js"></script>

</head>
<body style="position: relative;">

<div id="app">
    <n-form class="n-form">

        <n-form-item>
            <pre>{{ test }}</pre>
        </n-form-item>

        <n-form-item>
            <n-checkbox v-model="hide"></n-checkbox>
        </n-form-item>

        <div v-if="!hide" id="test" style="position: relative !important; background: #eee; height: 300px; overflow: hidden;">
            <n-scrollbar>
                <div>
                    <n-button type="primary" refs="toggle">
                        Popover 01
                    </n-button>
                    <n-popover trigger="hover" position="top-start" :width="300">
                        <n-input v-model="test"></n-input>
                    </n-popover>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <n-button type="warning">
                        Popover 02
                    </n-button>
                    <n-popover trigger="hover" position="left-center">
                        Hello 2!
                    </n-popover>
                </div>
            </n-scrollbar>
        </div>
    </n-form>
</div>

<script>
    Nano.Dom.ready(function () {

        Vue.config.devtools = true;

        var config = {
            data: function() {
                return { test: 'Foo', hide: false };
            }
        };

        window.App = new Vue(config).$mount('#app');

    });
</script>
</body>
</html>