@use "@kizmann/nano-ui/src/root/helpers" as *;

.n-preview {
    position: relative;
    display: inline-flex;
}

.n-preview--cover img {
    object-fit: cover !important;
}

.n-preview--contain img {
    object-fit: contain !important;
}

