@use "../../../root/helpers" as *;

.n-preview {
    position: relative;
    display: inline-flex;
}

.n-preview--cover img {
    object-fit: cover !important;
}

.n-preview--contain img {
    object-fit: contain !important;
}

.n-preview__title {
    z-index: 10;
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: size('default-md-pad', 'calc($ * 0.5)') size('default-md-pad');
}

.n-preview__title span {
    overflow: hidden;
    display: block;
    text-align: center;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: size('base-fnt');
    color: color('white', 0.7);
}

.n-preview.n-mime-preview-image .n-preview__title span {
    color: color('white');
    text-shadow: 0 0 6px color('shadow', 0.7);
}

