@import "src/root/helpers";

.n-transfer__panel {
    background: color('form-input');
    border: 1px solid color('gray-15');
}

.n-transfer__header {
    border-bottom: 1px solid color('gray-15');
}

.n-transfer__search {
    background: color('form-input');
    border-bottom: 1px solid color('gray-15');
}

.n-transfer__item-count {
    color: color('gray-60');
}
