@use "../../../root/helpers" as *;

.n-radio__radio {
    color: color('foreground');
    background: color('form-input', 0.7);
}

.n-radio.n-disabled .n-radio__radio  {
    background: color('form-disabled', 0.7);
}

.n-radio__radio span {
    background: color('foreground');
}

.n-radio:not(.n-disabled):hover .n-radio__radio {
    background: color('form-input', 0.8);
}

.n-radio.n-checked:not(.n-disabled) .n-radio__radio {
    background: color('base-color');
    border-color: color('base-color');
}

.n-radio.n-checked:not(.n-disabled) .n-radio__radio span {
    background: color('base-text');
}

.n-radio.n-checked:not(.n-disabled) .n-radio__label {
    color: color('base-color');
}