@use "../../../root/helpers" as *;

.n-tabs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.n-tabs.n-float {
    position: relative;
}

.n-tabs__header {
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
}

.n-tabs.n-float .n-tabs__header {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.n-tabs:not(.n-float) .n-tabs__header:after {
    z-index: 10;
    content: '\00a0';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    height: 0;
    border-bottom: 1px solid transparent;
}

.n-tabs__indicator {
    z-index: 20;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 2px;
    transition: transform 0.3s ease-in-out;
    transform-origin: 0 50%;
}

.n-tabs.n-float .n-tabs__indicator {
    display: none;
}

.n-tabs__tab {
    cursor: default;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    font-size: size('base-fnt');
    transition: color 0.15s, background 0.15s;
}

.n-tabs__body {
    position: relative;
    flex: 1 1 auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.n-tabs__tab {
    padding: size('base-pad-vertical', 'calc($ * 1.4)') size('base-pad');
}

.n-tabs.n-float .n-tabs__header {
    padding: size('base-pad-vertical') 0;
}

.n-tabs.n-float .n-tabs__tab {
    border-radius: size('base-rad');
    height: size('base-hgt');
    padding: 0 size('base-pad');
}

.n-tabs.n-float .n-tabs__tab:not(:last-child) {
    margin-right: size('base-pad');
}

.n-tabs.n-float .n-tabs__tab:not(:first-child) {
    margin-left: 0;
}