@import "../../../root/vars";

$tabs-size: 14px;

.n-tabs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.n-tabs__header {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    border-bottom: 1px solid $--color-gray-15;
}

.n-tabs__indicator {
    z-index: 20;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 2px;
    background: $color-black;
    transition: transform 0.3s ease;
    transform-origin: 0 50%;
}

.n-tabs__tab {
    cursor: default;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    transition: color 0.15s;
}

.n-tabs__body {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

@each $suffix, $values in $form {

    $-tabs-font: map-get($values, 'font');
    $-tabs-size: map-get($values, 'size');
    $-tabs-radius: map-get($values, 'radius');
    $-tabs-ratio: map-get($values, 'ratio');

    .n-tabs--#{$suffix} .n-tabs__tab {
        padding: $-tabs-size * $-tabs-ratio * 0.5 $-tabs-size * $-tabs-ratio;
    }

}

@each $color, $values in $colors {

    $-color-base: map_get($values, 'base');
    $-color-light: map_get($values, 'light');
    $-color-dark: map_get($values, 'dark');

    .n-tabs--#{$color} .n-tabs__indicator {
        background: $-color-base;
    }

}