@import "../../../root/vars";

.n-chart__wrapper {
    overflow: hidden;
    border-radius: $radius-medium;
}

.n-chart__wrapper .n-grid-x polyline {
    stroke: $--color-gray-05;
}

.n-chart__wrapper .n-grid-y polyline {
    stroke: $--color-gray-05;
}

.n-chart__wrapper .n-grid-dots circle {
    fill: $--color-primary;
}

.n-chart__wrapper .n-grid-chart polyline {
    stroke: $--color-primary;
}

.n-chart__wrapper .n-grid-chart polygon {
    fill: url(#n-gradient) #fff;
}

.n-chart__wrapper #n-gradient {
    --color-stop: #{rgba($color-primary, 0.1)};
    --color-start: #{rgba($color-primary, 0.4)};
}