@use "../../../root/helpers" as *;

.n-preview-modal {
    background: color('shadow', 0.95);
    // PERFORMANCE backdrop-filter: blur(6px);
    transition: opacity 0.3s;
}

.n-preview-modal__close,
.n-preview-modal__prev,
.n-preview-modal__next {
    border-radius: 500px;
    transition: background 0.2s;
}

.n-preview-modal__close {
    color: color('base-text', 0.5);
    background: color('base-text', 0.1);
}

.n-preview-modal__prev,
.n-preview-modal__next {
    color: color('base-color-fg-20');
    background: color('base-color', 0.3);
}

.n-preview-modal__close:hover {
    background: color('base-text', 0.2);
}

.n-preview-modal__prev:hover,
.n-preview-modal__next:hover {
    background: color('base-color', 0.4);
}

.n-preview-modal .n-preview-frame {
    background: transparent !important;
}

