@import "src/root/helpers";

.n-preview-modal {
    background: color('shadow', 0.95);
    backdrop-filter: blur(6px);
    transition: opacity 0.3s;
}

.n-preview-modal__close,
.n-preview-modal__prev,
.n-preview-modal__next {
    border-radius: 500px;
    color: color('white');
    background: color('white', 0.25);
    transition: background 0.2s;
}

.n-preview-modal__close:hover,
.n-preview-modal__prev:hover,
.n-preview-modal__next:hover {
    background: color('white', 0.35);
}

.n-preview-modal .n-preview-frame {
    background: transparent !important;
}

