@use 'sass:map';
@import "../../../root/vars";
@import "../../../root/mixins";

.n-preview-modal {
    @include NanoBackdropBlur;
    transition: opacity 0.3s;
}

.n-preview-modal__close,
.n-preview-modal__prev,
.n-preview-modal__next {
    border-radius: 500px;
    color: $color-white;
    background: rgba($color-white, 0.25);
    transition: background 0.2s;
}

.n-preview-modal__close:hover,
.n-preview-modal__prev:hover,
.n-preview-modal__next:hover {
    background: rgba($color-white, 0.35);
}

.n-preview-modal .n-preview-frame {
    background: transparent !important;
}

