@use "../../../root/helpers" as *;

.n-collapse {
    border: 1px solid color('gray-15');
}

.n-collapse__header {
    background: color('form');
    border-bottom: 1px solid color('gray-15');
}

.n-collapse__body:not(.is-last) {
    border-bottom: 1px solid color('gray-15');
}
