@use 'sass:map';
@use "../../../root/vars" as *;

.n-dropzone__empty {
    margin: auto;
}

@each $suffix, $values in $form {

    $-dropzone-font: map.get($values, 'font');
    $-dropzone-size: map.get($values, 'size');
    $-dropzone-radius: map.get($values, 'radius');
    $-dropzone-ratio: map.get($values, 'ratio');

    .n-dropzone--#{$suffix} {
        font-size: $-dropzone-font;
    }

    .n-dropzone--#{$suffix} .n-dropzone__empty {
        padding: $-dropzone-size $-dropzone-size * 0.5;
    }

}
