@use "../../../root/helpers" as *;

.n-preview-plain {
    position: relative;
    width: 100%;
}

.n-modal__frame > .n-preview-plain {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.n-preview-plain:before {
    content: '\00a0';
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    max-height: 100%;
}

.n-preview-plain ul {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    max-width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.n-preview-plain ul li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.n-preview-plain .np-button {
    margin-top: size('base-pad');
}