@use "sass:map";
@import "../../../root/vars";
@import "../../../root/mixins";

.n-alert {
    @include NanoBackdropFocus;
    transition: opacity 0.3s;
}

.n-alert:not(.n-ready) {
    opacity: 0;
}

.n-alert-frame {
    @include NanoBoxshadowLg;
    border-radius: $lg-radius;
    background: $color-black;
    border: 2px solid transparent;
    transition: transform 0.3s;
}

.n-alert:not(.n-ready) .n-alert-frame {
    transform: translateY(50px) scale(0.6);
}

.n-alert__text {
    color: $color-gray-40;
}

@each $color, $values in $colors {

    $-color-base: map.get($values, 'base');
    $-color-light: map.get($values, 'light');
    $-color-dark: map.get($values, 'dark');

    .n-alert--#{$color} .n-alert-frame {
        //border-color: $-color-base;
    }

    .n-alert--#{$color} .n-alert__icon {
        color: $-color-base;
    }

}