@import "src/root/helpers";

.n-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    border: 1px solid transparent;
    font-size: size('base-fnt');
    border-radius: size('base-rad');
}

.n-info__body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding: calc(#{"#{size('base-pad-vertical')} * 2"}) calc(#{"#{size('base-pad')} * 2"});
}

.n-info__empty {
    margin: auto;
    padding: calc(#{"#{size('base-pad')} * 2"}) size('base-pad');
}

.n-info__column:not(:last-child) {
    margin-bottom: size('base-pad');
}