@use 'sass:map';
@import "../../../root/vars";

.n-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    border: 1px solid transparent;
}

.n-info__body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

.n-info__empty {
    margin: auto;
}

@each $suffix, $values in $form {

    $-info-font: map.get($values, 'font');
    $-info-size: map.get($values, 'size');
    $-info-radius: map.get($values, 'radius');
    $-info-ratio: map.get($values, 'ratio');

    .n-info--#{$suffix} {
        font-size: $-info-font;
        border-radius: $-info-radius + 2;
    }

    .n-info--#{$suffix} .n-info__body {
        padding: $-info-size * 0.3 $-info-size * 0.5;
    }

    .n-info--#{$suffix} .n-info__empty {
        padding: $-info-size $-info-size * 0.5;
    }

    .n-info--#{$suffix} .n-info__column:not(:last-child) {
        margin-bottom: $-info-size * 0.5;
    }

}