@import "../../../root/vars";

.n-popover__frame {
    box-shadow: 0 1px 3px 1px rgba($color-shadow, 0.15);
}

.n-popover-option {
    color: $color-foreground;
}

.n-popover-group {
    color: $color-gray-40;
}

.n-popover-option:not(.n-disabled).n-hover,
.n-popover-option:not(.n-disabled):hover {
    background: rgba($color-gray-50, 0.07);
}

.n-popover-option:not(.n-disabled).n-focus,
.n-popover-option:not(.n-disabled).n-focus:hover {
    background: rgba($color-gray-50, 0.14);
}

.n-popover-option .n-image {
    color: $color-gray-60;
}

.n-popover-option .n-icon {
    color: $color-gray-60;
}

@each $suffix, $values in $popover {

    $-popover-color: map-get($values, 'color');
    $-popover-border: map-get($values, 'border');
    $-popover-header: map-get($values, 'header');
    $-popover-body: map-get($values, 'body');
    $-popover-footer: map-get($values, 'footer');

    .n-popover--#{$suffix} .n-popover__frame {
        color: $-popover-color;
        background: $-popover-body;
        border: 1px solid $-popover-border;
    }

    .n-popover--#{$suffix} .n-popover__header {
        border-bottom: 1px solid $-popover-border;
        background: $-popover-header;
    }

    .n-popover--#{$suffix} .n-popover__footer {
        border-top: 1px solid $-popover-border;
        background: $-popover-footer;
    }

    .n-popover--#{$suffix} .n-popover-option {
        color: $-popover-color;
    }

}

@each $color, $values in $colors {

    $-color-base: map_get($values, 'base');
    $-color-light: map_get($values, 'light');
    $-color-dark: map_get($values, 'dark');

    .n-popover-option--#{$color}.n-active,
    .n-popover-option--#{$color} .n-icon {
        color: $-color-base;
    }

}

.n-popover--tooltip .n-popover__frame {
    color: $color-white;
    background: rgba($color-black, 0.9);
}

.n-popover--tooltip .n-popover__body {
    padding: 3px 8px;
}