@use 'sass:map';
@import "../../../root/vars";
@import "../../../root/mixins";
@import "src/root/helpers";

.n-popover:before {
    background: color('form-input');
}

.n-popover:after {
    background: color('shadow', 0.2);
}

.n-popover[data-position^="top-"]:before {
    mask: svg-load('angle-down.svg') no-repeat center 0 / contain;
}

.n-popover[data-position^="top-"]:after {
    mask: svg-load('angle-down-shadow.svg') no-repeat center 0 / contain;
}

.n-popover[data-position^="bottom-"]:before {
    mask: svg-load('angle-up.svg') no-repeat center 0 / contain;
}

.n-popover[data-position^="bottom-"]:after {
    mask: svg-load('angle-up-shadow.svg') no-repeat center 0 / contain;
}

.n-popover[data-position^="left-"]:before {
    mask: svg-load('angle-right.svg') no-repeat 0 center / contain;
}

.n-popover[data-position^="left-"]:after {
    mask: svg-load('angle-right-shadow.svg') no-repeat 0 center / contain;
}

.n-popover[data-position^="right-"]:before {
    mask: svg-load('angle-left.svg') no-repeat 0 center / contain;
}

.n-popover[data-position^="right-"]:after {
    mask: svg-load('angle-left-shadow.svg') no-repeat 0 center / contain;
}

.n-popover__frame {
    background: color('background');
}

.n-popover__frame,
.n-popover-shadow {
    box-shadow: 0 2px 10px color('shadow', 0.3), 0 0 2px color('shadow', 0.15);
}

.n-popover-option {
    color: color('text');
}

.n-popover-group {
    color: color('gray-40');
}

.n-popover-option:not(.n-disabled).n-hover,
.n-popover-option:not(.n-disabled):hover {
    background: color('gray-50', 0.075);
}

.n-popover-option:not(.n-disabled).n-focus,
.n-popover-option:not(.n-disabled).n-focus:hover {
    background: color('gray-50', 0.15);
}

.n-popover-option .n-image {
    color: color('gray-60');
}

.n-popover-option .n-icon {
    color: color('gray-60');
}

.n-popover__frame {
    color: color('text');
    background: color('form');
}

.n-popover__header {
    border-bottom: 1px solid color('gray-15');
    background: color('form');
}

.n-popover__footer {
    border-top: 1px solid color('gray-15');
    background: color('form');
}

.n-popover-option {
    color: color('text');
}

.n-popover-option.n-active,
.n-popover-option .n-icon {
    color: color('base-color');
}

$-tooltip-background: rgba($color-black, 0.9) !default;

.n-popover--tooltip[data-position^="top-"]:before {
    background: svg-load('angle-down.svg', fill=$-tooltip-background) no-repeat center / contain;
}

.n-popover--tooltip[data-position^="bottom-"]:before {
    background: svg-load('angle-up.svg', fill=$-tooltip-background) no-repeat center / contain;
}

.n-popover--tooltip[data-position^="left-"]:before {
    background: svg-load('angle-right.svg', fill=$-tooltip-background) no-repeat center / contain;
}

.n-popover--tooltip[data-position^="right-"]:before {
    background: svg-load('angle-left.svg', fill=$-tooltip-background) no-repeat center / contain;
}

.n-popover--tooltip .n-popover__frame {
    color: $color-white;
    background: $-tooltip-background;
}

.n-popover--tooltip .n-popover__body {
    padding: 3px 8px;
}