@use 'sass:map';
@import "../../../root/vars";
@import "../../../root/mixins";

.n-popover__frame {
    @include NanoBoxshadowMd;
}

.n-popover-shadow {
    @include NanoBoxshadowMd;
}

.n-popover-option {
    color: $color-foreground;
}

.n-popover-group {
    color: $color-gray-40;
}

.n-popover-option:not(.n-disabled).n-hover,
.n-popover-option:not(.n-disabled):hover {
    background: rgba($color-gray-50, 0.07);
}

.n-popover-option:not(.n-disabled).n-focus,
.n-popover-option:not(.n-disabled).n-focus:hover {
    background: rgba($color-gray-50, 0.14);
}

.n-popover-option .n-image {
    color: $color-gray-60;
}

.n-popover-option .n-icon {
    color: $color-gray-60;
}

@each $suffix, $values in $popover {

    $-popover-color: map.get($values, 'color');
    $-popover-border: map.get($values, 'border');
    $-popover-header: map.get($values, 'header');
    $-popover-body: map.get($values, 'body');
    $-popover-footer: map.get($values, 'footer');

    .n-popover--#{$suffix}[data-position^="top-"]:before {
        background: svg-load('angle-down.svg', fill=$-popover-body) no-repeat center / contain;
    }

    .n-popover--#{$suffix}[data-position^="bottom-"]:before {
        background: svg-load('angle-up.svg', fill=$-popover-body) no-repeat center / contain;
    }

    .n-popover--#{$suffix}[data-position^="left-"]:before {
        background: svg-load('angle-right.svg', fill=$-popover-body) no-repeat center / contain;
    }

    .n-popover--#{$suffix}[data-position^="right-"]:before {
        background: svg-load('angle-left.svg', fill=$-popover-body) no-repeat center / contain;
    }

    .n-popover--#{$suffix} .n-popover__frame {
        color: $-popover-color;
        background: $-popover-body;
    }

    .n-popover--#{$suffix} .n-popover__header {
        border-bottom: 1px solid $-popover-border;
        background: $-popover-header;
    }

    .n-popover--#{$suffix} .n-popover__footer {
        border-top: 1px solid $-popover-border;
        background: $-popover-footer;
    }

    .n-popover--#{$suffix} .n-popover-option {
        color: $-popover-color;
    }

}

@each $color, $values in $colors {

    $-color-base: map.get($values, 'base');
    $-color-light: map.get($values, 'light');
    $-color-dark: map.get($values, 'dark');

    .n-popover-option--#{$color}.n-active,
    .n-popover-option--#{$color} .n-icon {
        color: $-color-base;
    }

}

$-tooltip-background: rgba($color-black, 0.9) !default;

.n-popover--tooltip[data-position^="top-"]:before {
    background: svg-load('angle-down.svg', fill=$-tooltip-background) no-repeat center / contain;
}

.n-popover--tooltip[data-position^="bottom-"]:before {
    background: svg-load('angle-up.svg', fill=$-tooltip-background) no-repeat center / contain;
}

.n-popover--tooltip[data-position^="left-"]:before {
    background: svg-load('angle-right.svg', fill=$-tooltip-background) no-repeat center / contain;
}

.n-popover--tooltip[data-position^="right-"]:before {
    background: svg-load('angle-left.svg', fill=$-tooltip-background) no-repeat center / contain;
}

.n-popover--tooltip .n-popover__frame {
    color: $color-white;
    background: $-tooltip-background;
}

.n-popover--tooltip .n-popover__body {
    padding: 3px 8px;
}