@import "../../../root/vars";

$loader-size: 40px !default;
$tooltip-border: 3px !default;

.n-loader {
    position: relative;
}

@keyframes n-spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.n-loader:before {
    content: '\00a0';
    z-index: 900;
    position: absolute;
    top: calc(50% - #{$loader-size / 2});
    left: calc(50% - #{$loader-size / 2});
    display: none;
    width: $loader-size;
    height: $loader-size;
    border-radius: 500px;
    border: 2px solid $--color-primary;
    border-bottom-color: transparent;
    animation: n-spinner 1s linear infinite;
}

.n-loader.n-loader--active:before {
    display: block;
}

.n-loader:after {
    content: '\00a0';
    z-index: 800;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba($color-white, 0.7);
}

.n-loader.n-loader--active:after {
    display: block;
}
