@use "../../../root/helpers" as *;

@keyframes NLoading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.n-loader {
    position: relative;
}

.n-load:before {
    content: '\00a0';
    z-index: 8010;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 30px;
    height: 30px;
    margin: -15px 0 0 -15px;
    border-radius: 500px;
    border-bottom-color: transparent !important;
    animation: NLoading 1s linear infinite;
}

.n-load .n-load:before {
    display: none !important;
}

.n-load:after {
    content: '\00a0';
    z-index: 8000;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.n-load .n-load:after {
    display: none !important;
}

.n-loader.n-load:before {
    width: size('base-hgt-loader');
    height: size('base-hgt-loader');
    margin-top: size('base-hgt-loader', 'calc($ * -0.5)');
    margin-left: size('base-hgt-loader', 'calc($ * -0.5)');
}
