@use "sass:map";
@use "../../../root/vars" as *;

.n-radio__radio {
    color: $color-black;
    background: $color-input;
    border: 1px solid $color-gray-15;
}

.n-radio.n-disabled .n-radio__radio  {
    background: $color-input-off;
}

.n-radio__radio span {
    background: $color-black;
}

@each $color, $values in $colors {

    $-color-base: map.get($values, 'base');
    $-color-light: map.get($values, 'light');
    $-color-dark: map.get($values, 'dark');

    .n-radio--#{$color}:not(.n-disabled):hover .n-radio__radio {
        border-color: $-color-base;
    }

    .n-radio--#{$color}.n-checked:not(.n-disabled) .n-radio__radio {
        background: $-color-base;
        border-color: $-color-base;
    }

    .n-radio--#{$color}.n-checked:not(.n-disabled) .n-radio__radio span {
        background: $color-white;
    }

    .n-radio--#{$color}.n-checked:not(.n-disabled) .n-radio__radio:not(.n-disabled):hover {
        background: $-color-light;
        border-color: $-color-light;
    }

    .n-radio--#{$color}.n-checked:not(.n-disabled) .n-radio__label {
        color: $-color-base;
    }

}