@import "../../../root/vars";

.n-table-cell {
    position: relative;
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    padding: 0 10px;
    margin-left: -1px;
}

.n-table-cell.n-fluid {
    flex: 1 1 auto;
}

.n-table-cell.n-fixed {
    flex: 0 0 auto;
}

.n-table-cell--left {
    justify-content: flex-start;
}

.n-table-cell--center {
    justify-content: center;
}

.n-table-cell--right {
    justify-content: flex-end;
}

.n-table-cell.n-changed:before {
    content: '\00a0';
    position: absolute;
    top: -3px;
    left: -3px;
    display: block;
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-bottom-color: $color-danger;
    transform: rotate(-45deg);
}

.n-table-cell > a,
.n-table-cell > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// Image cell

.n-table-cell--image {
    padding: 5px 0;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.n-table-cell--image > div {
    flex: 1 1 auto;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-color: $color-gray-05;
}

.n-table-cell--checkbox i {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: transparent;
    background: $color-white;
    border: 1px solid $color-gray-15;
}

.n-table-cell--checkbox.n-disabled {
    cursor: not-allowed;
}

.n-table-cell--checkbox.n-disabled i {
    opacity: 0.7;
    background:rgba($color-gray-15, 0.3);
}

@each $suffix, $values in $form {

    $-table-font: map-get($values, 'font');
    $-table-size: map-get($values, 'size');
    $-table-radius: map-get($values, 'radius');
    $-table-ratio: map-get($values, 'ratio');

    .n-draglist--#{$suffix} .n-table-cell--checkbox i {
        width: $-table-size - 16;
        height: $-table-size - 16;
        border-radius: $-table-radius - 1;
        font-size: $-table-font - 4;
    }

}

@each $color, $values in $colors {

    $-color-base: map_get($values, 'base');
    $-color-light: map_get($values, 'light');
    $-color-dark: map_get($values, 'dark');

    .n-draglist--#{$color} .n-table-cell--checkbox.n-checked:not(.n-disabled) i,
    .n-draglist--#{$color} .n-table-cell--checkbox.n-checked:not(.n-uncheck) i {
        color: $color-white;
        background: $-color-base;
        border-color: $-color-base;
    }

    .n-draglist--#{$color} .n-table-cell--checkbox:not(.n-disabled):hover i {
        border-color: $-color-light;
    }

    .n-draglist--#{$color} .n-table-cell--checkbox.n-checked:not(.n-disabled):hover i {
        background: $-color-light;
    }

}