@import "../../../root/vars";

.n-table-cell {
    position: relative;
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    padding: 0 10px;
    margin-left: -1px;
}

.n-table-cell.n-fluid {
    flex: 1 1 auto;
}

.n-table-cell.n-fixed {
    flex: 0 0 auto;
}

.n-table-cell--left {
    justify-content: flex-start;
}

.n-table-cell--center {
    justify-content: center;
}

.n-table-cell--right {
    justify-content: flex-end;
}

.n-table-cell.n-changed:before {
    content: '\00a0';
    position: absolute;
    top: -3px;
    left: -3px;
    display: block;
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-bottom-color: $color-danger;
    transform: rotate(-45deg);
}

.n-table-cell > a,
.n-table-cell > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// Image cell

.n-table-cell--image {
    padding: 5px 0;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.n-table-cell--image > div {
    flex: 1 1 auto;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-color: $color-gray-05;
}