@import "../../../root/vars";

$switch-size: 13px !default;
$switch-height: 18px !default;
$switch-ratio: 0.3 !default;

.n-switch {
    cursor: default;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: stretch;
}

.n-switch.n-disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.n-switch__switch {
    position: relative;
    background: $color-gray-10;
    border-radius: 500px;
    border: 1px solid $color-gray-15;
    transition: border 0.15s, background 0.15s;
}

.n-switch__switch span {
    position: absolute;
    top: 50%;
    left: 3px;
    display: block;
    background: $color-white;
    border-radius: 500px;
    transform: translateY(-50%);
    box-shadow: 0 1px 2px rgba($color-shadow, 0.15);
    transition: left 0.15s, right 0.15s;
}

@each $suffix, $values in $form {

    $-switch-font: map-get($values, 'font');
    $-switch-size: map-get($values, 'size');
    $-switch-radius: map-get($values, 'radius');
    $-switch-ratio: map-get($values, 'ratio');

    .n-switch--#{$suffix} {
        min-height: $-switch-size;
        font-size: $-switch-font;
    }

    $-switch-frame: $-switch-font * 2.3;

    .n-switch--#{$suffix} .n-switch__switch {
        width: $-switch-frame;
        height: $-switch-size - 14;
    }
    $-switch-circle: $-switch-size - 20;
    
    .n-switch--#{$suffix} .n-switch__switch span {
        width: $-switch-circle;
        height: $-switch-circle;
    }

    .n-switch--#{$suffix}.n-on .n-switch__switch span {
        left: $-switch-frame - $-switch-circle - 4;
    }

    $-switch-padding: $-switch-size * $-switch-ratio;

    .n-switch--#{$suffix} .n-switch__label {
        padding: 0 0 0 $-switch-padding * 0.5;
    }

}

@each $color, $values in $colors {

    $-color-base: map_get($values, 'base');
    $-color-light: map_get($values, 'light');
    $-color-dark: map_get($values, 'dark');

    .n-switch--#{$color}:not(.n-disabled) .n-switch__switch {
        background: $-color-base;
        border-color: $-color-dark;
    }

    .n-switch--#{$color}:not(.n-disabled) .n-switch__label {
        color: $-color-base;
    }

}
