@use "@kizmann/nano-ui/src/root/helpers" as *;

.n-collapse {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    font-size: size('base-fnt');
}

.n-collapse__header {
    cursor: default;
    position: relative;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    border-bottom: 1px solid transparent;
}

.n-collapse__body {
    position: relative;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.n-collapse {
    border-radius: size('base-rad');
}

.n-collapse__header {
    height: size('base-hgt', 'calc($ + 10px)');
    padding: 0 size('base-pad');
}

.n-collapse__body:not(.n-scrollbar),
.n-scrollbar.n-collapse__body > .n-scrollbar-content {
    padding: size('base-pad-vertical', 'calc($ * 1.4)') size('base-pad');
}