@import "../../../root/vars";

.n-transfer__panel {
    border: 1px solid $color-gray-90;
    //box-shadow: 0 1px 4px rgba($color-shadow, 0.15);
}

.n-transfer__header {
    border-bottom: 1px solid $color-gray-90;
    background: $color-gray-95;
}

.n-transfer__search {
    border-bottom: 1px solid $color-gray-90;
    background: $color-gray-95;
}

.n-transfer__item-count {
    color: $color-gray-40;
}
