@use "../../../root/helpers" as *;

.n-draggable__indicator {
    border-bottom: 1px solid color('primary-color');
}

.n-draggable__counter {
    color: color('primary-text');
    background: color('primary-color');
}

.n-draggable__counter[class*="n-modify--"] {
    color: color('warning-text');
    background: color('warning-color');
}