@use "sass:map";
@import "../../../root/vars";

.n-button.n-disabled {
    opacity: 0.7;
}

@each $color, $values in $colors {

    $-color-base: map.get($values, 'base');
    $-color-light: map.get($values, 'light');
    $-color-dark: map.get($values, 'dark');

    /**
     * Button primary
     */

    .n-button--#{$color}:not(.n-button--link) {
        color: $color-white;
        background: $-color-base;
        border-color: $-color-base;
    }

    .n-button--#{$color}:not(.n-button--link):hover {
        background: $-color-light;
        border-color: $-color-light;
    }

    .n-button--#{$color}:not(.n-button--link):focus {
        background: $-color-dark;
        border-color: $-color-dark;
    }

    .n-button--#{$color}:not(.n-button--link).n-disabled {
        background: $-color-base;
        border-color: $-color-base;
    }

    .n-button--#{$color}:not(.n-disabled).n-button--link {
        color: $-color-base;
    }

    .n-button--#{$color}:not(.n-disabled).n-button--link:hover {
        color: $-color-light;
    }

    .n-button--#{$color}:not(.n-disabled).n-button--link:focus {
        color: $-color-dark;
    }

}
