@use "sass:map";
@import "../../../root/vars";

.n-button.n-disabled {
    opacity: 0.7;
}

.n-button--default:not(.n-button--link,.n-button--glass) {
    color: rgba($color-foreground, 0.8);
    background: rgba($color-foreground, 0.1);
}

.n-button--default:not(.n-button--link,.n-button--glass):hover {
    color: rgba($color-foreground, 0.9);
    background: rgba($color-foreground, 0.15);
}

.n-button--default:not(.n-button--link,.n-button--glass).n-disabled {
    color: rgba($color-foreground, 0.8);
    background: rgba($color-foreground, 0.1);
}

.n-button--default.n-button--link:not(.n-disabled) {
    color: rgba($color-foreground, 0.8);
}

.n-button--default.n-button--link:not(.n-disabled):hover {
    color: rgba($color-foreground, 0.9);
}

.n-button--default.n-button--glass:not(.n-disabled) {
    color: rgba($color-foreground, 0.8);
    background: rgba($color-foreground, 0.1);
}

.n-button--default.n-button--glass:not(.n-disabled):hover {
    color: rgba($color-foreground, 0.9);
    background: rgba($color-foreground, 0.15);
}

@each $color, $values in $colors {

    $-color-base: map.get($values, 'base');
    $-color-light: map.get($values, 'light');
    $-color-dark: map.get($values, 'dark');

    /**
     * Button primary
     */

    .n-button--#{$color}:not(.n-button--link,.n-button--glass) {
        color: $color-white;
        background: $-color-base;
        border-color: $-color-base;
    }

    .n-button--#{$color}:not(.n-button--link,.n-button--glass):hover {
        background: $-color-light;
        border-color: $-color-light;
    }

    .n-button--#{$color}:not(.n-button--link,.n-button--glass):focus {
        background: $-color-dark;
        border-color: $-color-dark;
    }

    .n-button--#{$color}:not(.n-button--link,.n-button--glass).n-disabled {
        background: $-color-base;
        border-color: $-color-base;
    }

    .n-button--#{$color}:not(.n-disabled).n-button--link {
        color: $-color-base;
    }

    .n-button--#{$color}:not(.n-disabled).n-button--link:hover {
        color: $-color-light;
    }

    .n-button--#{$color}:not(.n-disabled).n-button--link:focus {
        color: $-color-dark;
    }

    .n-button--#{$color}:not(.n-disabled).n-button--glass {
        color: $-color-base;
        background: rgba($-color-base, 0.25);
    }

    .n-button--#{$color}:not(.n-disabled).n-button--glass:hover {
        color: $-color-dark;
        background: rgba($-color-base, 0.35);
    }

    .n-button--#{$color}:not(.n-disabled).n-button--glass:focus {
        color: $-color-dark;
    }

}
