@use "../../../root/helpers" as *;

.n-preview {
    background: color('gray-50', 0.2);
}

.n-preview:after,
.n-preview-portal:after{
    border-color: color('base-color');
}

.n-preview__hover {
    background: color('black', 0.6);
}

.n-preview__hover i {
    color: color('white');
}

.n-preview__hover i {
    transform: scale(0.5);
    transition: transform 0.15s;
}

.n-preview:hover .n-preview__hover i {
    transform: scale(1);
}

.n-preview:hover .n-preview__hover span {
    color: color('foreground', 0.7);
}

.n-preview.n-preview-image .n-preview__title span {
    color: color('white');
    text-shadow: 0 0 6px color('shadow', 0.7);
}

.n-preview__mime {
    color: color('foreground', 0.5);
}

.n-preview__path {
    color: color('foreground', 0.75);
}