@use 'sass:map';
@import "../../../root/vars";

.n-form-item {
    position: relative;
    display: flex;
}

.n-form--vertical .n-form-item {
    flex-direction: column;
}

.n-form--horizontal .n-form-item {
    flex-direction: row;
    align-items: center;
}

.n-form-item > * {
    flex: 1 1 auto;
}

.n-form-item__label {
    flex: 0 0 auto;
    display: flex;
}

.n-form-item__condition {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    border-radius: 500px;
}

.n-form--vertical .n-form-item__label {
    width: 100%;
}

.n-form--horizontal .n-form-item__label {
    width: 180px;
}

.n-form-item__error {
    position: absolute;
    top: 100%;
    left: 0;
    color: $color-danger;
}

@each $suffix, $values in $form {

    $-form-item-font: map.get($values, 'font');
    $-form-item-size: map.get($values, 'size');
    $-form-item-radius: map.get($values, 'radius');
    $-form-item-ratio: map.get($values, 'ratio');

    .n-form-item--#{$suffix} {
        margin-bottom: $-form-item-size * $-form-item-ratio * 2.2;
    }

    .n-form-item--#{$suffix} .n-form-item__condition {
        font-size: $-form-item-font - 2;
        padding: $-form-item-size * $-form-item-ratio * 0.15 $-form-item-size * $-form-item-ratio * 0.75;
    }

    .n-form-item--#{$suffix} .n-form-item__label {
        font-size: $-form-item-font;
    }

    .n-form-item--#{$suffix} .n-form-item__label,
    .n-form-item--#{$suffix} .n-form-item__input {
        margin-top: $-form-item-size * $-form-item-ratio * 0.25;
        margin-bottom: $-form-item-size * $-form-item-ratio * 0.25;
    }

    .n-form-item--#{$suffix} .n-form-item__error {
        font-size: $-form-item-font - 2;
    }

}
