@use "../../../root/helpers" as *;

.n-form-item {
    position: relative;
    display: flex;
}

.n-form--vertical .n-form-item {
    flex-direction: column;
}

.n-form--horizontal .n-form-item {
    flex-direction: row;
    align-items: center;
}

.n-form-item > * {
    flex: 1 1 auto;
}

.n-form-item__label {
    flex: 0 0 auto;
    display: flex;
}

.n-form-item__condition {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: size('base-pad-vertical', 'calc($ * 0.25)');
    display: inline-flex;
    align-items: center;
    border-radius: 500px;
}

.n-form--vertical .n-form-item__label {
    width: 100%;
}

.n-form--horizontal .n-form-item__label {
    width: 180px;
}

.n-form-item__error {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
}

.n-form-item:not([class*="col-"]) {
    margin-bottom: size('base-hgt', 'calc($ * 0.7)');
}

.n-form-item__condition {
    font-size: size('base-fnt-label');
    padding: 0 size('base-pad');
    height: size('base-hgt', 'calc($ * 0.6)');
}

.n-form-item__label {
    font-size: size('base-fnt');
}

.n-form-item__label,
.n-form-item__input {
    margin: size('base-pad-vertical', 'calc($ * 0.25)') 0;
}

.n-form-item__error {
    font-size: size('base-fnt-label');
}
