@import "src/root/helpers";

.n-form-item {
    position: relative;
    display: flex;
}

.n-form--vertical .n-form-item {
    flex-direction: column;
}

.n-form--horizontal .n-form-item {
    flex-direction: row;
    align-items: center;
}

.n-form-item > * {
    flex: 1 1 auto;
}

.n-form-item__label {
    flex: 0 0 auto;
    display: flex;
}

.n-form-item__condition {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    display: inline-flex;
    align-items: center;
    border-radius: 500px;
}

.n-form--vertical .n-form-item__label {
    width: 100%;
}

.n-form--horizontal .n-form-item__label {
    width: 180px;
}

.n-form-item__error {
    position: absolute;
    top: 100%;
    left: 0;
}

.n-form-item {
    margin-bottom: calc(#{"#{size('base-hgt')} * 0.7"});
}

.n-form-item__condition {
    font-size: size('base-fnt-label');
    padding: 0 size('base-pad');
    height: calc(#{"#{size('base-hgt')} * 0.6"});
}

.n-form-item__label {
    font-size: size('base-fnt');
}

.n-form-item__label,
.n-form-item__input {
    margin: calc(#{"#{size('base-pad-vertical')} * 0.25"}) 0;
}

.n-form-item__error {
    font-size: size('base-fnt-label');
}
