@use "sass:map";
@import "../../../root/vars";

.n-button.n-disabled {
    opacity: 0.7;
}

.n-button {
    overflow: hidden;
    position: relative;
    box-shadow: inset 0 -1px 3px rgba($color-foreground, 0.07);
}

.n-button--default:not(.n-button--link,.n-button--glass) {
    color: rgba($color-foreground, 0.8);
    background: rgba($color-foreground, 0.1);
}

.n-button--default:not(.n-button--link,.n-button--glass):hover {
    color: rgba($color-foreground, 0.9);
    background: rgba($color-foreground, 0.15);
}

.n-button--default:not(.n-button--link,.n-button--glass).n-disabled {
    color: rgba($color-foreground, 0.8);
    background: rgba($color-foreground, 0.1);
}

.n-button--default.n-button--link:not(.n-disabled) {
    color: rgba($color-foreground, 0.8);
}

.n-button--default.n-button--link:not(.n-disabled):hover {
    color: rgba($color-foreground, 0.9);
}

.n-button--default.n-button--glass:not(.n-disabled) {
    color: rgba($color-foreground, 0.8);
    background: rgba($color-foreground, 0.1);
}

.n-button--default.n-button--glass:not(.n-disabled):hover {
    color: rgba($color-foreground, 0.9);
    background: rgba($color-foreground, 0.15);
}

.n-button:not(.n-button--link,.n-button--glass,.n-disabled):before {
    z-index: 1;
    content: '\00a0';
    position: absolute;
    top: -20%;
    left: 0;
    display: block;
    width: 100%;
    height: 200%;
    max-height: 60%;
    mix-blend-mode: overlay;
    filter: blur(10px);
    opacity: 0.4;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.n-button:not(.n-button--link,.n-disabled):hover:before {
    z-index: 0;
    opacity: 0.7;
    max-height: 120%;
}

.n-button:not(.n-button--link,.n-button--glass,.n-disabled):before {
    background-image:
            radial-gradient(at 100% 20%, rgba($color-white, 0.5), transparent 80%),
            radial-gradient(at 0% 100%, rgba($color-white, 1.0), transparent 60%);
}

@each $color, $values in $colors {

    $-color-base: map.get($values, 'base');
    $-color-light: map.get($values, 'light');
    $-color-dark: map.get($values, 'dark');

    /**
     * Button primary
     */

    .n-button--#{$color}:not(.n-button--link,.n-button--glass) {
        color: $color-white;
        background: $-color-base;
    }

    .n-button--#{$color}:not(.n-button--link,.n-button--glass).n-disabled {
        background: $-color-base;
    }

    .n-button--#{$color}:not(.n-disabled).n-button--glass {
        color: $-color-dark;
        background: rgba($-color-base, 0.25);
    }

    .n-button--#{$color}:not(.n-disabled).n-button--glass:hover {
        color: $-color-dark;
        background: rgba($-color-base, 0.30);
    }

    .n-button--#{$color}:not(.n-disabled).n-button--link {
        color: $-color-dark;
    }

    .n-button--#{$color}:not(.n-disabled).n-button--link:hover {
        color: $-color-base;
    }

    .n-button--#{$color}:not(.n-disabled).n-button--link:focus {
        color: $-color-light;
    }

}
