@use "../../../root/helpers" as *;

.n-chart-legend {
    color: color('text', 0.6);
    font-size: size('base-fnt');
}

.n-chart-legend span:first-child {
    color: color('base-color');
}

.n-chart-donut circle.n-chart-item--other {
    stroke: color('foreground', 0.2);
}
