@use "../../../root/helpers" as *;

.n-paginator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}


.n-paginator .n-button {
    min-width: size('base-hgt');
}

.n-paginator__spacer {
    flex: 1 1 auto;
}

.n-paginator__limit {
    flex: 0 0 auto;
}

.n-paginator__count {
    flex: 0 0 auto;
}

.n-paginator__sync {
    flex: 0 0 auto;
}

.n-paginator__goto {
    flex: 0 0 auto;
}

.n-paginator__pages {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.n-paginator__count {
    font-size: size('base-fnt');
}

.n-paginator > div {
    padding: 0 size('base-pad', 'calc($ * 0.5)');
}

.n-paginator > div:first-child {
    padding-left: 0;
}

.n-paginator > div:last-child {
    padding-right: 0;
}

.n-paginator__limit .n-select {
    width: size('base-hgt', 'calc($ * 4.2)');
}

.n-paginator__goto .n-select {
    width: size('base-hgt', 'calc($ * 3.2)');
}

.n-paginator__pages > button:not(:last-child) {
    margin-right: size('base-pad', 'calc($ * 0.4)');
}

.n-paginator__pages > button:first-child {
    margin-left: 0;
}

.n-paginator__pages > button:last-child {
    margin-right: 0;
}