@import "../../../root/vars";

.n-draglist-item.n-current {
    background: rgba($color-gray-35, 0.1);
}

.n-draglist-item.n-nodrop {
    background: rgba($color-danger, 0.1);
}

.n-draglist-item .n-draglist-item__ellipsis {
    color: $color-gray-30;
}

.n-draglist-item .n-draglist-item__expand {
    color: $color-gray-60;
}

.n-draglist-item__checkbox {
    background: $color-input;
    border: 1px solid $color-gray-15;
}

.n-draglist-item.n-disabled .n-draglist-item__checkbox {
    background: $color-input-off;
}

@each $color, $values in $colors {

    $-color-base: map_get($values, 'base');
    $-color-light: map_get($values, 'light');
    $-color-dark: map_get($values, 'dark');

    .n-draglist--#{$color}.n-empty.n-dragover {
        background: rgba($-color-base, 0.075);
    }

    .n-draglist--#{$color} .n-draglist-item.n-dragover {
        background: rgba($-color-base, 0.075);
    }

    .n-draglist--#{$color} .n-draglist-item.n-highlight {
        animation: NDraglistItem#{$color} 1s linear infinite;
    }

    .n-draglist--#{$color} .n-draglist-item.n-selected .n-draglist-item__checkbox {
        color: $color-white;
        background: $-color-base;
        border-color: $-color-base;
    }

    .n-draglist--#{$color} .n-draglist-item:not(.n-disabled) .n-draglist-item__checkbox:hover {
        border-color: $-color-light;
    }

    .n-draglist--#{$color} .n-draglist-item.n-selected .n-draglist-item__checkbox:hover {
        background: $-color-light;
    }

    @keyframes NDraglistItem#{$color} {
        0% {
            background: rgba($-color-base, 0);
        }
        50% {
            background: rgba($-color-base, 0.150);
        }
        100% {
            background: rgba($-color-base, 0);
        }
    }

}