@use "../../../root/helpers" as *;

.n-draggrid-item {
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
}

.n-draggrid-item.n-nodrop > * > * {
    pointer-events: none;
}

.n-draggrid-item__element {
    position: relative;
    flex: 1 1 auto;
}

.n-draggrid-item__handle {
    cursor: move;
}

.n-draggrid-item__handle,
.n-draggrid-item__select {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 28px;
}

.n-draggrid-item__ellipsis,
.n-draggrid-item__checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.n-draggrid-item__checkbox {
    border: 1px solid transparent;
}

.n-draggrid-item.n-disabled .n-draggrid-item__checkbox {
    cursor: not-allowed;
    opacity: 0.7;
}

.n-draggrid-item:not(.n-selected) .n-draggrid-item__checkbox i {
    display: none;
}

.n-draggrid-item__ellipsis,
.n-draggrid-item__checkbox {
    width: size('base-hgt-inline');
    height: size('base-hgt-inline');
    border-radius: size('base-rad-inline');
}

.n-draggrid-item__ellipsis {
    font-size: size('base-fnt-icon');
}

.n-draggrid-item__checkbox {
    font-size: size('base-fnt-inline');
}
