@use "@kizmann/nano-ui/src/root/helpers" as *;

.n-draglist-item {
    cursor: default;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    font-size: size('base-fnt');
}

.n-draglist-item.n-nodrop > * > * {
    pointer-events: none;
}

.n-draglist-item__spacer {
    flex: 0 0 auto;
}

.n-draglist-item__element {
    position: relative;
    flex: 1 1 auto;
}

.n-draglist-item__handle {
    cursor: move;
}

.n-draglist-item__handle,
.n-draglist-item__expand,
.n-draglist-item__select {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 28px;
}

.n-draglist-item__ellipsis,
.n-draglist-item__angle,
.n-draglist-item__checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.n-draglist-item.n-expanded .n-draglist-item__angle {
    transform: rotate(90deg);
}

.n-draglist-item:not(.n-children) .n-draglist-item__angle i {
    display: none;
}

.n-draglist-item__checkbox {
    border: 1px solid transparent;
}

.n-draglist-item.n-disabled .n-draglist-item__checkbox {
    cursor: not-allowed;
    opacity: 0.7;
}

.n-draglist-item:not(.n-selected) .n-draglist-item__checkbox i {
    display: none;
}

.n-draglist-item__ellipsis,
.n-draglist-item__angle,
.n-draglist-item__checkbox {
    width: size('base-hgt-inline');
    height: size('base-hgt-inline');
    border-radius: size('base-rad-inline');
}

.n-draglist-item__ellipsis,
.n-draglist-item__angle {
    font-size: size('base-fnt-icon');
}

.n-draglist-item__checkbox {
    font-size: size('base-fnt-inline');
}
