@use "src/root/helpers" as *;

.n-input {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    font-size: size('base-fnt');
    border-radius: size('base-rad');
    border: 1px solid transparent;
}

.n-input.n-disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.n-input input {
    appearance: none;
    display: block;
    width: 100%;
    height: size('base-hgt', 'calc($ - 2px)');
    white-space: nowrap;
    text-decoration: none;
    line-height: 1.2;
    padding: 0 size('base-pad');
    border: none;
    background: transparent;
    box-shadow: none;
}

.n-input.n-input--icon.n-input--icon-before input {
    padding-left: size('base-pad');
}

.n-input.n-input--icon.n-input--icon-after input {
    padding-right: size('base-pad');
}

.n-input.n-disabled input {
    cursor: not-allowed;
}

.n-input .n-button {
    width: size('base-hgt', 'calc($ - 2px)');
    height: size('base-hgt', 'calc($ - 2px)');
}