@import "src/root/helpers";

.n-input {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    font-size: size('base-fnt');
    border-radius: size('base-rad');
    border: 1px solid transparent;
}

.n-input.n-disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.n-input input {
    appearance: none;
    display: block;
    width: 100%;
    height: calc(#{"#{size('base-hgt')} - 2px"});
    white-space: nowrap;
    text-decoration: none;
    line-height: 1.2;
    padding: 0 size('base-pad');
    border: none;
    background: transparent;
    box-shadow: none;
}

.n-input.n-input--icon.n-input--icon-before input {
    padding-left: calc(#{"#{size('base-hgt')} + #{size('base-pad')}"});
}

.n-input.n-input--icon.n-input--icon-after input {
    padding-right: calc(#{"#{size('base-hgt')} + #{size('base-pad')}"});
}

.n-input.n-disabled input {
    cursor: not-allowed;
}

.n-input .n-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.n-input.n-input--icon.n-input--icon-before .n-button {
    left: 1px;
}

.n-input.n-input--icon.n-input--icon-after .n-button {
    right: 1px;
}
