@import "../../../root/vars";

.n-datepicker-panel {
    cursor: default;
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    border: 1px solid $color-gray-10;
}

.n-datepicker-panel__header {
    border-bottom: 1px solid $color-gray-10;
}

.n-datepicker-panel__footer {
    border-top: 1px solid $color-gray-10;
}

.n-datepicker-panel__body,
.n-datepicker-panel__dateview {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.n-datepicker-panel__panels,
.n-datepicker-panel__toolbar {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
}

.n-datepicker-panel__display {
    flex: 1 1 auto;
}

.n-datepicker-panel__display .n-datepicker-panel__month,
.n-datepicker-panel__display .n-datepicker-panel__year,
.n-datepicker-panel__toolbar .n-datepicker-panel__prev,
.n-datepicker-panel__toolbar .n-datepicker-panel__next {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.n-datepicker-panel__display .n-datepicker-panel__month:hover,
.n-datepicker-panel__display .n-datepicker-panel__year:hover {
    background: rgba($color-gray-15, 0.6);
}

.n-datepicker-panel__display .n-datepicker-panel__month {
    text-transform: uppercase;
}

.n-datepicker-panel__display .n-datepicker-panel__year {
    font-weight: bold;
}

.n-datepicker-panel__footer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-end;
}

.n-datepicker-panel__legend,
.n-datepicker-panel__body > .n-datepicker-panel__week,
.n-datepicker-panel__body > .n-datepicker-panel__year,
.n-datepicker-panel__body > .n-datepicker-panel__decade {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.n-datepicker-panel__body > .n-datepicker-panel__week {
    margin-bottom: 3px;
}

.n-datepicker-panel__dateview .n-datepicker-panel__day,
.n-datepicker-panel__year > .n-datepicker-panel__month,
.n-datepicker-panel__decade > .n-datepicker-panel__year {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.n-datepicker-panel__dateview .n-datepicker-panel__day {
    line-height: 1;
    border-radius: 500px;
}

.n-datepicker-panel__dateview .n-datepicker-panel__day.n-disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.n-datepicker-panel__dateview .n-datepicker-panel__day.n-arrive:not(.n-selected),
.n-datepicker-panel__dateview .n-datepicker-panel__day.n-depart:not(.n-selected),
.n-datepicker-panel__dateview .n-datepicker-panel__day.n-between:not(.n-selected) {
    background: rgba($color-gray-15, 0.6);
}

.n-datepicker-panel__dateview .n-datepicker-panel__day:not(:first-child):not(:last-child).n-between,
.n-datepicker-panel__dateview .n-datepicker-panel__day:not(:first-child):not(:last-child).n-arrive:not(.n-depart),
.n-datepicker-panel__dateview .n-datepicker-panel__day:not(:first-child):not(:last-child).n-depart:not(.n-arrive) {
    border-radius: 0;
}

.n-datepicker-panel__dateview .n-datepicker-panel__day:not(:last-child).n-arrive:not(.n-depart),
.n-datepicker-panel__dateview .n-datepicker-panel__day:first-child.n-between {
    border-radius: 500px 0 0 500px !important;
}

.n-datepicker-panel__dateview .n-datepicker-panel__day:not(:first-child).n-depart:not(.n-arrive),
.n-datepicker-panel__dateview .n-datepicker-panel__day:last-child.n-between {
    border-radius: 0 500px 500px 0 !important;
}

.n-datepicker-panel__year > .n-datepicker-panel__month,
.n-datepicker-panel__decade > .n-datepicker-panel__year { 
    width: 33.332%;
}

.n-datepicker-panel__body .n-datepicker-panel__day:not(.n-current)  {
    color: $color-gray-40;
}

.n-datepicker-panel__body .n-datepicker-panel__day.n-today,
.n-datepicker-panel__body .n-datepicker-panel__month.n-current,
.n-datepicker-panel__body .n-datepicker-panel__year.n-current {
    font-weight: bold;
}

.n-datepicker-panel__legend .n-datepicker-panel__day {
    font-weight: bold;
}

@each $suffix, $values in $form {

    $-datepicker-panel-font: map-get($values, 'font');
    $-datepicker-panel-size: map-get($values, 'size');
    $-datepicker-panel-radius: map-get($values, 'radius');
    $-datepicker-panel-ratio: map-get($values, 'ratio');

    .n-datepicker-panel--#{$suffix} {
        font-size: $-datepicker-panel-font;
        border-radius: $-datepicker-panel-radius;
    }

    $-datepicker-panel-padding: $-datepicker-panel-size * $-datepicker-panel-ratio;

    .n-datepicker-panel--#{$suffix} .n-datepicker-panel__display .n-datepicker-panel__month,
    .n-datepicker-panel--#{$suffix} .n-datepicker-panel__display .n-datepicker-panel__year {
        height: $-datepicker-panel-size - 4;
        padding: 0 $-datepicker-panel-padding * 0.5;
        border-radius: $-datepicker-panel-radius;
    }

    .n-datepicker-panel--#{$suffix} .n-datepicker-panel__toolbar .n-button {
        width: $-datepicker-panel-size - 4;
        height: $-datepicker-panel-size - 4;
    }

    .n-datepicker-panel--#{$suffix} .n-datepicker-panel__header,
    .n-datepicker-panel--#{$suffix} .n-datepicker-panel__footer {
        padding: $-datepicker-panel-padding * 0.7 $-datepicker-panel-padding;
    }

    .n-datepicker-panel--#{$suffix} .n-datepicker-panel__dateview .n-datepicker-panel__panel,
    .n-datepicker-panel--#{$suffix} .n-datepicker-panel__monthview .n-datepicker-panel__body,
    .n-datepicker-panel--#{$suffix} .n-datepicker-panel__yearview .n-datepicker-panel__body {
        width: ($-datepicker-panel-size * 7) + ($-datepicker-panel-padding * 2);
    }

    .n-datepicker-panel--#{$suffix} .n-datepicker-panel__monthview .n-datepicker-panel__body,
    .n-datepicker-panel--#{$suffix} .n-datepicker-panel__yearview .n-datepicker-panel__body {
        padding: $-datepicker-panel-padding - 2;
    }
    
    .n-datepicker-panel--#{$suffix} .n-datepicker-panel__dateview .n-datepicker-panel__panel {
        padding: $-datepicker-panel-padding * 0.5;
    }

    .n-datepicker-panel--#{$suffix} .n-datepicker-panel__dateview .n-datepicker-panel__day {
        width: $-datepicker-panel-size;
        height: $-datepicker-panel-size;
    }

    .n-datepicker-panel--#{$suffix} .n-datepicker-panel__year > .n-datepicker-panel__month,
    .n-datepicker-panel--#{$suffix} .n-datepicker-panel__decade > .n-datepicker-panel__year { 
        height: $-datepicker-panel-size;
        border-radius: $-datepicker-panel-radius;
    }

}

@each $color, $values in $colors {

    $-color-base: map_get($values, 'base');
    $-color-light: map_get($values, 'light');
    $-color-dark: map_get($values, 'dark');

    .n-datepicker-panel--#{$color} .n-datepicker-panel__body .n-datepicker-panel__day.n-selected,
    .n-datepicker-panel--#{$color} .n-datepicker-panel__body .n-datepicker-panel__month.n-selected,
    .n-datepicker-panel--#{$color} .n-datepicker-panel__body .n-datepicker-panel__year.n-selected {
        color: $color-white;
        background: $-color-base;
    }

}
