@import "src/root/helpers";

.n-tags {
    margin-bottom: calc(#{"#{size('base-pad-vertical')} * -1"});
}

.n-tags .n-tags-item {
    margin: 0 size('base-pad-vertical') size('base-pad-vertical') 0;
}
