@import "../../../root/vars";

.n-tabs__header:after {
    border-bottom: 1px solid $color-gray-90;
}

.n-tabs__indicator {
    background: $color-white;
}

@each $color, $values in $colors {

    $-color-base: map_get($values, 'base');
    $-color-light: map_get($values, 'light');
    $-color-dark: map_get($values, 'dark');

    .n-tabs--#{$color} .n-tabs__indicator {
        background: $-color-base;
    }

}