@import "src/root/helpers";

.n-resizer {
    position: relative;
}

.n-resizer__handle {
    z-index: 200;
    cursor: col-resize;
    user-select: none;
    position: absolute;
    width: 6px;
    opacity: 0;
    transition: opacity 0s 0.25s;
}

.n-resizer__handle:hover {
    opacity: 1;
}

.n-resizer.n-move > .n-resizer__handle {
    z-index: 99999;
    opacity: 1;
    transition: opacity 0s;
}

.n-resizer--left .n-resizer__handle {
    top: 0;
    bottom: 0;
    right: 0;
}

.n-resizer--right .n-resizer__handle {
    top: 0;
    bottom: 0;
    left: 0;
}

.n-resizer__handle:before {
    content: '\00a0';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.n-resizer--left .n-resizer__handle:before {
    left: 0;
    right: 2px;
}

.n-resizer--right .n-resizer__handle:before {
    left: 2px;
    right: 0;
}
