@import "src/root/helpers";

.n-rating {
    overflow: hidden;
    max-width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: size('base-font');
}

.n-rating__stars {
    flex: 0 0 auto;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.n-rating__stars span {
    flex: 0 0 auto;
    position: relative;
    display: block;
    width: calc(#{"#{size('base-hgt')} * 0.45"});
    height: calc(#{"#{size('base-hgt')} * 0.45"});
}

.n-rating__stars span:not(:last-child) {
    margin-right: calc(#{"#{size('base-pad')} * 0.3"});
}

.n-rating__stars span:before,
.n-rating__stars span:after {
    content: '\00a0';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.n-rating__stars span:before {
    z-index: 2;
    left: 0;
    background-position: left center;
}

.n-rating__stars span:after {
    z-index: 1;
    right: 0;
    background-position: right center;
}

.n-rating__stars span.is-null:before {
    width: 0;
}

.n-rating__stars span.is-half:before {
    width: 50%;
}

.n-rating__stars span.is-full:before {
    width: 100%;
}

.n-rating__value {
    overflow: hidden;
    flex: 1 1 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.n-rating .n-rating__value {
    margin-left: size('base-pad');
}

.n-rating .n-rating__value {
    font-size: size('base-fnt');
    margin-left: size('base-pad');
}