@use "../../../root/helpers" as *;

.n-disabled .n-form-clear {
    display: none !important;
}

.n-disabled .n-form-angle {
    display: inline-flex !important;
}

.n-form-clear,
.n-form-angle {
    position: relative;
}

.n-form-clear i,
.n-form-angle i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: size('base-hgt', 'calc($ - 12px)');
    height: size('base-hgt', 'calc($ - 12px)');
}

.n-form-clear i,
.n-form-angle i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: size('base-fnt-icon');
    line-height: 10px;
    border-radius: size('base-rad-circle');
}