@use "sass:list";
@use "sass:math";

@function reverse($list) {

    $result: (); $length: list.length($list);

    @for $i from $length through 1 {
        $result: list.append($result, list.nth($list, $i));
    }

    @return $result;
}

@function strip($number) {
    @return math.div($number, 1);
}
