@use "../../../root/helpers" as *;

.n-checkbox {
    cursor: default;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: stretch;
    min-height: size('base-hgt');
    font-size: size('base-fnt');
}

.n-checkbox.n-disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.n-checkbox__checkbox {
    flex: 0 0 auto;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
}

.n-checkbox__checkbox i {
    opacity: 0;
    font-size: size('base-fnt-inline');
}

.n-checkbox.n-checked .n-checkbox__checkbox i,
.n-checkbox.n-intermediate .n-checkbox__checkbox i {
    opacity: 1;
}

.n-checkbox .n-checkbox__checkbox {
    width: size('base-hgt-inline');
    height: size('base-hgt-inline');
    border-radius: size('base-rad-inline');
}

.n-checkbox .n-checkbox__label {
    padding-left: size('base-pad', 'calc($ * 0.8)');
}
