@import "../../../root/vars";

$checkbox-font-size: 15px !default;
$checkbox-check-size: 10px !default;
$checkbox-width: 15px !default;
$checkbox-height: 15px !default;
$checkbox-radius: $radius-medium !default;

/**
 * Checkbox container
 */

.n-checkbox {
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    align-items: center;
    padding-top: $checkbox-height / 6;
    padding-bottom: $checkbox-height / 6;
    line-height: 1.2;
    font-size: $checkbox-font-size;
}

.n-checkbox.n-checkbox--small {
    font-size: $checkbox-font-size * 0.925;
}

.n-checkbox.n-checkbox--large {
    font-size: $checkbox-font-size * 1.125;
}

/**
 * Checkbox pseudo checkbox
 */

.n-checkbox .n-checkbox__checkbox {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $--color-gray-15;
    border-radius: $checkbox-radius;
    width: $checkbox-width;
    height: $checkbox-height;
    color: $--color-gray-50;
    font-size: $checkbox-check-size;
    background: $--color-white;
}

.n-checkbox:hover .n-checkbox__checkbox {
    border-color: $--color-primary;
}

.n-checkbox.n-disabled .n-checkbox__checkbox {
    cursor: not-allowed;
    background: $--color-gray-05;
    border-color: $--color-gray-15;
}

.n-checkbox.n-checkbox--small .n-checkbox__checkbox {
    font-size: $checkbox-check-size * 0.925;
    width: $checkbox-width * 0.925;
    height: $checkbox-height * 0.925;
}

.n-checkbox.n-checkbox--large .n-checkbox__checkbox {
    font-size: $checkbox-check-size * 1.125;
    width: $checkbox-width * 1.125;
    height: $checkbox-height * 1.125;
}

.n-checkbox.n-checked:not(.n-disabled) .n-checkbox__checkbox,
.n-checkbox.n-intermediate:not(.n-disabled) .n-checkbox__checkbox {
    color: $--color-white;
    border-color: $--color-primary;
    background: $--color-primary;
}

.n-checkbox .n-checkbox__checkbox span {
    visibility: hidden;
}

.n-checkbox.n-checked .n-checkbox__checkbox span,
.n-checkbox.n-intermediate .n-checkbox__checkbox span {
    visibility: visible;
}

/**
 * Checkbox label
 */

.n-checkbox .n-checkbox__label {
    flex: 1 1 auto;
    overflow: hidden;
    padding-left: $checkbox-width / 2;
    padding-right: $checkbox-width / 2;
    color: $--color-black;
    text-overflow: ellipsis;
    transition: color $transition-short;
}

.n-inverse .n-checkbox .n-checkbox__label {
    color: $--color-white;
}

.n-checkbox.n-checked .n-checkbox__label {
    color: $--color-primary;
}
.n-checkbox.n-disabled .n-checkbox__label {
    cursor: not-allowed;
    color: $--color-gray-50;
}

