@use "@kizmann/nano-ui/src/root/helpers" as *;

.n-datepicker {
    background: color('form-input');
    border: 1px solid color('gray-15');
}

.n-datepicker:not(.n-disabled):hover {
    border-color: color('base-color-bg-30');
}

.n-datepicker:not(.n-disabled).n-focus {
    border-color: color('base-color');
}

.n-datepicker.n-disabled {
    background: color('form-disabled');
}

.n-datepicker__seperator {
    color: color('gray-60');
}

.n-datepicker__clear,
.n-datepicker__angle {
    color: color('gray-60');
}

.n-datepicker__clear i {
    background: color('gray-15', 0.6);
}

.n-datepicker__placeholder {
    color: color('foreground', 0.5);
}

.n-datepicker__body,
.n-datepicker__empty {
     background: color('form-input');
}

.n-datepicker__empty {
     color: color('gray-60');
}