@import "../../../root/vars";

.n-draggrid-item.n-current {
    background: rgba($color-gray-35, 0.1);
}

.n-draggrid-item.n-nodrop {
    background: rgba($color-danger, 0.1);
}

.n-draggrid-item .n-draggrid-item__ellipsis {
    color: $color-gray-70;
}

.n-draggrid-item__checkbox {
    background: rgba($color-gray-70, 0.5);
    //border: 1px solid $color-gray-15;
}

.n-draggrid-item.n-disabled .n-draggrid-item__checkbox {
    background: rgba($color-gray-60, 0.3);
}

@each $color, $values in $colors {

    $-color-base: map_get($values, 'base');
    $-color-light: map_get($values, 'light');
    $-color-dark: map_get($values, 'dark');

    .n-draggrid--#{$color}.n-empty.n-dragover {
        background: rgba($-color-base, 0.075);
    }

    .n-draggrid--#{$color} .n-draggrid-item.n-dragover {
        background: rgba($-color-base, 0.075);
    }

    .n-draggrid--#{$color} .n-draggrid-item.n-highlight {
        animation: NDraggridItem#{$color} 1s linear infinite;
    }

    .n-draggrid--#{$color} .n-draggrid-item.n-selected .n-draggrid-item__checkbox {
        color: $color-white;
        background: $-color-base;
        border-color: $-color-base;
    }

    .n-draggrid--#{$color} .n-draggrid-item.n-selected .n-draggrid-item__checkbox:hover {
        background: $-color-light;
        border-color: $-color-light;
    }

    @keyframes NDraggridItem#{$color} {
        0% {
            background: rgba($-color-base, 0);
        }
        50% {
            background: rgba($-color-base, 0.150);
        }
        100% {
            background: rgba($-color-base, 0);
        }
    }

}