@import "../../../root/vars";

.n-radio {
    cursor: default;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: stretch;
}

.n-radio.n-disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.n-radio__radio {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $color-black;
    border-radius: 500px;
    border: 1px solid $color-gray-15;
    transition: border 0.15s, background 0.15s;
}

.n-radio.n-disabled .n-radio__radio  {
    background: rgba($color-gray-15, 0.3);
}

.n-radio__radio span {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    border-radius: 500px;
    background: $color-black;
    transform: translate(-50%, -50%);
}

.n-radio.n-checked .n-radio__radio span {
    opacity: 1;
}

@each $suffix, $values in $form {

    $-radio-font: map-get($values, 'font');
    $-radio-size: map-get($values, 'size');
    $-radio-radius: map-get($values, 'radius');
    $-radio-ratio: map-get($values, 'ratio');

    .n-radio--#{$suffix} {
        min-height: $-radio-size;
        font-size: $-radio-font;
    }

    .n-radio--#{$suffix} .n-radio__radio {
        width: $-radio-size - 16;
        height: $-radio-size - 16;
    }

    .n-radio--#{$suffix} .n-radio__radio span {
        width: $-radio-size - 26;
        height: $-radio-size - 26;
    }

    $-radio-padding: $-radio-size * $-radio-ratio;

    .n-radio--#{$suffix} .n-radio__label {
        padding: 0 0 0 $-radio-padding * 0.5;
    }

}

@each $color, $values in $colors {

    $-color-base: map_get($values, 'base');
    $-color-light: map_get($values, 'light');
    $-color-dark: map_get($values, 'dark');

    /**
     * Button primary
     */

    .n-radio--#{$color}:not(.n-disabled):hover .n-radio__radio {
        border-color: $-color-base;
    }

    .n-radio--#{$color}.n-checked:not(.n-disabled) .n-radio__radio {
        background: $-color-base;
        border-color: $-color-base;
    }

    .n-radio--#{$color}.n-checked:not(.n-disabled) .n-radio__radio span {
        background: $color-white;
    }

    .n-radio--#{$color}.n-checked:not(.n-disabled) .n-radio__radio:not(.n-disabled):hover {
        background: $-color-light;
        border-color: $-color-light;
    }

    .n-radio--#{$color}.n-checked:not(.n-disabled) .n-radio__label {
        color: $-color-base;
    }

}