@use "@kizmann/nano-ui/src/root/helpers" as *;

.n-radio-group {
    display: flex;
}

.n-radio-group > .n-radio {
    flex: 0 1 auto;
}

.n-radio-group.n-radio-group--horizontal {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.n-radio-group.n-radio-group--vertical {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.n-radio-group.n-radio-group--horizontal .n-radio {
    min-height: 0;
}

.n-radio-group.n-radio-group--horizontal .n-radio:not(:first-child) {
    margin-left: size('base-pad', 'calc($ * 1.2)');
}

.n-radio-group.n-radio-group--horizontal .n-radio:last-child {
    padding-right: 0;
}

.n-radio-group.n-radio-group--vertical .n-radio {
    min-height: 0;
}

.n-radio-group.n-radio-group--vertical .n-radio:not(:first-child) {
    margin-top: 3px;
}

.n-radio-group.n-radio-group--vertical .n-radio:last-child {
    padding-bottom: 0;
}