@import "../../../root/vars";

$info-column-label-size: 14px !default;

.n-info-column__label {
    color: $--color-gray-60;
    margin-bottom: 2px;
    font-size: $info-column-label-size;
}

.n-info-column__value {
    position: relative;
}
