@import "src/root/helpers";

.n-collapse {
    border: 1px solid color('gray-15');
}

.n-collapse__header:not(.is-first) {
    border-top: 1px solid color('gray-15');
}

.n-collapse__header.n-active {
    border-bottom: 1px solid color('gray-15');
}
