@import "../../../root/vars";

.n-collapse {
    border: 1px solid $color-gray-15;
}

.n-collapse__header:not(:first-child) {
    border-top: 1px solid $color-gray-15;
}

.n-collapse__header.n-active {
    border-bottom: 1px solid $color-gray-15;
}

@each $color, $values in $colors {

    $-color-base: map_get($values, 'base');
    $-color-light: map_get($values, 'light');
    $-color-dark: map_get($values, 'dark');

}