@use "sass:map";
@use "../../../root/vars" as *;

.n-collapse {
    border: 1px solid $color-gray-15;
}

.n-collapse__header:not(:first-child) {
    border-top: 1px solid $color-gray-15;
}

.n-collapse__header.n-active {
    border-bottom: 1px solid $color-gray-15;
}

@each $color, $values in $colors {

    $-color-base: map.get($values, 'base');
    $-color-light: map.get($values, 'light');
    $-color-dark: map.get($values, 'dark');

}