@import "../../../root/vars";

.n-timepicker-panel {
    background: $color-form;
    border: 1px solid $color-gray-10;
}

.n-timepicker-panel__header {
    border-bottom: 1px solid $color-gray-10;
}

.n-timepicker-panel__panel:not(:last-child) {
    border-right: 1px solid $color-gray-10;
}

@each $color, $values in $colors {

    $-color-base: map_get($values, 'base');
    $-color-light: map_get($values, 'light');
    $-color-dark: map_get($values, 'dark');

    .n-timepicker-panel--#{$color} .n-timepicker-panel__item.n-selected {
        color: $color-white;
        background: $-color-base;
    }

}
