@import "src/root/helpers";

.n-timepicker-panel {
    background: color('form-input');
}

div:not(.n-popover,.n-datetimepicker-panel) > .n-timepicker-panel {
    border: 1px solid color('gray-15');
}

.n-timepicker-panel__header {
    border-bottom: 1px solid color('gray-15');
}

.n-timepicker-panel__panel:not(:last-child) {
    border-right: 1px solid color('gray-15');
}

.n-timepicker-panel__item.n-selected {
    color: color('base-text');
    background: color('base-color');
}