@use "../../../root/helpers" as *;

.n-form-frame__link:hover {
    background: color('foreground', 0.075);
}

.n-form-frame__link.is-star {
    background: color('base-color', 0.15);
}

.n-form-frame__link.on-search:before {
    background: color('base-color');
}

.n-form-frame__link i {
    color: color('base-color');
}

.n-form-frame__link span {
    color: color('gray-80');
}

.n-form-frame__link.is-star span {
    color:color('base-color');
}
