@use "../../../root/helpers" as *;

.n-drag-indicator,
.n-draggable__indicator {
    pointer-events: none;
    z-index: 9999998;
    position: absolute;
    top: -9999px;
    left: -9999px;
    display: block;
    width: 0;
    height: 0;
    transition: transform 0.1s;
}

.n-drag-indicator:before {
    content: '\00a0';
    position: absolute;
    display: block;
    border-radius: size('default-md-rad');
}

.n-drag-indicator.n-mode-self:before,
.n-drag-indicator.n-mode-deny:before,
.n-drag-indicator.n-mode-append:before,
.n-drag-indicator.n-mode-inside:before {
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
}

.n-drag-indicator.n-mode-before:before {
    top: 2px;
    left: 2px;
    right: 2px;
    height: 2px;
}

.n-drag-indicator.n-mode-after:before {
    bottom: 2px;
    left: 2px;
    right: 2px;
    height: 2px;
}

.n-drag-counter,
.n-draggable__counter {
    cursor: none;
    pointer-events: none;
    will-change: transform;
    z-index: 9999999;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    display: inline-block;
    margin: -6px 20px 2px;
    padding: 4px 12px;
    border-radius: 500px;
}

.n-drag-counter[class*="n-type-"] {
    opacity: 1;
    transition: opacity 0.1s 0.1s, transform 0.1s;
}
