@use "src/root/helpers" as *;

.n-switch {
    cursor: default;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: stretch;
    min-height: size('base-hgt');
    font-size: size('base-fnt');
}

.n-switch.n-disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.n-switch__switch {
    flex: 0 0 auto;
    position: relative;
    width: size('base-hgt-inline', 'calc($ * 1.9)');
    height: size('base-hgt-inline');
    border-radius: 500px;
    transition: background 0.15s;
}

.n-switch__switch span {
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    width: size('base-hgt-inline', 'calc($ - 4px)');
    height: size('base-hgt-inline', 'calc($ - 4px)');
    border-radius: 500px;
    transition: left 0.15s;
}

.n-switch.n-on .n-switch__switch span {
    left: size('base-hgt-inline', 'calc(($ * 1.9) - $ + 2px)');
}

.n-switch .n-switch__label {
    padding-left: size('base-pad');
}