@use "src/root/helpers" as *;

.n-table-column {
    cursor: default;
    position: relative;
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    padding: 0 size('base-pad');
}

.n-table-column.n-fluid {
    flex: 1 1 auto;
}

.n-table-column.n-fixed {
    flex: 0 0 auto;
}

// Column

.n-table__header .n-table-column,
.n-table__body .n-table-cell {
    border-left: 1px solid transparent;
    //border-right: 1px solid transparent;
}

.n-table-column .n-table-column__label {
    flex: 1 1 auto;
}

.n-table-column.n-sorted .n-table-column__label {
    font-style: italic;
}

.n-table-column--left .n-table-column__label {
    text-align: left;
}

.n-table-column--center .n-table-column__label {
    text-align: center;
}

.n-table-column--right .n-table-column__label {
    text-align: right;
}


// Column sort

.n-table-column .n-table-column__sort {
    flex: 0 0 auto;
    margin-right: size('base-pad', 'calc($ * 0.5)');
}

.n-table-column .n-table-column__sort > i {
    position: relative;
    display: block;
    width: size('base-hgt', 'calc($ - 12px)');
    height: size('base-hgt', 'calc($ - 12px)');
    border-radius: size('base-rad');
}

.n-table-column .n-table-column__sort > i:before {
    content: '\00a0';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    margin: 1px 0 0 -6px;
    border: 4px solid transparent;
}

.n-table-column .n-table-column__sort > i:after {
    content: '\00a0';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    margin: -9px 0 0 -6px;
    border: 4px solid transparent;
}

// Column filter

.n-table .n-table-column .n-table-column__filter {
    flex: 0 0 auto;
    margin-left: size('base-pad', 'calc($ * 0.5)');
}

.n-table-column .n-table-column__label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.n-table-column:last-child .n-resizer__handle {
    margin-left: -3px;
}

.n-table-column .n-resizer__handle:before {
    top: 2px;
    bottom: 2px;
    left: 1px;
    right: 1px;
    border-radius: size('base-rad-circle');
}

.n-table .n-table-column .n-table-column__filter > i {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: size('base-hgt', 'calc($ - 12px)');
    height: size('base-hgt', 'calc($ - 12px)');
    text-align: center;
    border-radius: size('base-rad-inline');
}

