@import "../../../root/vars";

@each $color, $values in $colors {

    $-color-base: map_get($values, 'base');
    $-color-light: map_get($values, 'light');
    $-color-dark: map_get($values, 'dark');

    /**
     * File primary
     */

    .n-file .n-button--#{$color}:not(.n-button--link) {
        background: rgba($-color-base, 0.20);
        border-color: rgba($-color-base, 0.05);
        color: $-color-base;
    }

    .n-file .n-button--#{$color}:not(.n-button--link):hover {
        background: rgba($-color-light, 0.20);
        border-color: rgba($-color-light, 0.05);
        color: $-color-base;
    }

    .n-file .n-button--#{$color}:not(.n-button--link):focus {
        background: rgba($-color-dark, 0.20);
        border-color: rgba($-color-dark, 0.05);
        color: $-color-base;
    }

    .n-file .n-button--#{$color}:not(.n-button--link).n-disabled {
        background: rgba($-color-base, 0.20);
        border-color: rgba($-color-base, 0.05);
        color: $-color-base;
    }


}