<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nano UI</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/backpack.css@2.0.0/lib/backpack.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../dist/nano-ui.css">
    <link id="theme" rel="stylesheet" href="../dist/themes/default.css">

    <link rel="stylesheet" href="../style.css">

    <style>

        div {
            box-sizing: border-box;
        }

        html, body {
            font-size: 14px;
        }

        body {
            font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
            height: 100%;
            overflow-x: hidden;
        }

        #app {
            overflow-x: hidden;
        }

        .n-demo #app .app-container {
            //background: url("/assets/background/webservy.png") repeat-y center / contain !important;
        }

        .app-container {
            max-width: 1440px;
            margin: 0 auto;
            padding: 20px 30px 40px 30px;
        }

        .app-options {
            position: relative;
            margin-top: 0;
            border-radius: 6px;
            margin-bottom: 20px;
        }

        .app-options:before,
        .app-options:after {
            content: '\00a0';
            position: absolute;
            display: block;
            height: 1px;
            left: calc(var(--grid-gap-h) * 0.5);
            right: calc(var(--grid-gap-h) * 0.5);
            background: rgb(var(--n-color-gray-10));
        }

        .app-options:before {
            top: 0;
        }

        .app-options:after {
            bottom: 0;
        }

        h2 {
            font-size: 32px;
            font-weight: bold;
            padding-bottom: 10px;
            margin: 50px 0 10px;
        }

    </style>

</head>
<body class="n-demo n-size-md n-type-secondary n-theme-light">

<div id="app" class="nano-theme-preview">
    <div class="app-container">

        <h2>test</h2>
        <div :key="instance">

            <n-table v-model:items="virtualTree" :render-select="true" :render-handle="true" :render-expand="true" :item-height="36" style="margin-top: 30px; height: 500px;">
                <n-table-column label="Label" type="string" prop="id" width="30%"></n-table-column>
                <n-table-column label="Label" type="string" prop="matrix" width="10%"></n-table-column>
                <n-table-column label="Label" type="string" prop="label" :filter="true" width="30%"></n-table-column>
                <n-table-column label="Enabled" type="boolean" prop="enabled" :sort="true" width="15%"></n-table-column>
                <n-table-column label="Datetime" type="datetime" prop="date" width="20%" :breakpoint="500"></n-table-column>
                <n-table-column label="Date" type="datetime" prop="date" datetime-format="L" width="20%"></n-table-column>
                <n-table-column label="Time" type="datetime" prop="date" datetime-format="LTS" width="20%"></n-table-column>
                <n-table-column label="Enabled" type="option" prop="enabled" :sort="true" :filter="true" :options="[{ value: true, name: 'JAAAA' }, { value: false, name: 'NEEEEEJ' }]" options-value="$value.value" options-label="$value.name" width="20%"></n-table-column>
            </n-table>

            <n-table v-model:items="virtualTree" :render-select="true" :render-handle="true" :render-expand="true" :item-height="36" style="margin-top: 30px; height: 500px;">
                <n-table-column label="Label" type="string" prop="label" :filter="true"></n-table-column>
                <n-table-column label="Enabled" type="option" prop="enabled" :sort="true" :filter="true" :options="[{ value: true, name: 'JAAAA' }, { value: false, name: 'NEEEEEJ' }]" options-value="$value.value" options-label="$value.name"></n-table-column>
                <n-table-column v-model="treeSelect" label="Select" type="select" :allow-uncheck="true" :fixed-width="120">
                    <template v-slot:default="{ item }"></template>
                </n-table-column>
                <n-table-column v-model="treeMatrix" label="Matrix 1" type="matrix" :data="{ matrix: 1 }" align="center" :fixed-width="120"></n-table-column>
                <n-table-column v-model="treeMatrix" label="Matrix 2" :data="{ matrix: 2 }" type="matrix" align="center" :fixed-width="120"></n-table-column>
                <n-table-column v-model="treeMatrix" label="Matrix 4" type="matrix" :data="{ matrix: 4 }" align="center" :fixed-width="120"></n-table-column>
                <n-table-column v-model="treeMatrix" label="Matrix 8" type="matrix" :data="{ matrix: 8 }" align="center" :fixed-width="120"></n-table-column>
            </n-table>


            <n-scrollbar style="max-height: 500px; max-width: 500px;">
                <div style="width: 800px; height: 500px; background: yellow;"></div>
                <div style="width: 800px; height: 500px; background: blue;"></div>
                <div style="width: 800px; height: 500px; background: green;"></div>
            </n-scrollbar>

            <n-virtualbar v-if="false" :items="virtualData" style="max-height: 500px;">
                <template v-slot:default="{ value }" :key="value.id">
                    <div style="width: 100%; display:flex; flex-direction: row;">
                        {{ value.label }}
                    </div>
                </template>
            </n-virtualbar>

            <n-draglist v-model:items="cascaderData" :group="['bar', 'foo']" :render-expand="true" :render-select="true" :safezone="0.25" :allow-dro2p="(n, t) => t != null" style="width: 100%; height: 500px;">
                <template v-slot:default="{ item }">
                    <div style="width: 100%; display:flex; flex-direction: row;">
                        {{ item.label }}
                    </div>
                </template>
            </n-draglist>

            <n-draglist v-model:items="virtualTree" :group="['foo']" :render-select="true" :safezone="0.25" :allow-drop="(n, t) => t != null" style="width: 100%; height: 500px;">
                <template v-slot:default="{ item }">
                    <div style="width: 100%; display:flex; flex-direction: row;">
                        {{ item.label }}
                    </div>
                </template>
            </n-draglist>

            <n-input clear-value="foobar" placeholder="foobar" data-type="fofofo" icon="fa fa-ghost" :clearable="true" @keydown="() => console.log('keydown')" @button-click="() => console.log('wooso')"></n-input>

            <n-checkbox-group :model-value="['a']">
                <n-checkbox :global="true">global</n-checkbox>
                <n-checkbox :disabled="true" :allow-uncheck="true" value="a">value a</n-checkbox>
                <n-checkbox :disabled="true" value="b">value b</n-checkbox>
                <n-checkbox value="c">value c</n-checkbox>
                <n-checkbox value="d">value d</n-checkbox>
            </n-checkbox-group>

            <n-radio-group :model-value="'b'">
                <n-radio :disabled="true" value="a">value a</n-radio>
                <n-radio :disabled="true" value="b">value b</n-radio>
                <n-radio value="c">value c</n-radio>
                <n-radio value="d">value d</n-radio>
            </n-radio-group>

            <n-select :allow-create="true" :clearable="true" :options="icons"></n-select>

            <n-select :allow-create="true" :multiple="true" :clearable="true" :options="icons"></n-select>

            <n-select :clearable="true" :options="icons"></n-select>

            <n-select :multiple="true" :clearable="true" :options="icons"></n-select>

            <n-button>fooooh baaar1</n-button>
            <n-popover :toggle="true">
                <div style="width: 200px; height: 200px; display: flex; align-items: center; justify-content: center;">
                    <n-button>fooooh baaar2</n-button>
                    <n-popover position="right-center" :toggle="true">
                        <div style="width: 200px; height: 200px; display: flex; align-items: center; justify-content: center;">
                            <n-button>fooooh modal</n-button>
                            <n-drawer>
                                <n-button>fooooh baaar3</n-button>
                                <n-popover position="top-start" :toggle="true">
                                    <div style="width: 200px; height: 200px; display: flex; align-items: center; justify-content: center;">
                                        <n-button>fooooh baaar4</n-button>
                                    </div>
                                </n-popover>
                            </n-drawer>
                        </div>
                    </n-popover>
                </div>
            </n-popover>

            <n-button>fooooh baaar3</n-button>
            <n-popover position="top-start" :toggle="true">
                <div style="width: 200px; height: 200px; display: flex; align-items: center; justify-content: center;">
                    <n-button>fooooh baaar4</n-button>
                </div>
            </n-popover>

            <n-scrollbar>
                <div style="width: 1800px">
                    <div style="display: flex; flex-direction: row; justify-content: flex-start;">
                        <n-resizer dropzone="true" :group="['fff']" flex="0 0 60%" direction="right" style="height: 200px; padding: 20px; background: rgba(110, 110, 110, 0.5);">
                            Resizercontent
                        </n-resizer>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: flex-end;">
                        <n-resizer dropzone="true" :group="['foo', 'fff']" flex="0 0 60%" style="height: 200px; padding: 20px; background: rgba(110, 110, 110, 0.5);" direction="left">
                            Resizercontent
                        </n-resizer>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: flex-start;">
                        <n-resizer dropzone="true" :group="['foo']" flex="0 0 60%" direction="right" style="height: 200px; padding: 20px; background: rgba(110, 110, 110, 0.5);">
                            Resizercontent
                        </n-resizer>
                    </div>
                </div>
            </n-scrollbar>

            <div style="width: 50px; height: 50px; background: cyan;" draggable="true">

            </div>

            <div style="width: 200px; height: 200px; background: lightgoldenrodyellow;" dropzone="true">

            </div>




        </div>

        <n-button icon="fa fa-plus" @click="instance++">Switch instance</n-button>

    </div>
</div>

<!--<script src="https://unpkg.com/@kizmann/pico-js@latest/dist/pico-js.browser.js"></script>-->
<script src="http://mac.local/pico-js/dist/pico-js.browser.js"></script>
<script src="https://unpkg.com/vue@3.5.28"></script>
<script src="http://mac.local/nano-ui/dist/nano-ui.esm.js"></script>
<script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js" defer></script>
<script src="https://maps.googleapis.com/maps/api/js" defer></script>

<script>
    // // Reference to an output container, use 'pre' styling for JSON output
    // var output = document.createElement('code');
    // document.body.appendChild(output);
    //
    // // Reference to native method(s)
    // var oldLog = console.log;
    //
    // console.log = function( ...items) {
    //
    //     // Call native method first
    //     oldLog.apply(this,items);
    //
    //     // Use JSON to transform objects, all others display normally
    //     items.forEach( (item,i)=>{
    //         items[i] = (typeof item === 'object' && item.toString ? item.toString : item);
    //             items[i] = (typeof item === 'object' ? JSON.stringify(item,null,4) : item);
    //     });
    //
    //     output.innerHTML += items.join(' ') + '<br /><br /><br />';
    // };
    //
    // console.error = console.log;
    // console.warn = console.log;
    //
    // // You could even allow Javascript input...
    // function consoleInput( data ) {
    //     // Print it to console as typed
    //     console.log( data + '<br />' );
    //     try {
    //         console.log( eval( data ) );
    //     } catch (e) {
    //         console.log( e.stack );
    //     }
    // }
</script>

<script>
    (function () {

        'use strict';

        pi.Dom.ready(function () {

            console.log('ok?')

            let data = {
                instance: 0, confirmTest: false
            };

            data.sizes = {
                xs: 'XS',
                sm: 'SM',
                md: 'MD',
                lg: 'LG',
                xl: 'XL'
            };

            data.types = {
                primary: 'Primary',
                secondary: 'Secondary',
                success: 'Success',
                warning: 'Warning',
                danger: 'Danger',
                info: 'Info'
            };

            data.themes = {
                auto: 'Auto',
                light: 'Light',
                dark: 'Dark',
            };

            data.drawers = {
                left: 'Left',
                right: 'Right',
            };

            pi.Obj.set(data, 'demoConfigNext.NFormGroup:root', {
                vShow: [
                    '$model.test'
                ],
                props: {
                    label: '$model.label',
                    icon: 'fa fa-directions'
                }
            });

            pi.Obj.set(data, 'demoConfigNext.NFormGroup:root.content.NFormItem:url', {
                props: {
                    label: pi.Locale.trans('URL')
                },
                content: {
                    'NInput': {
                        binds: {
                            modelValue: '$model.option.url'
                        }
                    }
                }
            });

            pi.Obj.set(data, 'demoConfigNext.NFormGroup:root.content.NFormItem:menu', {
                props: {
                    label: pi.Locale.trans('Menu')
                },
                content: {
                    'NInput': {
                        binds: {
                            modelValue: '$model.option.redirect'
                        }
                    }
                }
            });

            data.demoConfig = {
                'NFormGroup:00': {
                    $props: {
                        label: pi.Locale.trans('Redirect'),
                        icon: 'fa fa-directions'
                    },
                    content: {
                        'div:00': {
                            class: 'grid grid--row grid--wrap grid--30',
                            content: {
                                'div:00': {
                                    class: 'col--1-1 col--1-2@sm',
                                    content: {
                                        'NFormItem:00': {
                                            $props: {
                                                label: pi.Locale.trans('URL')
                                            },
                                            content: {
                                                'NInput:00': {
                                                    model: {
                                                        path: 'option.url'
                                                    }
                                                }
                                            }
                                        },
                                    }
                                },
                                'div:10': {
                                    class: 'col--1-1 col--1-2@sm',
                                    content: {
                                        'NFormItem:00': {
                                            $props: {
                                                label: pi.Locale.trans('Menu')
                                            },
                                            content: {
                                                'NInput:00': {
                                                    model: {
                                                        path: 'option.redirect'
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
            };

            data.configData = { label: 'asdasda' };

            data.testData = [];

            let itemGenerator = function (count = 100, index = 0) {
                return pi.Arr.each(pi.Arr.make(count), function (value) {

                    let id = pi.Hash.uuid();

                    return {
                        id: id,
                        value: id,
                        matrix: 10,
                        label: `Item ${index ++}`,
                        image: 'https://picsum.photos/300/300.jpg?' + id,
                        date: pi.Now.make('now').format('YYYY-MM-DD HH:mm:ss', true),
                        enabled: !!Math.floor(Math.random() * 2)
                    };
                });
            };


            data.cascaderData = pi.Arr.each(itemGenerator(5), function (item) {

                let children = pi.Arr.each(itemGenerator(5), function (item) {
                    return pi.Obj.assign(item, { children: itemGenerator(5) });
                });

                return pi.Obj.assign(item, { children: children });
            });

            data.virtualData = Object.freeze(itemGenerator(10000));

            data.virtualTree = pi.Arr.each(itemGenerator(200), function (item) {
                return pi.Obj.assign(item, { children: itemGenerator(10) });
            });


            data.virtualItem = null;

            data.treeSelect = null;
            data.treeMatrix = [data.virtualTree[3]];

            data.foobar = 'huhu';

            data.n_theme = pi.Cookie.get('theme', 'light', 'string');

            pi.Dom.find('body').addClass('n-theme--' + data.n_theme);

            data.n_table = {
                select: null, matrix: []
            };

            data.n_form = {
                size: 'md', conditional: true, modelValue: false
            };

            data.n_tags = {
                size: 'md',
            };

            data.n_rating = {
                size: 'md', choice: 'No stars|:value star|:value stars', disabled: false
            };

            data.n_button = {
                icon: 'fa fa-ghost', size: 'md', square: false, link: false, glass: true, round: false, disabled: false
            };

            data.n_textarea = {
                size: 'md', placeholder: 'Placeholder', autoRows: false, disabled: false
            };

            data.n_input = {
                value: 'Demo', icon: 'fa fa-ghost', size: 'md', placeholder: 'Placeholder', disabled: false
            };

            data.n_number = {
                test: 2, value: 3, size: 'md', placeholder: '', disabled: false, minValue: 0, maxValue: 10
            };

            data.n_select = {
                size: 'md', allowCreate: false, clearable: true, disabled: false
            };

            data.n_cascader = {
                size: 'md', type: 'primary', clearable: true, disabled: false
            };

            data.n_checkbox = {
                size: 'md', type: 'primary', disabled: false
            };

            data.n_radio = {
                size: 'md', type: 'primary', disabled: false
            };

            data.n_slider = {
                size: 'md', disabled: false, temp_value: 30,
            };

            data.n_switch = {
                size: 'md', disabled: false
            };

            data.n_datepicker = {
                size: 'md', type: 'primary', clearable: true, disabled: false
            };

            data.n_timepicker = {
                size: 'md', type: 'primary', clearable: true, disabled: false
            };

            data.n_datetimepicker = {
                size: 'md', type: 'primary', clearable: true, disabled: false
            };

            data.n_durationpicker = {
                size: 'md', type: 'primary', clearable: true, disabled: false, modelValue: 124521
            };

            data.n_transfer = {
                size: 'md', type: 'primary', disabled: false
            };

            data.n_modal = {
                size: 'md', theme: 'auto', disabled: false
            };

            data.n_drawer = {
                size: 'md', theme: 'auto', position: 'right', disabled: false
            };

            data.n_confirm = {
                size: 'md', type: 'primary', disabled: false
            };

            data.n_tabs = {
                value: 'default', size: 'md', type: 'primary', float: false
            };

            data.n_collapse = {
                value: ['default'], size: 'md', type: 'primary', relative: false
            };

            data.n_paginator = {
                size: 'md', type: 'primary'
            };

            data.n_draggable = {
                count: 0
            };

            data.n_loader = {
                size: 'md', type: 'primary', visible: true
            };

            data.n_map = {
                lat: 53.55, lng: 9.99
            };

            data.n_preview = {
                file: null
            };

            let methods = {};

            methods.changeTheme = function (value) {

                pi.Cookie.set('theme', this.n_theme = value);

                pi.Dom.find('body').remClass(['n-theme--dark', 'n-theme--light']);
                pi.Dom.find('body').addClass('n-theme--' + data.n_theme);
            }

            methods.searchLocation = function () {

                console.log(this.n_map.localtion)
            }

            methods.transDrop = function (node) {

                node.uid = pi.Hash.uuid();

                return node;
            }

            methods.log = function (val) {
                console.log(val || 'Log fired');
            };

            methods.notify = function (type) {
                this.Notification.make('Lorem ipsum dolore Lorem ipsum dolore Lorem ipsum dolore', type);
            };

            methods.alert = function (type) {
                this.Alert.make('Lorem ipsum dolore Lorem ipsum dolore Lorem ipsum dolore', type);
            };

            var config = {
                data: function () {

                    this.icons = pi.Obj.assign(nano.Icons, {
                        ghost: 'fa fa-ghost'
                    });

                    data.demoIcons = pi.Arr.reduce(pi.Mix.vals(nano.Icons), function (merge, icon) {
                        return pi.Obj.assign(merge, { [icon]: icon });
                    }, {});

                    return data;
                },
                mounted: function () {
                    let self = this;
                    pi.Run.delay(function () {
                        self.configData.test = 'haha';
                    }, 2000);
                },
                methods: methods
            };

            const App = Vue.createApp(config);

            App.config.devtools = true;

            App.use(function (App) {
                nano.Install(App);
            });

            App.mount('#app');
        });

    })();
</script>

</body>
</html>