@import "../../../root/vars";

.n-table {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: $md-radius + 2;
    border: 1px solid $--color-gray-15;
}

.n-table > .n-scrollbar,
.n-table > .n-scrollbar > .n-scrollbar-content,
.n-table > .n-scrollbar > .n-scrollbar-content > .n-scrollbar__wrap {
    min-width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.n-table > .n-scrollbar > .n-scrollbar-content > .n-scrollbar__wrap {
    width: calc(100% - 1px);
}

.n-table .n-draglist-item {
    border-bottom: 1px solid $color-gray-10;
}

.n-table .n-draglist-item__handle,
.n-table .n-draglist-item__select,
.n-table .n-draglist-item__expand {
    width: 32px;
}

.n-table__checkbox .n-checkbox__label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.n-table__body {
    overflow: hidden;
    flex: 1 1 auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.n-table__body .n-scrollbar {
    flex: 1 1 auto;
}

// .n-table__body .n-scrollbar-content {
//     overflow-x: hidden !important;
// }

// .n-table__body .n-scrollbar--touch .n-scrollbar-content {
//     bottom: 0 !important;
// }

.n-table__body .n-scrollbar-h {
    visibility: hidden !important;
}

.n-table__body .n-scrollbar-v {
    right: 1px;
}

.n-table .n-scrollbar--touch .n-virtualscroller__item {
    right: 17px;
}

.n-table .n-draglist-item__element {
    display: flex;
    flex-direction: row;
}

.n-table .n-table__wrap {
    margin-right: -1px;
    margin-bottom: -1px;
}

.n-table .n-table__header {
    position: relative;
    flex: 0 0 auto;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    border-bottom: 1px solid $--color-gray-15;
    box-shadow: 0 0 3px 1px rgba($color-black, 0.1);
}