@use "../../../root/vars" as *;

.n-draggable__indicator {
    border-bottom: 1px solid $color-primary;
}

.n-draggable__counter {
    color: $color-white;
    background: $color-primary;
}

.n-draggable__counter[class*="n-modify--"] {
    color: $color-white;
    background: $color-warning;
}