@use "../../../root/helpers" as *;

.n-drawer__backdrop {
    background: color('shadow', 0.7);
    backdrop-filter: blur(1.5px);
}

.n-drawer__frame {
    box-shadow: 0 2px 20px color('shadow', 0.1), 0 0 2px color('shadow', 0.15);
}

.n-drawer__frame {
    color: color('text');
    background: color('background');
}

.n-drawer__header {
    border-bottom: 1px solid color('gray-15');
    background: color('background');
}

.n-drawer__footer {
    border-top: 1px solid color('gray-15');
    background: color('background');
}