@use "@kizmann/nano-ui/src/root/helpers" as *;

.n-input-number {
    background: color('form-input');
    border: 1px solid color('gray-15');
}

.n-input-number.n-disabled  {
    background: color('form-disabled');
}

.n-input-number .n-button {
    color: color('gray-60');
}

.n-input-number:not(.n-disabled) .n-button {
    background: color('gray-15', 0.5);
}

.n-input-number:not(.n-disabled) .n-button:not(.n-disabled):hover {
    color: color('base-color');
}

.n-input-number:not(.n-disabled):hover {
    border-color: color('base-color-bg-30');
}

.n-input-number:not(.n-disabled).n-focus {
    border-color: color('base-color');
}
