@use "../../../root/helpers" as *;

.n-input-number {
    background: color('form-input');
    border: 1px solid color('gray-15');
}

.n-input-number.n-disabled {
    background: color('form-disabled');
}

.n-input-number:not(.n-disabled):hover {
    border-color: color('base-color-bg-30');
}

.n-input-number:not(.n-disabled).n-focus {
    border-color: color('base-color');
}

.n-input-number .n-input-number__increase i,
.n-input-number .n-input-number__decrease i {
    color: color('gray-40');
}