@import "../../../root/vars";

.n-input {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    border: 1px solid $color-gray-15;
}

.n-input.n-disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.n-input input {
    appearance: none;
    display: block;
    width: 100%;
    white-space: nowrap;
    text-decoration: none;
    line-height: 1.2;
    border: none;
    background: transparent;
    box-shadow: none;
}

.n-input.n-disabled input  {
    background: rgba($color-gray-15, 0.3);
}

.n-input .n-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.n-input .n-button--input {
    color: $color-gray-60;
}

.n-input.n-input--icon.n-input--icon-before .n-button {
    left: 1px;
}

.n-input.n-input--icon.n-input--icon-after .n-button {
    right: 1px;
}

@each $suffix, $values in $form {

    $-input-font: map-get($values, 'font');
    $-input-size: map-get($values, 'size');
    $-input-radius: map-get($values, 'radius');
    $-input-ratio: map-get($values, 'ratio');

    .n-input--#{$suffix} {
        font-size: $-input-font;
        border-radius: $-input-radius;
    }

    .n-input--#{$suffix} input {
        height: $-input-size - 2;
        padding: 0 $-input-size * $-input-ratio;
    }

    .n-input--#{$suffix}.n-input--icon.n-input--icon-before input {
        padding-left: $-input-size + ($-input-size * $-input-ratio);
    }
    
    .n-input--#{$suffix}.n-input--icon.n-input--icon-after input {
        padding-right: $-input-size + ($-input-size * $-input-ratio);
    }

}

@each $color, $values in $colors {

    $-color-base: map_get($values, 'base');
    $-color-light: map_get($values, 'light');
    $-color-dark: map_get($values, 'dark');

    /**
     * Button primary
     */

    .n-input--#{$color}:not(.n-disabled):hover {
        border-color: $-color-base;
    }

    .n-input--#{$color}:not(.n-disabled).n-focus {
        border-color: $-color-light;
    }

    .n-input--#{$color}:not(.n-disabled) .n-button--input:not(.n-disabled):hover {
        color: $-color-base;
    }

}
