@use "../../../root/helpers" as *;

.n-slider {
    position: relative;
    width: 100%;
    height: size('base-hgt');
}

.n-slider__bar {
    z-index: 1;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -3px;
    height: 6px;
    border-radius: 500px;
}

.n-slider__range {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.n-slider__handle {
    cursor: grab;
    z-index: 10;
    position: absolute !important;
    left: 0;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: size('base-hgt-inline', 'calc($ + 6px)');
    height: size('base-hgt-inline', 'calc($ + 6px)');
    margin-top: size('base-hgt-inline', 'calc(($ + 6px) * -0.5)');
    margin-left: size('base-hgt-inline', 'calc(($ + 6px) * -0.5)');
    border-radius: 500px;
}

.n-disabled .n-slider__handle {
    cursor: not-allowed;
}

.n-slider__handle span {
    position: relative;
    display: block;
    width: 8px;
    height: 8px;
}

.n-slider__handle span:before,
.n-slider__handle span:after {
    content: '\00a0';
    position: absolute;
    top: 0;
    display: block;
    width: 3px;
    height: 100%;
    border-radius: 500px;
}

.n-slider__handle span:before {
    left: 0;
    background: #fff;
}

.n-slider__handle span:after {
    right: 0;
    background: #fff;
}

.n-slider__handle:hover span,
.n-slider__handle.n-move span {
    opacity: 1;
}

.n-slider__bar {
    height: 6px;
}
