@use "@kizmann/nano-ui/src/root/helpers" as *;

.n-slider {
    position: relative;
    width: 100%;
    height: size('base-hgt');
}

.n-slider__bar {
    z-index: 1;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -3px;
    height: 6px;
    border-radius: 500px;
}

.n-slider__range {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.n-slider__handle {
    cursor: grab;
    z-index: 9000;
    position: absolute !important;
    left: 0;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: size('base-hgt', 'calc($ - 12px)');
    height: size('base-hgt', 'calc($ - 12px)');
    margin-top: size('base-hgt', 'calc(($ - 12px) * -0.5)');
    margin-left: size('base-hgt', 'calc(($ - 12px) * -0.5)');
    border-radius: 500px;
}

.n-disabled .n-slider__handle {
    cursor: not-allowed;
}

.n-slider__handle span {
    display: block;
    width: size('base-hgt-inline', 'calc($ - 10px)');
    height: size('base-hgt-inline', 'calc($ - 10px)');
    border-radius: 500px;
}

.n-slider__handle:hover span,
.n-slider__handle.n-move span {
    opacity: 1;
}

.n-slider__bar {
    height: 6px;
}
