@import "../../../root/vars";

.n-slider {
    position: relative;
    width: 100%;
}

.n-slider__bar {
    z-index: 1;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -3px;
    height: 6px;
    border-radius: 500px;
}

.n-slider__range {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.n-slider__handle {
    cursor: grab;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    margin: -10px 0 0 -10px;
    border: 2px solid transparent;
    border-radius: 500px;
}

.n-slider__handle span {
    pointer-events: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 13px;
    display: inline-block;
    opacity: 0;
    transform: translate(-50%, -25%);
    transition: opacity 0.3s;
}

.n-slider__handle:hover span,
.n-slider__handle.n-move span {
    opacity: 1;
}

@each $suffix, $values in $form {

    $-slider-font: map-get($values, 'font');
    $-slider-size: map-get($values, 'size');
    $-slider-radius: map-get($values, 'radius');
    $-slider-ratio: map-get($values, 'ratio');

    .n-slider--#{$suffix} {
        height: 32px;
    }

    .n-slider--#{$suffix} .n-slider__bar {
        margin-top: -#{$-slider-size * 0.1};
        height: $-slider-size * 0.2;
    }

    .n-slider--#{$suffix} .n-slider__handle {
        width: $-slider-size * 0.6;
        height: $-slider-size * 0.6;
        margin: -#{$-slider-size * 0.3} 0 0 -#{$-slider-size * 0.3};
    }

    .n-slider--#{$suffix} .n-slider__handle span {
        padding: $-slider-size * 0.15 $-slider-size * 0.3;
        border-radius: $-slider-radius;
        font-size: $-slider-font - 2;
    }

}
