@import "src/root/helpers";

.n-form-frame {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
}

.n-form-frame__menus {
    flex: 0 0 auto;
}

.n-form-frame__menus .n-scrollbar__wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.n-form-frame__menu {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: size('base-rad');
    text-decoration: none;
    transition: opacity 0.3s;
}

.n-form-frame--search .n-form-frame__menu:not(.on-search) {
    opacity: 0.6;
}

.n-form-frame__menu:before {
    content: '\00a0';
    position: absolute;
    top: 50%;
    display: block;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-radius: 500px;
    opacity: 0;
    transition: opacity 0.3s;
}

.n-form-frame__menu.on-search:before {
    opacity: 1;
}

.n-form-frame__menu:not(:last-child) {
    margin-bottom: 1px;
}

.n-form-frame__menu i {
    flex: 0 0 auto;
    text-align: center;
    transition: opacity 0.3s;
    opacity: 0.7;
}

.n-form-frame__menu.on-search i,
.n-form-frame__menu.is-visible i {
    opacity: 1;
}

.n-form-frame__menu span {
    overflow: hidden;
    flex: 1 1 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: color 0.3s;
}

.n-form-frame__body {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    min-height: 0;
}

.n-form-frame__menus {
    width: size('base-hgt', 'calc($ * 9)');
}

.n-form-frame__menus .n-scrollbar__wrap {
    padding: size('base-pad-vertical', 'calc($ * 2)') size('base-pad', 'calc($ * 2)');
}

.n-form-frame__search {
    margin-bottom: size('base-pad-vertical')
}

.n-form-frame__menu {
    height: size('base-hgt');
    font-size: size('base-fnt');
    border-radius: size('base-rad');
    padding-right: size('base-pad');
}

.n-form-frame__menu:before {
    right: size('base-pad');
}

.n-form-frame__menu i {
    width: size('base-hgt');
    margin: 0 size('base-pad');
}

.n-form-frame__body .n-scrollbar__wrap {
    padding: size('base-pad-vertical', 'calc($ * 2)') size('base-pad', 'calc($ * 2)');
}