@import "../../../root/vars";

.n-info-column__label {
    color: $color-gray-60;
}

.n-info-column__value {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

@each $suffix, $values in $form {

    $-info-font: map-get($values, 'font');
    $-info-size: map-get($values, 'size');
    $-info-radius: map-get($values, 'radius');
    $-info-ratio: map-get($values, 'ratio');

    .n-info--#{$suffix} .n-info__label {
        font-size: $-info-font;
    }

    .n-info--#{$suffix} .n-info__column:not(:last-child) {
        margin-bottom: $-info-size * 0.3;
    }

}