@use "@kizmann/nano-ui/src/root/helpers" as *;

.n-preview-modal {
    z-index: 999999997;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    padding: size('base-hgt') size('base-hgt', 'calc($ * 2.4)');
}

.n-preview-modal i {
    font-size: 1.2em;
}

.n-preview-modal:not(.n-ready) {
    pointer-events: none;
    opacity: 0;
}

.n-preview-modal__close,
.n-preview-modal__prev,
.n-preview-modal__next {
    width: size('base-hgt', 'calc($ * 1.2)');
    height: size('base-hgt', 'calc($ * 1.2)');
}

.n-preview-modal__close {
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: size('base-hgt', 'calc($ * 0.5)');
    right: size('base-hgt', 'calc($ * 0.5)');
    display: flex;
    align-items: center;
    justify-content: center;
}

.n-preview-modal .n-preview-frame {
    background: transparent !important;
}

.n-preview-modal__prev,
.n-preview-modal__next {
    cursor: pointer;
    z-index: 500;
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
}

.n-preview-modal.n-multi .n-preview-modal__prev,
.n-preview-modal.n-multi .n-preview-modal__next {
    display: flex;
}

.n-preview-modal__prev {
    left: size('base-hgt', 'calc($ * 0.5)');
}

.n-preview-modal__next {
    right: size('base-hgt', 'calc($ * 0.5)');
}