@import "../../../root/vars";

.n-checkbox {
    cursor: default;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: stretch;
}

.n-checkbox.n-disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.n-checkbox__checkbox {
    flex: 0 0 auto;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $color-black;
    border: 1px solid $color-gray-15;
    transition: border 0.15s, background 0.15s;
}

.n-checkbox__checkbox span {
    opacity: 0;
}

.n-checkbox.n-checked .n-checkbox__checkbox span,
.n-checkbox.n-intermediate .n-checkbox__checkbox span {
    opacity: 1;
}


.n-checkbox.n-disabled .n-checkbox__checkbox  {
    background: rgba($color-gray-15, 0.3);
}

@each $suffix, $values in $form {

    $-checkbox-font: map-get($values, 'font');
    $-checkbox-size: map-get($values, 'size');
    $-checkbox-radius: map-get($values, 'radius');
    $-checkbox-ratio: map-get($values, 'ratio');

    .n-checkbox--#{$suffix} {
        min-height: $-checkbox-size;
        font-size: $-checkbox-font;
    }

    .n-checkbox--#{$suffix} .n-checkbox__checkbox {
        font-size: $-checkbox-font - 4;
        width: $-checkbox-size - 16;
        height: $-checkbox-size - 16;
        border-radius: $-checkbox-radius - 1;
    }

    $-checkbox-padding: $-checkbox-size * $-checkbox-ratio;

    .n-checkbox--#{$suffix} .n-checkbox__label {
        padding: 0 0 0 $-checkbox-padding * 0.5;
    }

}

@each $color, $values in $colors {

    $-color-base: map_get($values, 'base');
    $-color-light: map_get($values, 'light');
    $-color-dark: map_get($values, 'dark');

    /**
     * Button primary
     */

    .n-checkbox--#{$color}:not(.n-disabled):hover .n-checkbox__checkbox {
        border-color: $-color-base;
    }

    .n-checkbox--#{$color}.n-checked:not(.n-disabled) .n-checkbox__checkbox,
    .n-checkbox--#{$color}.n-intermediate:not(.n-disabled) .n-checkbox__checkbox {
        color: $color-white;
        background: $-color-base;
        border-color: $-color-base;
    }

    .n-checkbox--#{$color}.n-checked:not(.n-disabled) .n-checkbox__checkbox:not(.n-disabled):hover,
    .n-checkbox--#{$color}.n-intermediate:not(.n-disabled) .n-checkbox__checkbox:not(.n-disabled):hover {
        background: $-color-light;
        border-color: $-color-light;
    }

    .n-checkbox--#{$color}.n-checked:not(.n-disabled) .n-checkbox__label {
        color: $-color-base;
    }

}
