@use "../../root/css/helpers" as *;

.n-preview-modal {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.n-preview-modal i {
    font-size: 1.2em;
}

.n-preview-modal:not(.n-ready) {
    pointer-events: none;
    opacity: 0;
}

.n-preview-modal__close,
.n-preview-modal__prev,
.n-preview-modal__next {
    width: size('base-hgt', 'calc($ * 1.2)');
    height: size('base-hgt', 'calc($ * 1.2)');
}

.n-preview-modal__close {
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: size('base-hgt', 'calc($ * 0.5)');
    right: size('base-hgt', 'calc($ * 0.5)');
    display: flex;
    align-items: center;
    justify-content: center;
}

.n-preview-modal__prev,
.n-preview-modal__next {
    cursor: pointer;
    z-index: 500;
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
}

.n-preview-modal.n-multi .n-preview-modal__prev,
.n-preview-modal.n-multi .n-preview-modal__next {
    display: flex;
}

.n-preview-modal__prev {
    left: size('base-hgt', 'calc($ * 0.5)');
}

.n-preview-modal__next {
    right: size('base-hgt', 'calc($ * 0.5)');
}

.n-preview-modal__frame {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
    height: 100vh;
}

//.n-preview-modal.n-multi .n-preview-modal__frame {
//    left: -100vw;
//    width: 300vw;
//}

//.n-preview-modal.n-triple .n-preview-modal__frame {
//    left: -100vw;
//    width: 300vw;
//}


.n-preview-modal__slide {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    width: 100vw;
    height: 100vh;
    padding: 20px 80px;
    transform: translateX(0);
}

.n-preview-modal__slide.n-animate-left,
.n-preview-modal__slide.n-animate-right {
    opacity: 0;
    transition: transform 0.3s, opacity 0.2s;
}

.n-preview-modal__slide.n-animate-left {
    transform: translateX(-30vw) translateZ(0);
}

.n-preview-modal__slide.n-animate-right {
    transform: translateX(30vw) translateZ(0);
}

.n-preview-modal__slide > div {
    pointer-events: visible;
    position: relative;
    flex: 0 1 auto;
    max-height: 100%;
    max-width: 100%;
    display: inline-flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //background: rgba(255, 0, 0, 0.3);
}

.n-preview-modal__slide,
.n-preview-modal__slide > div {
    pointer-events: none;
}

.n-preview-modal__slide > div > * {
    pointer-events: auto;
}