@import "../../../root/vars";

.n-scrollbar {
    position: relative;
    overflow: hidden;
}

.n-scrollbar-content {
    position: absolute;
    top: 0;
    left: 0;
    right: -15px;
    bottom: -15px;
}

.n-scrollbar > .n-scrollbar-content {
    z-index: 1;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.n-scrollbar-v,
.n-scrollbar-h {
    position: absolute;
    z-index: 2;
    user-select: none;
    transition: transform 0.05s;
}

.n-scrollbar-v {
    top: 0;
    right: 0;
    width: 10px;
}

.n-scrollbar-h {
    left: 0;
    bottom: 0;
    height: 10px;
}

.n-scrollbar-v:before,
.n-scrollbar-h:before {
    content: '\00a0';
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    display: block;
    border-radius: 500px;
    background: rgba($color-black, 0.3);
}

.n-scrollbar:not(.has-vtrack) > .n-scrollbar-v,
.n-scrollbar:not(.has-htrack) > .n-scrollbar-h {
    display: none;
}
