@use "../../../root/helpers" as *;

.n-drawer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.n-drawer.n-hidden {
    display: none;
}

.n-drawer__backdrop {
    z-index: 10;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 0.3s;
}

.n-drawer:not(.n-ready) .n-drawer__backdrop {
    opacity: 0;
}

.n-drawer__frame {
    z-index: 20;
    overflow: hidden;
    position: relative;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 100%;
    height: 100vh;
    margin: auto;
    transform: translateX(0);
    transition: opacity 0.2s 0.1s ease-out, transform 0.2s 0.1s ease-out;
}

.n-drawer:not(.n-ready) .n-drawer__frame {
    opacity: 0;
}

.n-drawer--right:not(.n-ready) .n-drawer__frame {
    transform: translateX(20px);
}

.n-drawer--left:not(.n-ready) .n-drawer__frame {
    transform: translateX(-20px);
}

.n-drawer--right > .n-drawer__frame {
    margin: 0 0 0 auto;
}

.n-drawer--left > .n-drawer__frame {
    margin: 0 auto 0 0;
}

.n-drawer__header {
    position: relative;
    flex: 0 0 auto;
}

.n-drawer__body {
    overflow: hidden;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.n-drawer .n-drawer__wrap {
    flex: 1 1 auto;
}

.n-drawer__footer {
    flex: 0 0 auto;
}

.n-drawer__close {
    cursor: default;
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    opacity: 0.3;
    transition: opacity 0.15s;
}

.n-drawer__close:hover {
    opacity: 0.6;
}

.n-drawer {
    font-size: size('base-fnt');
}

.n-drawer--left .n-drawer__frame {
    //border-radius: 0 size('base-rad-window') size('base-rad-window') 0;
}

.n-drawer--right .n-drawer__frame {
    //border-radius: size('base-rad-window') 0 0 size('base-rad-window');
}

.n-drawer__header {
    padding: size('base-pad-vertical', 'calc($ * 2)') size('base-pad', 'calc($ * 2)');
}

.n-drawer.n-closable .n-drawer__header {
    padding-right: calc(#{"(#{size('base-pad')} * 2) + #{size('base-hgt')}"});
}

.n-drawer:not(.n-raw) .n-drawer__wrap {
    padding: size('base-pad-vertical', 'calc($ * 2)') size('base-pad', 'calc($ * 2)');
}

.n-drawer__footer {
    padding: size('base-pad-vertical', 'calc($ * 2)') size('base-pad', 'calc($ * 2)');
}

.n-drawer__close {
    width: size('base-hgt');
    height: size('base-hgt');
    right: size('base-pad');
}
