@import "../../../root/vars";

.n-cascader {
    cursor: default;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
}

.n-cascader.n-disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.n-cascader__display {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
}

.n-cascader__clear,
.n-cascader__angle {
    order: 100;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.n-cascader__clear {
    display: none;
}

.n-cascader:hover.n-clearable:not(.n-empty) .n-cascader__clear,
.n-cascader.n-focus.n-clearable:not(.n-empty) .n-cascader__clear {
    display: flex;
}

.n-cascader:hover.n-clearable:not(.n-empty) .n-cascader__angle,
.n-cascader.n-focus.n-clearable:not(.n-empty) .n-cascader__angle {
    display: none;
}

.n-cascader__angle {
    transition: transform 0.25s;
}

.n-cascader.n-focus .n-cascader__angle {
    transform: scaleY(-1);
}

.n-cascader__clear i,
.n-cascader__angle i {
    text-align: center;
}

.n-cascader__clear i {
    border-radius: 500px;
}

.n-cascader__items,
.n-cascader__placeholder {
    overflow: hidden;
    flex: 1 1 auto;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.n-cascader__item {
    overflow: hidden;
    flex: 0 1 auto;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.n-cascader__item:not(:last-child):after {
    content: '/';
    opacity: 0.3;
}

.n-cascader__item span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.n-cascader__body,
.n-cascader__empty {
    overflow: hidden;
    margin: 1px 0;
    max-height: 210px;
    border: 0;
}

.n-cascader__empty {
    text-align: center;
}

@each $suffix, $values in $form {

    $-cascader-font: map-get($values, 'font');
    $-cascader-size: map-get($values, 'size');
    $-cascader-radius: map-get($values, 'radius');
    $-cascader-ratio: map-get($values, 'ratio');

    .n-cascader--#{$suffix} {
        min-height: $-cascader-size;
        font-size: $-cascader-font;
        border-radius: $-cascader-radius;
    }

    $-cascader-padding: $-cascader-size * $-cascader-ratio * 0.5;

    .n-cascader--#{$suffix} .n-cascader__display,
    .n-cascader--#{$suffix} .n-cascader__placeholder {
        padding: 0 $-cascader-padding;
    }

    .n-cascader--#{$suffix} .n-cascader__clear,
    .n-cascader--#{$suffix} .n-cascader__angle {
        width: $-cascader-size;
        margin: 0 -#{$-cascader-padding} 0 -#{$-cascader-padding};
    }
    .n-cascader--#{$suffix} .n-cascader__clear i,
    .n-cascader--#{$suffix} .n-cascader__angle i {
        width: $-cascader-size - 14;
        height: $-cascader-size - 14;
        line-height: $-cascader-size - 14;
    }

    .n-cascader--#{$suffix} .n-cascader__angle i {
        font-size: $-cascader-font - 2;
    }

    .n-cascader--#{$suffix} .n-cascader__clear i {
        font-size: $-cascader-font - 4;
    }

    .n-cascader--#{$suffix} .n-cascader__items {
        padding: 0 $-cascader-padding * 0.5;
    }

    .n-cascader--#{$suffix} .n-cascader__item {
        padding: 0 $-cascader-padding * 0.5;
    }

    .n-cascader--#{$suffix} .n-cascader__item:after {
        margin-left: $-cascader-padding;
    }

    .n-popover--#{$suffix} .n-cascader__body,
    .n-popover--#{$suffix} .n-cascader__empty {
        border-radius: $-cascader-radius;
    }

    .n-popover--#{$suffix} .n-cascader__empty {
        padding: $-cascader-padding;
    }

}
