@use "../../../root/helpers" as *;

.n-timepicker {
    background: color('form-input');
    border: 1px solid color('gray-15');
}

.n-timepicker:not(.n-disabled):hover {
    border-color: color('base-color-bg-30');
}

.n-timepicker:not(.n-disabled).n-focus {
    border-color: color('base-color');
}

.n-timepicker.n-disabled {
    background: color('form-disabled');
}

.n-timepicker__seperator {
    color: color('gray-60');
}

.n-timepicker__clear,
.n-timepicker__angle {
    color: color('gray-60');
}

.n-timepicker__clear i {
    background: color('gray-50', 0.2);
}

.n-timepicker__placeholder {
    color: color('foreground', 0.5);
}

.n-timepicker__body,
.n-timepicker__empty {
     background: color('form-input');
}

.n-timepicker__empty {
     color: color('gray-60');
}