@import "src/root/helpers";

.n-empty-icon__text {
    color: color('text', 0.4);
}

.n-empty-icon__frame {
    background: color('text', 0.8);
}

.n-empty-icon--default .n-empty-icon__frame {
    mask: svg-load('empty.svg') no-repeat center / contain;
}

.n-empty-icon--ufo .n-empty-icon__frame {
    mask: svg-load('empty-ufo.svg') no-repeat center / contain;
}
