@use "../../../root/vars" as *;

.n-empty-icon--default .n-empty-icon__frame {
    background-image: svg-load('empty-default.svg', fill=$color-foreground);
}

.n-empty-icon--ufo .n-empty-icon__frame {
    background-image: svg-load('empty-space.svg', fill=$color-foreground);
}

.n-empty-icon__text {
    color: rgba($color-foreground, 0.4);
}
