@use "@kizmann/nano-ui/src/root/helpers" as *;

.n-datepicker-panel {
    background: color('form-input');
}

div:not(.n-popover,.n-datetimepicker-panel) > .n-datepicker-panel {
    border: 1px solid color('gray-15');
}

.n-datepicker-panel__header {
    border-bottom: 1px solid color('gray-15');
}

.n-datepicker-panel__footer {
    border-top: 1px solid color('gray-10');
}

.n-datepicker-panel__display .n-datepicker-panel__month:hover,
.n-datepicker-panel__display .n-datepicker-panel__year:hover {
    background: color('gray-15', 0.6);
}

.n-datepicker-panel .n-datepicker-panel__body .n-datepicker-panel__day.n-selected,
.n-datepicker-panel .n-datepicker-panel__body .n-datepicker-panel__month.n-selected,
.n-datepicker-panel .n-datepicker-panel__body .n-datepicker-panel__year.n-selected {
    color: color('base-text');
    background: color('base-color');
}

.n-datepicker-panel__dateview .n-datepicker-panel__day.n-arrive:not(.n-selected),
.n-datepicker-panel__dateview .n-datepicker-panel__day.n-depart:not(.n-selected),
.n-datepicker-panel__dateview .n-datepicker-panel__day.n-between:not(.n-selected) {
    background: color('gray-15', 0.6);
}

.n-datepicker-panel__body .n-datepicker-panel__day:not(.n-current)  {
    color: color('gray-40');
}
