@use "./vars";

@mixin NanoBoxshadowSm() {
    box-shadow: 0 1px 6px rgba($color-shadow, 0.2), 0 0 2px rgba($color-shadow, 0.15);
};

@mixin NanoBoxshadowMd() {
    box-shadow: 0 2px 10px rgba($color-shadow, 0.3), 0 0 2px rgba($color-shadow, 0.15);
};

@mixin NanoBoxshadowLg() {
    box-shadow: 0 2px 20px rgba($color-shadow, 0.1), 0 0 2px rgba($color-shadow, 0.15);
};

@mixin NanoBackdropDefault() {
    background: rgba($color-shadow, 0.7);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
}

@mixin NanoBackdropFocus() {
    background: rgba($color-shadow, 0.8);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
}

@mixin NanoBackdropBlur() {
    background: rgba($color-shadow, 0.95);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}