@import "../../../root/vars";

/**
 * Fix flickering by set transition delay
 */

.n-draggable-item {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    box-sizing: border-box;
    transition: background 0ms 100ms;
}

.n-dragged .n-draggable-item.n-selected {
    opacity: 0.5;
}

.n-draggable-item.n-dragover {
    background: rgba($color-primary, 0.1);
    transition: background 0ms;
}

.n-draggable-item.n-nodrop {
    background: rgba($color-danger, 0.1);
    transition: background 0ms;
}

.n-draggable-item__spacer {
    flex: 0 0 auto;
}

.n-draggable-item__collapse,
.n-draggable-item__select {
    cursor: pointer;
    flex: 0 0 auto;
    width: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.n-draggable-item__collapse > div,
.n-draggable-item__select > div {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.n-draggable-item:not(.n-collapsed) .n-draggable-item__collapse > div {
    transform: rotate(90deg);
}