@use "sass:color";

$color-white:           #ffffff !default;
$color-black:           #111111 !default;

$color-foreground:      $color-white !default;
$color-background:      $color-black !default;

$color-gray-05:         color.mix($color-foreground, $color-background, 0.05 * 100%) !default;
$color-gray-10:         color.mix($color-foreground, $color-background, 0.10 * 100%) !default;
$color-gray-15:         color.mix($color-foreground, $color-background, 0.15 * 100%) !default;
$color-gray-20:         color.mix($color-foreground, $color-background, 0.20 * 100%) !default;
$color-gray-25:         color.mix($color-foreground, $color-background, 0.25 * 100%) !default;
$color-gray-30:         color.mix($color-foreground, $color-background, 0.30 * 100%) !default;
$color-gray-35:         color.mix($color-foreground, $color-background, 0.35 * 100%) !default;
$color-gray-40:         color.mix($color-foreground, $color-background, 0.40 * 100%) !default;
$color-gray-45:         color.mix($color-foreground, $color-background, 0.45 * 100%) !default;
$color-gray-50:         color.mix($color-foreground, $color-background, 0.50 * 100%) !default;
$color-gray-55:         color.mix($color-foreground, $color-background, 0.55 * 100%) !default;
$color-gray-60:         color.mix($color-foreground, $color-background, 0.60 * 100%) !default;
$color-gray-65:         color.mix($color-foreground, $color-background, 0.65 * 100%) !default;
$color-gray-70:         color.mix($color-foreground, $color-background, 0.70 * 100%) !default;
$color-gray-75:         color.mix($color-foreground, $color-background, 0.75 * 100%) !default;
$color-gray-80:         color.mix($color-foreground, $color-background, 0.80 * 100%) !default;
$color-gray-85:         color.mix($color-foreground, $color-background, 0.85 * 100%) !default;
$color-gray-90:         color.mix($color-foreground, $color-background, 0.90 * 100%) !default;
$color-gray-95:         color.mix($color-foreground, $color-background, 0.95 * 100%) !default;

$color-form:            $color-gray-05 !default;
$color-input:           $color-gray-05 !default;
$color-input-off:       $color-background !default;

$color-secondary:       #d31f9d !default;
$color-primary:         #2F89FE !default;

$color-success:         #06C493 !default;
$color-warning:         #FFBF3F !default;
$color-danger:          #F9536E !default;
$color-info:            #4BD6F9 !default;

$color-shadow:              #000 !default;


$color-white-light:         $color-white !default;
$color-white-lighter:       $color-white !default;

$color-white-dark:          color.mix($color-gray-50, $color-white, 5%) !default;
$color-white-darker:        color.mix($color-gray-50, $color-white, 10%) !default;

$color-black-light:         color.mix($color-gray-50, $color-black, 5%) !default;
$color-black-lighter:       color.mix($color-gray-50, $color-black, 10%) !default;

$color-black-dark:          $color-black !default;
$color-black-darker:        $color-black !default;


$color-primary-light:       color.adjust(color.mix($color-white, $color-primary, 10%), $lightness: 5%) !default;
$color-primary-lighter:     color.adjust(color.mix($color-white, $color-primary, 20%), $lightness: 5%) !default;

$color-primary-dark:        color.adjust(color.mix($color-black, $color-primary, 10%), $lightness: -5%) !default;
$color-primary-darker:      color.adjust(color.mix($color-black, $color-primary, 20%), $lightness: -5%) !default;


$color-secondary-light:     color.adjust(color.mix($color-white, $color-secondary, 10%), $lightness: 5%) !default;
$color-secondary-lighter:   color.adjust(color.mix($color-white, $color-secondary, 20%), $lightness: 5%) !default;

$color-secondary-dark:      color.adjust(color.mix($color-black, $color-secondary, 10%), $lightness: -5%) !default;
$color-secondary-darker:    color.adjust(color.mix($color-black, $color-secondary, 20%), $lightness: -5%) !default;


$color-success-light:       color.adjust(color.mix($color-white, $color-success, 10%), $lightness: 5%) !default;
$color-success-lighter:     color.adjust(color.mix($color-white, $color-success, 20%), $lightness: 5%) !default;

$color-success-dark:        color.adjust(color.mix($color-black, $color-success, 10%), $lightness: -5%) !default;
$color-success-darker:      color.adjust(color.mix($color-black, $color-success, 20%), $lightness: -5%) !default;


$color-warning-light:       color.adjust(color.mix($color-white, $color-warning, 10%), $lightness: 5%) !default;
$color-warning-lighter:     color.adjust(color.mix($color-white, $color-warning, 20%), $lightness: 5%) !default;

$color-warning-dark:        color.adjust(color.mix($color-black, $color-warning, 10%), $lightness: -5%) !default;
$color-warning-darker:      color.adjust(color.mix($color-black, $color-warning, 20%), $lightness: -5%) !default;


$color-danger-light:        color.adjust(color.mix($color-white, $color-danger, 10%), $lightness: 5%) !default;
$color-danger-lighter:      color.adjust(color.mix($color-white, $color-danger, 20%), $lightness: 5%) !default;

$color-danger-dark:         color.adjust(color.mix($color-black, $color-danger, 10%), $lightness: -5%) !default;
$color-danger-darker:       color.adjust(color.mix($color-black, $color-danger, 20%), $lightness: -5%) !default;

$color-info-light:          color.adjust(color.mix($color-white, $color-info, 10%), $lightness: 5%) !default;
$color-info-lighter:        color.adjust(color.mix($color-white, $color-info, 20%), $lightness: 5%) !default;

$color-info-dark:           color.adjust(color.mix($color-black, $color-info, 10%), $lightness: -5%) !default;
$color-info-darker:         color.adjust(color.mix($color-black, $color-info, 20%), $lightness: -5%) !default;

$color-background-light:    color.adjust(color.mix($color-white, $color-background, 10%), $lightness: 5%) !default;
$color-background-lighter:  color.adjust(color.mix($color-white, $color-background, 20%), $lightness: 5%) !default;

$color-background-dark:     color.adjust(color.mix($color-black, $color-background, 10%), $lightness: -5%) !default;
$color-background-darker:   color.adjust(color.mix($color-black, $color-background, 20%), $lightness: -5%) !default;

$xs-radius:                 2px !default;
$sm-radius:                 4px !default;
$md-radius:                 6px !default;
$lg-radius:                 8px !default;
$xl-radius:                 12px !default;

$form: (
        'xs': (
                'size': 26px,
                'font': 11px,
                'radius': $xs-radius,
                'ratio': 0.40,
        ),
        'sm': (
                'size': 28px,
                'font': 13px,
                'radius': $sm-radius,
                'ratio': 0.40,
        ),
        'md': (
                'size': 32px,
                'font': 15px,
                'radius': $md-radius,
                'ratio': 0.40,
        ),
        'lg': (
                'size': 36px,
                'font': 16px,
                'radius': $lg-radius,
                'ratio': 0.40,
        ),
) !default;

$colors: (
        'primary': (
                'base': $color-primary,
                'light': $color-primary-light,
                'dark': $color-primary-dark
        ),
        'secondary': (
                'base': $color-secondary,
                'light': $color-secondary-light,
                'dark': $color-secondary-dark
        ),
        'info': (
                'base': $color-info,
                'light': $color-info-light,
                'dark': $color-info-dark
        ),
        'success': (
                'base': $color-success,
                'light': $color-success-light,
                'dark': $color-success-dark
        ),
        'warning': (
                'base': $color-warning,
                'light': $color-warning-light,
                'dark': $color-warning-dark
        ),
        'danger': (
                'base': $color-danger,
                'light': $color-danger-light,
                'dark': $color-danger-dark
        ),
) !default;

$popover: (
        'default': (
                'color': $color-foreground,
                'border': $color-gray-15,
                'header': $color-form,
                'body': $color-form,
                'footer': $color-form,
        ),
        'negative': (
                'color': $color-background,
                'border': $color-gray-95,
                'header': $color-foreground,
                'body': $color-foreground,
                'footer': $color-foreground,
        )
) !default;

$modal: (
        'default': (
                'color': $color-foreground,
                'border': $color-gray-10,
                'header': color.mix($color-background, $color-form, 50%),
                'body': $color-background,
                'footer': $color-background,
        ),
        'preview': (
                'color': $color-white,
                'border': $color-gray-95,
                'header': $color-black,
                'body': $color-black,
                'footer': $color-black,
        )
) !default;

$drawer: (
        'default': (
                'color': $color-foreground,
                'border': $color-gray-10,
                'header': color.mix($color-background, $color-form, 50%),
                'body': $color-background,
                'footer': $color-background,
        )
) !default;

$colors-tags: (
        '0': color.mix($color-secondary, $color-secondary, 65%),
        '1': color.mix($color-primary, $color-secondary, 65%),
        '2': color.mix($color-danger, $color-secondary, 65%),
        '3': color.mix($color-success, $color-secondary, 65%),
        '4': color.mix($color-warning, $color-secondary, 65%),
        '5': color.mix($color-primary, $color-success, 65%),
        '6': color.mix($color-secondary, $color-success, 65%),
        '7': color.mix($color-danger, $color-success, 65%),
        '8': color.mix($color-success, $color-success, 65%),
        '9': color.mix($color-warning, $color-success, 65%),
        '10': color.mix($color-primary, $color-danger, 65%),
        '11': color.mix($color-secondary, $color-danger, 65%),
        '12': color.mix($color-danger, $color-danger, 65%),
        '13': color.mix($color-success, $color-danger, 65%),
        '14': color.mix($color-warning, $color-danger, 65%),
        '15': color.mix($color-primary, $color-warning, 65%),
        '16': color.mix($color-secondary, $color-warning, 65%),
        '17': color.mix($color-danger, $color-warning, 65%),
        '18': color.mix($color-success, $color-warning, 65%),
        '19': color.mix($color-warning, $color-warning, 65%),
) !default;