@use "../../root/css/helpers" as *;

[data-tooltip] {
    position: relative;
}

[data-tooltip=""]:before,
[data-tooltip-inv=""]:before,
[data-tooltip=""]:after,
[data-tooltip-inv=""]:after {
    display: none !important;
}

[data-tooltip]:before,
[data-tooltip-inv]:before,
[data-tooltip]:after,
[data-tooltip-inv]:after {
    z-index: 999999999;
    position: absolute;
    display: inline-flex;
    opacity: 0;
    visibility: hidden;
}

[data-tooltip]:before {
    bottom: calc(100% + 5px);
}

[data-tooltip-inv]:before {
    top: calc(100% + 5px);
}

[data-tooltip]:before,
[data-tooltip-inv]:before {
    padding: size('base-pad-vertical', 'calc($ * 0.5)') size('base-pad');
    font-size: size('base-fnt-label');
    border-radius: size('base-rad');
}

[data-tooltip]:after,
[data-tooltip-inv]:after {
    content: '\00a0';
    width: 28px;
    height: 6px;
}

[data-tooltip]:after {
    bottom: 100%;
}

[data-tooltip-inv]:after {
    top: 100%;
}

[data-tooltip]:before{
    content: attr(data-tooltip);
}

[data-tooltip-inv]:before {
    content: attr(data-tooltip-inv);
}

[data-tooltip]:before,
[data-tooltip-inv]:before,
[data-tooltip]:after,
[data-tooltip-inv]:after {
    left: 50%;
    transform: translateX(-50%);
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip].n-move:before,
[data-tooltip].n-move:after {
    opacity: 1;
    visibility: visible;
}

[data-tooltip-inv]:hover:before,
[data-tooltip-inv]:hover:after,
[data-tooltip-inv].n-move:before,
[data-tooltip-inv].n-move:after {
    opacity: 1;
    visibility: visible;
}

[data-tooltip]:before,
[data-tooltip-inv]:before,
[data-tooltip]:after,
[data-tooltip-inv]:after {
    background: color('tooltip', 0.95);
    transition: opacity 0.2s;
}

[data-tooltip]:before,
[data-tooltip-inv]:before {
    color: color('white');
}

[data-tooltip]:after{
    mask: svg-load('angle-down.svg') no-repeat center 0 / contain;
}

[data-tooltip-inv]:after {
    mask: svg-load('angle-up.svg') no-repeat center 0 / contain;
}