@import "../../../root/vars";

.n-loader {
    position: relative;
}

.n-load:before {
    content: '\00a0';
    z-index: 8001;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 30px;
    height: 30px;
    margin: -15px 0 0 -15px;
    border-radius: 500px;
    border: 2px solid $color-primary;
    border-bottom-color: transparent !important;
    animation: NLoading 1s linear infinite;
}

.n-load .n-load:before {
    display: none !important;
}

.n-load:after {
    content: '\00a0';
    z-index: 8000;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba($color-white, 0.7);
}

.n-load .n-load:after {
    display: none !important;
}

@keyframes NLoading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@each $suffix, $values in $form {

    $-loader-font: map-get($values, 'font');
    $-loader-size: map-get($values, 'size');
    $-loader-radius: map-get($values, 'radius');
    $-loader-ratio: map-get($values, 'ratio');

    $-loader-calc: round(($-loader-size / 1px) * ($-loader-font / 2px) * 0.085);

    .n-loader--#{$suffix}.n-load:before {
        width: #{($-loader-calc * 2)  + 'px'};
        height: #{($-loader-calc * 2)  + 'px'};
        margin: -#{$-loader-calc + 'px'} 0 0 -#{$-loader-calc + 'px'};
    }

}

@each $color, $values in $colors {

    $-color-base: map_get($values, 'base');
    $-color-light: map_get($values, 'light');
    $-color-dark: map_get($values, 'dark');

    .n-loader--#{$color}.n-load:before {
        border-color: $-color-base;
    }

}
