@use "src/root/helpers" as *;

.n-checkbox__checkbox {
    color: color('foreground');
    background: color('form-input');
    border: 1px solid color('gray-15');
}

.n-checkbox.n-disabled .n-checkbox__checkbox  {
    background: color('form-disabled');
}

.n-checkbox:not(.n-disabled):hover .n-checkbox__checkbox {
    border-color: color('base-color-bg-30');
}

.n-checkbox.n-checked:not(.n-disabled) .n-checkbox__checkbox,
.n-checkbox.n-intermediate:not(.n-disabled) .n-checkbox__checkbox {
    color: color('base-text');
    background: color('base-color');
    border-color: color('base-color');
}

.n-checkbox.n-checked:not(.n-disabled) .n-checkbox__label {
    color: color('base-color');
}