@use "src/root/helpers" as *;

.n-tabs-item {
    flex: 1 1 auto;
    min-height: 0;
}

.n-tabs-item:not(.n-scrollbar),
.n-tabs-item.n-scrollbar .n-scrollbar__wrap {
    padding-top: size('base-pad-vertical', 'calc($ * 2)');
}

.n-tabs.n-float .n-tabs-item:not(.n-scrollbar),
.n-tabs.n-float .n-tabs-item.n-scrollbar .n-scrollbar__wrap {
    padding-top: calc(#{"(#{size('base-pad-vertical')} * 2) + #{size('base-hgt')}"});
}

.n-tabs__tab-label span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.n-tabs__tab-icon {
    margin-right: size('base-pad');
}

.n-tabs__tab-icon i {
    font-size: size('base-fnt-icon');
}