@import "../../../root/vars";

$tabs-size: 14px;

.n-tabs-item {
    flex: 1 0 auto;
}

@each $suffix, $values in $form {

    $-tabs-font: map-get($values, 'font');
    $-tabs-size: map-get($values, 'size');
    $-tabs-radius: map-get($values, 'radius');
    $-tabs-ratio: map-get($values, 'ratio');

    .n-tabs--#{$suffix} .n-tabs-item {
        margin-top: $-tabs-size;
    }

}